
.m-menu_nav {
  /* Background */
  background: var(--primary);

  /* Display */
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-flow: row nowrap;
  grid-area: var(--m-menu-template-nav);

  /* Text */
  font-size: 1.5rem;
  text-align: center;
}

.m-menu_nav_tab {
  /* Display */
  flex: 1;
  padding: 2rem;

  /* Position */
  /*margin: var(--gutter);*/
  position: relative;
  /*z-index: 10;*/

  /* UX */
  cursor: pointer;
}

.m-menu_nav_tab--active {
  /* Background */
  background: var(--primary);
}

.m-menu_nav_tab_decal {
  /* Display */
  display: none;
  fill: var(--primaryLight);
  padding: 4px;

  /* Size */
  height: 100%;
  width: 100%;

  /* Position */
  left: 0;
  position: absolute;
  top: 0;
}

.m-menu_nav_tab--active > .m-menu_nav_tab_decal {
  display: unset;
}

.m-menu_nav_tab_text {
  /* Display */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Position */
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
