
.componentsEditor {
    padding-left: 20px;
}

.title {
    display: flex;
    font-size: 16px;
    line-height: 2;
    color: #fff;
    margin-bottom: 10px;
}

.item {
    position: relative;
    height: 33px;
    margin-bottom: 7px;
    display: flex;
}

.itemKey {
    float: left;
    width: 90px;
    color: #000;
    line-height: 27px;
    outline: none;
}

.lock {
    position: absolute;
    left: 5px;
    top: 9px;
    width: 10px;
    height: 10px;
    display: none;
}

.item.disabled .lock {
    display: block;
}

.itemRemove {
    float: left;
    color: rgb(226, 115, 115);
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 200ms ease;
    padding: 1px 8px;
    margin-left: -20px;
}

.item.disabled .itemRemove {
    visibility: hidden;
}

.item:hover .itemRemove {
    opacity: 0.5;
}

.itemRemove:hover {
    opacity: 1 !important;
}

.itemEdit {
    float: left;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-top: 9px;
    margin-right: 9px;
    opacity: 0;
    transition: opacity 200ms ease;
}

.item.disabled .itemEdit {
    visibility: hidden;
}

.item:hover .itemEdit {
    opacity: 0.5;
}

.itemEdit:hover {
    opacity: 1 !important;
}

.itemApply {
    float: left;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-top: 9px;
    margin-right: 9px;
    opacity: 0;
    transition: opacity 200ms ease;
}

.item:hover .itemApply {
    opacity: 0.5;
}

.itemApply:hover {
    opacity: 1 !important;
}

.itemTitle {
    float: left;
    color: #fff;
    width: 90px;
    line-height: 27px;
}

.itemValue {
    float: left;
    color: #000;
    width: 185px;
    padding-left: 5px;
    line-height: 27px;
    outline: none;
}

input[type=checkbox].itemValue {
        float: none;
        color: #000;
        width: auto;
        padding-left: 5px;
        line-height: 27px;
        outline: none;
        align-self: center;
}

.itemValue.valueError {
    border-color: #f00;
}

.itemType {
    position: absolute;
    right: 20px;
    z-index: 1;
    outline: none;
    height: 33px;
}

.clearfix {
    clear: both;
}

.addNewItem {
    float: right;
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    position: relative;
    padding: 10px;
    background-color: #3cb55c;
    color: #fff;
    border: 1px solid #7fbd8f;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 200ms ease;
}

.addNewItem:hover {
    opacity: 1;
}
