
.worldObjectListWrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 350px;
    height: 100%;
    transform: translateX( 350px );
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
    background-color: #000;
    z-index: 9;
    overflow: hidden;
}

.worldObjectListWrapper.opened {
    transform: translateX( 0px );
}

.panel {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    transform: translateX( 100% );
    transition: transform 1s cubic-bezier(0, 1, 0, 1);
    background-image: linear-gradient(to bottom, #222, #000);
}

.panel.opened {
    transform: translateX( 0px );
}

.header {
    color: #fff;
    text-align: left;
    font-family: 'GeoSans';
    font-size: 30px;
    padding: 28px 15px 15px 15px;
}

.objects {
    height: calc( 100% - 65px );
    overflow-y: scroll;
}

.objects .object {
    position: relative;
    display: flex;
    height: 100px;
    padding: 10px 0;
    overflow: hidden;
    cursor: pointer;
}

.objects .object .img {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 10px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.objects .object:hover .img div, .objects .object:hover .defaultPlaceHolder {
    background-image: radial-gradient(#0ab213, #014a13);
}

.objects .object .defaultPlaceHolder {
    position: relative;
    min-width: 80px;
    height: 80px;
    margin: 0 10px;
    background-image: radial-gradient(#444, #222);
    padding: 20px;
    border-radius: 10px;
}

.objects .object .wrap {
    display: flex;
    flex-direction: column;
}

.objects .object .wrap .name {
    position: relative;
    font-size: 20px;
    font-family: 'GeoSans';
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    padding-top: 5px;
    z-index: 10;
}

.objects .object .wrap .type {
    color: #fff;
    z-index: 10;
}

.objects .object .backgroundInner.lime {
    filter: invert(62%) sepia(59%) saturate(344%) hue-rotate(73deg) brightness(94%) contrast(90%);
}

.objects .object .backgroundInner {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateX(-100%) scale(1, 2);
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}

.objects .object:hover .backgroundInner,
.objects .object.selected .backgroundInner {
    height: 100%;
    transform: translateX(50px) scale(1, 2);
}

/*  */

.clearfix {
    clear: both;
}

.objectProperties {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    height: 100%;
    background-color: #000;
    transform: translateX( -100% );
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}

.objectProperties .header .title {
    float: left;
    padding: 3px 0px;
    font-size: 30px;
}

.objectProperties .subheader {
    display: flex;
    padding-left: 20px;
    font-size: 16px;
    line-height: 2;
    color: #fff;
}

.objectProperties .button {
    cursor: pointer;
    float: left;
}

.objectProperties .button .img {
    width: 50px;
    height: 50px;
    filter: invert(62%) sepia(59%) saturate(344%) hue-rotate(73deg) brightness(94%) contrast(90%);
    transition: filter 0.3s cubic-bezier(0, 1, 0, 1);
    margin-left: -10px;
}

.objectProperties .button:hover .img {
    filter: invert(62%) sepia(59%) saturate(344%) hue-rotate(73deg) brightness(94%) contrast(90%);
}

.objectProperties .settingsBlock {
    width: 100%;
    height: calc( 100% - 441px );
    overflow-y: scroll;
    overflow-x: hidden;
}

.objectProperties .selectWrapper {
    position: relative;
    padding: 5px;
    width: calc( 100% - 40px );
    margin-left: 20px;
    border: 1px;
    height: 29px;
    margin-bottom: 10px;
    border-radius: 0px;
}

.objectProperties .selectWrapper select {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 0;
    height: 33px;
    text-align: center;
    padding-left: 50px;
    font-weight: 12px;
}

.objectProperties .selectWrapperTitle {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 10;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    font-family: 'GeoSans';
}

.objectProperties .objectPreview {
    position: absolute;
    bottom: 0px;
    width: 350px;
    height: 350px;
}
