
.worldObjectListWrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 350px;
    height: 100%;
    transform: translateX( 350px );
    transition: transform 300ms ease;
    background-color: #000;
    border-left: 3px solid #aaa;
    z-index: 9;
    overflow: hidden;
}

.worldObjectListWrapper.opened {
    transform: translateX( 0px );
}

.panel {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    transform: translate( 100%, 0px );
    transition: transform 300ms ease;
}

.panel.opened {
    transform: translateX( 0px );
}

.opened {
    transform: translate( 0px, 0px ) !important;
}

.header {
    color: #fff;
    text-align: left;
    padding: 0px 10px;
    font-size: 14px;
    height: 50px;
    margin-top: 40px;
}

.objects {
    height: calc( 100% - 110px );
    overflow-y: scroll;
}

.objects .object {
    position: relative;
    display: flex;
    height: 100px;
    padding: 10px 0;
    overflow: hidden;
    cursor: pointer;
}

.objects .object .img {
    position: relative;
    min-width: 80px;
    height: 80px;
    margin: 0 10px;
    object-fit: cover;
}

.objects .object .wrap {
    display: flex;
    flex-direction: column;
}

.objects .object .wrap .name {
    position: relative;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
}

.objects .object .backgroundInner.lime {
    filter: invert(62%) sepia(59%) saturate(344%) hue-rotate(73deg) brightness(94%) contrast(90%);
}

.objects .object .backgroundInner {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateX(-100%) scale(1, 2);
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}

.objects .object:hover .backgroundInner,
.objects .object.selected .backgroundInner {
    height: 100%;
    transform: translateX(50px) scale(1, 2);
}

/*  */

.clearfix {
    clear: both;
}

.objectProperties {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    height: 100%;
    background-color: #000;
    border-left: 3px solid #aaa;
    transform: translateX( -100% );
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}

.objectProperties.opened {
    transform: translateX( 0px );
}

.objectProperties .header h1 {
    float: left;
    line-height: 12px;
}

.objectProperties .subheader {
    display: flex;
    padding-left: 20px;
    font-size: 16px;
    line-height: 2;
    color: #fff;
}

.objectProperties .button {
    cursor: pointer;
    float: left;
}

.objectProperties .button .img {
    width: 50px;
    height: 50px;
    filter: invert(62%) sepia(59%) saturate(344%) hue-rotate(73deg) brightness(94%) contrast(90%);
    transition: filter 0.3s cubic-bezier(0, 1, 0, 1);
}

.objectProperties .button:hover .img {
    filter: invert(62%) sepia(59%) saturate(344%) hue-rotate(73deg) brightness(94%) contrast(90%);
}

.objectProperties .inputs {
    display: flex;
    padding-left: 20px;
}

.objectProperties .inputs .input {
    width: 50px;
}

.objectProperties .inputs .input + .input {
    margin-left: 10px;
}


