.twoD-browse .twoD-browse-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    height: 85vh;
    flex-grow: 1;
}

.twoD-browse .twoD-browse-list .twoD-browse-card {
    height: 200px;    
    width: 200px;
    background-color: black;
    color: white;
    margin: 20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    text-align: center;
    cursor: pointer;
    border: 2px #ffffff00 solid;
}

.twoD-browse .twoD-browse-list .twoD-browse-card.selected {
    border: 2px #4faeff solid;
}

.twoD-browse .twoD-browse-list .twoD-browse-card .twoD-browse-card-name {
    margin-bottom: 9px;
    margin-top: 3px;
    font-size: 18px;
}

.twoD-browse .twoD-browse-list .twoD-browse-card .twoD-browse-card-preview {
    height: 160px;
    width: 100%;
}

.twoD-browse .twoD-browse-list .twoD-browse-card .twoD-browse-card-actions {

}

.twoD-browse-preview-spawnBtn {
    padding: 10px 10px;
    background-color: #ff5f2d;
    color: #FFF;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 8px 0px 8px 0px;
    width: 82%;
    border: 0;
}

.twoD-browse-preview-wearBtn {
    padding: 10px 10px;
    background-color:#00a6ff;
    color: #FFF;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 8px 0px 8px 0px;
    width: 82%;
    border: 0;
}

.twoD-browse-content {
    display: flex;
    height: 85vh;
}

.twoD-browse-preview {
    height: 85vh;
    min-width: 400px;
    max-width: 400px;
    overflow-y: auto;
    background-color: #000000c2;
    padding: 15px;
}

.twoD-browse-preview-content.hidden {
    display: none;
}

.twoD-browse-preview-actions {
    text-align: center;
}

.twoD-browse-preview-actions.hidden {
    display: none;
}

.twoD-browse-preview-header {
    font-size: 26px;
    color: white;
    padding-left: 2px;
    margin: 10px 0px 8px 0px;
}

.twoD-browse-preview-img {
    height: 350px;
    width: 100%;
}

.twoD-browse-preview-logo {
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 45px;
    right: 42px;
}

@media only screen and (max-height: 1000px) {
    .twoD-browse .twoD-browse-preview-img {
        height: 300px;
    }
}

@media only screen and (max-height: 750px) {
    .twoD-browse .twoD-browse-preview-img {
        height: 275px;
    }
}