


.twoD-browse .twoD-browse-list {
    max-height: calc(80vh - 155px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

.twoD-browse .twoD-browse-list .twoD-browse-card {
    /* height: 240px; */
    height: 320px;
    width: 250px;
    background-color: #e6e8ef;
    margin: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    border: 1px #eeeef5 solid;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.twoD-browse .twoD-browse-list .twoD-browse-card .twoD-browse-card-name {
    margin-bottom: 9px;
    margin-top: 5px;
    font-size: 15px;
}

.twoD-browse .twoD-browse-list .twoD-browse-card .twoD-browse-card-preview {
    height: 200px;
    width: 100%;
}

.twoD-browse .twoD-browse-list .twoD-browse-card .twoD-browse-card-actions {

}

.twoD-browse .twoD-browse-list .twoD-browse-card .twoD-browse-card-actions .twoD-browse-card-wearBtn {
    padding: 6px 10px;
    background-color: #2ec19c;
    border: 0;
    color: #FFF;
    border-radius: 8px;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 5px;
}

.twoD-browse .twoD-browse-list .twoD-browse-card .twoD-browse-card-actions .twoD-browse-card-inspectBtn {
    padding: 6px 10px;
    background-color: #a049e8;
    border: 0;
    color: #FFF;
    border-radius: 8px;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 5px;
}

.twoD-browse .twoD-browse-list .twoD-browse-card .twoD-browse-card-actions .twoD-browse-card-discardBtn {
    padding: 6px 10px;
    background-color:#c12e5a;
    border: 0;
    color: #FFF;
    border-radius: 8px;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 5px;
}