.twoD-inventory {

}

.twoD-inventory .twoD-inventoryHeader {
    padding: 15px 30px 5px 30px;
    background-color: #00000099;
}

.twoD-inventory .twoD-inventoryHeader .twoD-inventoryIcon {
    margin-right: 20px;
    font-size: 30px;
}

.twoD-inventory .twoD-inventoryHeader .twoD-inventoryHeaderTitle {
    display: inline;
    font-size: 30px;
}

.twoD-inventory .twoD-inventoryHeader .twoD-inventoryUploadBtn {
    padding: 10px 25px;
    background-color: #42a5f5;
    color: #FFF;
    font-size: 18px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: 1px white solid;
}

.twoD-inventory .twoD-inventoryHeader input {
    position: relative;
    height: 40px;
    top: -10px;
    left: -130px;
    width: 130px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.twoD-inventory .twoD-inventoryDivider {
    border-color: white;
    margin: 0px 30px 10px 30px;
}

.twoD-inventory .twoD-inventoryList {
    max-height: calc(80vh - 142px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

.twoD-inventory .twoD-inventoryList .twoD-inventoryCard {
    height: 200px;    
    width: 200px;
    background-color: black;
    color: white;
    margin: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: 1px #eeeef5 solid;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.twoD-inventory .twoD-inventoryList .twoD-inventoryCard.selected {
    border: 2px #4faeff solid;
}

.twoD-inventory .twoD-inventoryList .twoD-inventoryCard .twoD-inventoryCardName {
    margin-bottom: 9px;
    margin-top: 3px;
    font-size: 18px;
}

.twoD-inventory .twoD-inventoryList .twoD-inventoryCard .twoD-inventoryCardPreview {
    height: 160px;
    width: 100%;
}

.twoD-inventory .twoD-inventoryList .twoD-inventoryCard .twoD-inventoryCardActions {

}

.twoD-inventory-preview-spawnBtn {
    padding: 12px 10px;
    background-color: #ff5f2d;
    border: #ffffffd6 1px solid;    
    color: #FFF;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.twoD-inventory-preview-wearBtn {
    padding: 12px 10px;
    background-color:#00a6ff;
    border: #ffffffd6 1px solid;
    color: #FFF;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.twoD-inventory-preview-tradeBtn {
    padding: 12px 10px;
    background-color: #a049e8;
    border: #ffffffd6 1px solid;
    color: #FFF;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.twoD-inventory-preview-discardBtn {
    padding: 12px 10px;
    background-color:#c12e5a;
    border: #ffffffd6 1px solid;
    color: #FFF;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.twoD-inventory-content {
    display: flex;
}

.twoD-inventory-preview {
    height: calc(80vh - 143px);
    min-width: 300px;
    width: 600px;
    overflow-y: auto;
    background-color: #000000c2;
    padding: 15px;
}

.twoD-inventory-preview-header {
    font-size: 26px;
    color: white;
    padding-left: 15px;
}

.twoD-inventory-preview-img {
    height: 350px;
    width: 100%;
}