.twoD-menu {
    background-color: white;
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 20px;
    margin-top: 10vh;
}
.twoD-menuNav {
    display: flex;
}
.twoD-menuNavTab {
    flex-grow: 1;
    text-align: center;
    border: 1px white solid;
    color: white;
    cursor: pointer;
    background-color: #00a6ff;
}

.twoD-menuNavTab.selected {
    background-color:#ff5f2d;
    border-bottom: 5px solid#4a4949;
}

.twoD-menuNavTab-inventory {
    border-radius: 20px 0px 0px 0px;
}

.twoD-menuNavTab-worlds {
    border-radius: 0px 20px 0px 0px;
}