.twoD-menu {
    background-color: white;
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 20px;
    margin-top: 10vh;
}
.twoD-menuNav {
    display: flex;
}
.twoD-menuNavTab {
    flex-grow: 1;
    text-align: center;
    border: 1px white solid;
    cursor: pointer;
}

.twoD-menuNavTab-inventory {
    border-radius: 20px 0px 0px 0px;
    color: white;
    background-color: #8a3dca;
}

.twoD-menuNavTab-inventory.selected {
    border-bottom: 5px solid #f463ff;
}

.twoD-menuNavTab-inventory:hover {
    background-color: #aa50f5;
}

.twoD-menuNavTab-browse {
    color: white;
    background-color: #f90083;
}

.twoD-menuNavTab-browse.selected {
    border-bottom: 5px solid #f2f32c;
}

.twoD-menuNavTab-browse:hover {
    background-color:#f900c8;
}

.twoD-menuNavTab-social {
    background-color: #00a6ff;
    color: white;
}

.twoD-menuNavTab-social.selected {
    border-bottom: 5px solid#2cf339;
}

.twoD-menuNavTab-social:hover {
    background-color:#00beff;
}

.twoD-menuNavTab-worlds {
    border-radius: 0px 20px 0px 0px;
    color: white;
    background-color:#ff5f2d;
}

.twoD-menuNavTab-worlds.selected {
    border-bottom: 5px solid#f32c3d;
}

.twoD-menuNavTab-worlds:hover {
    background-color:#ff782f;
}

.twoD-worlds {
    height: calc(80vh - 75px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

.twoD-worlds .twoD-worlds-card {
    width: 95%;
    height: 200px;
    background-color: aliceblue;
    padding: 10px;
    margin-top: 15px;
}

.twoD-worlds .twoD-worlds-card .twoD-worlds-card-img {
    height: 100%;
}

.twoD-worlds .twoD-worlds-card .twoD-worlds-card-url {
    display: inline;
    font-size: 35px;
}