.twoD-menu {
    height: 90vh;
    width: 98vw;
    margin: 0 auto;
    margin-top: 65px;
    background-color: #00000054;
}
.twoD-menuNav {
    display: flex;
}
.twoD-menuNavTab {
    flex-grow: 1;
    text-align: center;
    border: 2px solid #00a6ff;
    color: white;
    cursor: pointer;
    background-color: #00a6ff;
}

.twoD-menuNavTab.selected {
    background-color:#ff5f2d;
}