#twoD-nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    background-color: #FFF;
    align-items: center;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

#twoD-nav #twoD-toolbar {
  padding-left: 5px;
}

#twoD-nav #twoD-toolbar .toolbarBtn {
  margin: 5px;
  width: 32px;
  height: 32px;
  background-color: white;
  border: 1px #42a5f5 solid;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

#twoD-nav #twoD-toolbar .toolbarBtn:hover {
  background-color: #42a5f5;
  color: white;
  border-color: #cf95ff;
}

#twoD-nav #twoD-toolbar .selected {
  background-color: #cf95ff;
  border-color: #42a5f5;
  color: #FFF;
}