.twoD-trade {
  overflow: auto;
  max-height: 100%;
}

.twoD-trade-header {
  width: 100%;
  height: 100px;
  background-color: #00a6ff;
  color: white;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  padding-top: 1px;
  font-size: 20px;
  margin-bottom: 25px;
}

.twoD-trade-sectionHeader {
  padding-left: 35px;
}

.twoD-trade-inventory {
  height: 240px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  margin: 30px;
  border: 1px #d2c1c1 solid;
}

.twoD-trade-inventory-card {
  height: 140px;
  width: 150px;
  background-color: #e6e8ef;
  margin: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  border: 1px #eeeef5 solid;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.twoD-trade-inventory-card.selected {
  border: 2px #4faeff solid
}

.twoD-trade-inventory-card-preview {
  height: 100px;
  width: 100%;
}

.twoD-trade-inventory-card-name {
  margin-bottom: 9px;
  margin-top: 5px;
  font-size: 15px;
}

.twoD-trade-peers {
  height: 240px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  margin: 30px;
  border: 1px #d2c1c1 solid;
}

.twoD-trade-peers-card {
  width: 300px;
  height: 125px;
  background-color: aliceblue;
  padding: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  border: 1px #eeeef5 solid;
  margin: 15px;
  display: flex;
  cursor: pointer;
}

.twoD-trade-peers-card.selected {
  border: 2px #4faeff solid
}

.twoD-trade-peers-card-imgWrap {
  width: 145px;
}

.twoD-trade-peers-card-avatar {
  height: 100%;
}

.twoD-trade-peers-card-peerName {
  width: 220px;
}

.twoD-trade-cancel {
  padding: 15px 20px;
  background-color: #ff0058;
  border: 0;
  color: #FFF;
  border-radius: 8px;
  font-size: 25px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
  margin-right: 30px;
}

.twoD-trade-accept {
  padding: 15px 20px;
  background-color: #00a236;
  border: 0;
  color: #FFF;
  border-radius: 8px;
  font-size: 25px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.twoD-trade-accept.disabled {
  background-color: #b9b7b7;
  cursor: not-allowed;
  color: #FFF;
}

.twoD-trade-actions {
  display: flex;
}
.twoD-trade-info {
  width: 50%
}
.twoD-trade-info-detail {
  font-size: 20px;
  color: #0066ff;
}
.twoD-trade-info-header {
  padding-left: 35px;
}
#trade-agreement {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}