.twoD-worlds {
  max-height: calc(80vh - 70px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.twoD-worlds .twoD-worlds-card {
  width: 95%;
  height: 200px;
  background-color: black;
  padding: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  margin: 15px;
  display: flex;
  color: white;
}

.twoD-worlds-card-meta {
  padding: 15px;
}

.twoD-worlds .twoD-worlds-card .twoD-worlds-card-img {
  height: 100%;
}

.twoD-worlds .twoD-worlds-card .twoD-worlds-card-url {
  font-size: 35px;
  margin: 0px;
}