#MenuUI {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#MenuUI #MenuUI-container {
  width: 500px;
  height: 500px;
  background-color: brown;
}