[submodule "packages/totum"]
	path = packages/totum
	url = https://github.com/webaverse/totum.git
[submodule "packages/wsrtc"]
	path = packages/wsrtc
	url = https://github.com/webaverse/wsrtc.git
[submodule "packages/zjs"]
	path = packages/zjs
	url = https://github.com/webaverse/zjs.git
