body {
  margin: 0;
  --code-size: 600px;
  --controls-size: 130px;
}
.root {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: calc(var(--code-size) + var(--controls-size));
}
.canvas-placeholder {
  display: flex;
  flex: 1;
}
.code {
  display: none;
}
.CodeMirror
{
  position: relative !important;
  top: 0;
  right: 0;
  width: var(--code-size);
  height: 100vh !important;
  z-index: 1;
}
.controls {
  display: flex;
  max-width: var(--controls-size);
  height: 100vh;
  flex-direction: column;
}
.controls .control {
  position: relative;
  display: flex;
  margin: 10px;
  padding: 5px;
  background-color: #FFF;
  border: 2px solid #333;
  border-radius: 10px;
  flex-direction: column;
  cursor: pointer;
}
.controls .control:hover {
  background-color: #000;
  border-color: transparent;
  color: #fff;
}
.controls .control:hover .video {
  mix-blend-mode: normal;
}
.controls .control + .control {
  margin-top: 0;
}
.controls .top {
  flex: 1;
}
.controls .control .video {
  width: 60px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 10px;
  mix-blend-mode: multiply;
}
.controls .control .label {
  text-transform: uppercase;
}
.user {
  display: flex;
}
.user .img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.user .name {
  font-size: 20px;
}