@font-face {
  font-family: 'FuturaLT';
  src: url('/assets/fonts/FuturaLT.woff2');
}
@font-face {
  font-family: 'MS-Gothic';
  src: url('/assets/fonts/MS Gothic.ttf');
}
@font-face {
  font-family: 'FuturaStd-BoldOblique';
  src: url('/assets/fonts/Futura Std Bold Oblique.otf');
}
@font-face {
  font-family: 'GillSans';
  src: url('/assets/fonts/Gill Sans.otf');
}
@font-face {
  font-family: 'GillSans-CondensedBold';
  src: url('/assets/fonts/Gill Sans Condensed Bold.ttf');
}
@font-face {
  font-family: 'FuturaStd-Heavy';
  src: url('/assets/fonts/Futura Std Heavy.otf');
}
@font-face {
  font-family: 'FuturaLT-CondensedLight';
  src: url('/assets/fonts/FuturaLT-CondensedLight.ttf');
}
@font-face {
  font-family: 'SanvitoPro-LtCapt';
  src: url('/assets/fonts/SanvitoPro-LtCapt.otf');
}
@font-face {
  font-family: 'FuturaLT-Book';
  src: url('/assets/fonts/FuturaLT-Book.ttf');
}
@font-face {
  font-family: 'GeosansLight';
  src: url('/assets/fonts/GeosansLight.ttf');
}
@font-face {
  font-family: 'GeosansLight-Oblique';
  src: url('/assets/fonts/GeosansLight-Oblique.ttf');
}
@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('/assets/fonts/PressStart2P-Regular.ttf');
}

body {
  margin: 0;
  --code-size: 600px;
  --files-size: 200px;
  --controls-size: 130px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}
.root {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.canvas {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  /* right: calc(var(--code-size) + var(--controls-size)); */
}
.canvas-placeholder {
  position: relative;
  display: flex;
  flex: 1;
}
.code {
  display: none;
}
.CodeMirror
{
  position: relative !important;
  top: 0;
  right: 0;
  width: var(--code-size);
  height: 100vh !important;
  z-index: 1;
}
.controls {
  position: absolute;
  top: 0;
  right: calc(var(--code-size) + var(--files-size));
  display: flex;
  max-width: var(--controls-size);
  height: 100vh;
  flex-direction: column;
}
.controls .top,
.controls .bottom
{
  display: flex;
  flex-direction: column;
}
.controls .bottom {
  align-items: flex-end;
}
.controls .control {
  position: relative;
  display: flex;
  margin: 10px;
  padding: 5px;
  /* background-color: #FFF; */
  border: 2px solid #333;
  border-radius: 10px;
  color: #333;
  flex-direction: column;
  cursor: pointer;
}
.controls .control:hover {
  background-color: #000;
  border-color: transparent;
  color: #fff;
}
.controls .control:hover .video {
  mix-blend-mode: normal;
}
.controls .control:hover > .icon {
  filter: invert(95%) sepia(0%) saturate(0%) hue-rotate(213deg) brightness(105%) contrast(105%);  
}
.controls .control + .control {
  margin-top: 0;
}
.controls .top {
  flex: 1;
}
.controls .control > .video {
  width: 60px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 10px;
  mix-blend-mode: multiply;
}
.controls .control > .icon {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-bottom: 5px;
  filter: invert(15%) sepia(1%) saturate(0%) hue-rotate(358deg) brightness(103%) contrast(87%);
}
.controls .control > .label {
  font-family: 'FuturaStd-Heavy';
  font-size: 11px;
  text-transform: uppercase;
}
.user {
  display: flex;
  align-items: center;
}
.user > .img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.user > .name {
  font-size: 14px;
}

/* .middle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: var(--code-size);
  background-color: #333;
} */
.files {
  display: flex;
  width: 200px;
  background-color: #333;
  flex-direction: column;
  flex: 1;
}
.files .file {
  padding: 1px 2px;
  color: #999;
  pointer: default;
  user-select: none;
}
.files .file .file-inner {
  padding: 5px 10px;
  border-radius: 5px;
}
.files .file:not(.selected) {
  cursor: pointer;
}
.files .file.selected .file-inner,
.files .file:hover .file-inner
{
  background-color: #111;
  color: #5c6bc0;
}

.icon-button {
}
.icon-button .icon {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.right {
  display: flex;
  width: 800px;
  flex-direction: column;
}
.header {
  display: flex;
  padding: 10px;
  background: linear-gradient(to bottom, #333, #111);
  color: #FFF;
  align-items: center;
}
.header .button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 2px solid currentColor;
  border-radius: 5px;
  color: #FFF;
  font-size: 12px;
  /* font-family: 'GillSans'; */
  text-transform: uppercase;
}
.header .button, 
.header .icon-button
{
  margin-right: 5px; 
  cursor: pointer;
  opacity: 0.7;
}
.header .button:hover,
.header .icon-button:hover
{
  opacity: 1;
}
.header .button .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  filter: invert(1);
}

.header .tab {
  display: flex;
  height: 100%;
  padding: 10px;
  border-bottom: 3px solid transparent;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.header .tab.selected {
  border-color: currentColor;
  cursor: default;
}
.header .tab:hover,
.header .tab.selected {
  color: #5c6bc0;
}
.header .tab .icon {
  display: none;
}

.header .user {
  margin-left: auto;
}

.sections {
  display: flex;
}
.sections .section {
  display: flex;
  flex-direction: column;
}

.page {
}
.page:not(.open) {
  display: none;
}