* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#root {
  width: 100vw;
  height: 100vh;
}
img {
  user-drag: none;
  -webkit-user-drag: none;
}

*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #fefefe;
  border-radius: 2px;
}
*::-webkit-scrollbar-thumb {
  background-color: #fefefe;
  outline: 1px solid #fefefe;
  border-radius: 2px;
}
