.megaHotBox {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, transparent, #000 50%);
  transform: none;
  transition: 2s transform cubic-bezier(0, 1, 0, 1);
  /* pointer-events: none; */
  color: #FFF;
}

.megaHotBox:not(.open) {
  transform: translateX(100%);
}

/* */

.megaHotBox .hoverableCard {
  width: 300px;
  height: 420px;
  user-select: none;
  perspective: 1200px;
  perspective-origin: 50% 50%;
}
.megaHotBox .hoverableCard .image {
  width: inherit;
  height: inherit;
  padding: 20px;
  transform-origin: 50% 50%;
  transform: translateX(0);
  transition: transform 0.15s cubic-bezier(0, 1, 0, 1);
  backface-visibility: visible;
}
.megaHotBox .hoverableCard .image.hovered:not(.animate)
{
  transition: none;
}

/* */

.megaHotBox .name,
.megaHotBox .description {
  padding: 5px 20px;
}
.megaHotBox .name {
  font-family: 'WinchesterCaps';
  font-size: 32px;
}
.megaHotBox .description {
  font-family: 'PlazaRegular';
  font-size: 20px;
}

/* */

.megaHotBox .buttons {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}