@font-face {
  font-family: 'FuturaLT';
  src: url('/assets/fonts/FuturaLT.woff2');
}
@font-face {
  font-family: 'MS-Gothic';
  src: url('/assets/fonts/MS Gothic.ttf');
}
@font-face {
  font-family: 'FuturaStd-BoldOblique';
  src: url('/assets/fonts/Futura Std Bold Oblique.otf');
}
@font-face {
  font-family: 'GillSans';
  src: url('/assets/fonts/Gill Sans.otf');
}
@font-face {
  font-family: 'GillSans-CondensedBold';
  src: url('/assets/fonts/Gill Sans Condensed Bold.ttf');
}
@font-face {
  font-family: 'FuturaStd-Heavy';
  src: url('/assets/fonts/Futura Std Heavy.otf');
}
@font-face {
  font-family: 'FuturaLT-CondensedLight';
  src: url('/assets/fonts/FuturaLT-CondensedLight.ttf');
}
@font-face {
  font-family: 'SanvitoPro-LtCapt';
  src: url('/assets/fonts/SanvitoPro-LtCapt.otf');
}
@font-face {
  font-family: 'FuturaLT-Book';
  src: url('/assets/fonts/FuturaLT-Book.ttf');
}
@font-face {
  font-family: 'GeosansLight';
  src: url('/assets/fonts/GeosansLight.ttf');
}
@font-face {
  font-family: 'GeosansLight-Oblique';
  src: url('/assets/fonts/GeosansLight-Oblique.ttf');
}
@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('/assets/fonts/PressStart2P-Regular.ttf');
}
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('/assets/fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url('/assets/fonts/RobotoCondensed-Light.ttf');
}

body {
  margin: 0;
  --code-size: 600px;
  --files-size: 200px;
  --controls-size: 130px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}
.root {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* flex-direction: column; */
  overflow: hidden;
}
.canvas {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  /* right: calc(var(--code-size) + var(--controls-size)); */
}
.canvas-placeholder {
  position: relative;
  display: flex;
  flex: 1;
}
.code {
  display: none;
}
.CodeMirror
{
  position: relative !important;
  top: 0;
  right: 0;
  width: var(--code-size);
  /* height: 100vh !important; */
  flex: 1;
  z-index: 1;
}
.CodeMirror-wrap pre.CodeMirror-line {
  line-height: 1.6 !important;
}
.controls {
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(var(--code-size) + var(--files-size));
  display: flex;
  max-width: var(--controls-size);
  flex-direction: column;
}
.controls > .top,
.controls > .bottom
{
  display: flex;
  flex-direction: column;
}
/* .controls .bottom {
  align-items: flex-end;
} */
.controls .control {
  position: relative;
  display: flex;
  margin: 10px;
  padding: 5px;
  /* background-color: #FFF; */
  border: 2px solid currentColor;
  border-radius: 10px;
  color: #333;
  flex-direction: column;
  cursor: pointer;
}
.controls .control:hover {
  background-color: #000;
  border-color: transparent;
  color: #fff;
}
.controls .control:hover .video {
  mix-blend-mode: normal;
}
.controls .control:hover > .icon {
  filter: invert(95%) sepia(0%) saturate(0%) hue-rotate(213deg) brightness(105%) contrast(105%);  
}
.controls .control.enabled {
  background-color: transparent;
  border-color: currentColor;
  /* color: #66bb6a; */
  color: #9ccc65;
}
.controls .control.enabled .icon {
  /* filter: invert(87%) sepia(6%) saturate(3278%) hue-rotate(64deg) brightness(77%) contrast(90%); */
  filter: invert(71%) sepia(92%) saturate(238%) hue-rotate(40deg) brightness(91%) contrast(88%);
}
.controls .control.enabled:hover {
  color: #679e37;
}
.controls .control.enabled:hover .icon {
  filter: invert(69%) sepia(14%) saturate(7498%) hue-rotate(50deg) brightness(88%) contrast(57%);
}
.controls .control + .control {
  margin-top: 0;
}
.controls > .top {
  flex: 1;
}
.controls .control > .video {
  width: 60px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 10px;
  mix-blend-mode: multiply;
}
.controls .control > .icon {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-bottom: 5px;
  filter: invert(15%) sepia(1%) saturate(0%) hue-rotate(358deg) brightness(103%) contrast(87%);
}
.controls .control > .label {
  font-family: 'FuturaStd-Heavy';
  font-size: 11px;
  text-transform: uppercase;
}
.user {
  display: flex;
  align-items: center;
  color: #FFF;
}
.user > .img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.user > .name {
  font-size: 14px;
}

/* .middle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: var(--code-size);
  background-color: #333;
} */
.files {
  display: flex;
  width: 200px;
  /* background-color: #333; */
  flex-direction: column;
  flex: 1;
}
.files .file,
.objects .object
{
  padding: 1px 2px;
  color: #FFF;
  pointer: default;
  user-select: none;
  outline: none;
}
.files .file .file-inner,
.objects .object .object-inner
{
  padding: 5px 10px;
  /* border-radius: 5px; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.files .file:not(.selected),
.objects .object:not(.selected)
{
  cursor: pointer;
}
.files .file.selected .file-inner,
.files .file:hover .file-inner,
.objects .object.selected .object-inner,
.objects .object:hover .object-inner
{
  background-color: #333;
  color: #7986cb;
}

.icon-button {
}
.icon-button .icon {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.root > .right {
  display: flex;
  width: 800px;
  height: 100vh;
  flex-direction: column;
  /* background: linear-gradient(to right, #eee, #FFF); */
  background: #000;
  /* border-left: 3px solid #333; */
}
.root > .right > .right {
  display: flex;
  height: inherit;
  flex-direction: column;
}
.header {
  display: flex;
  padding: 10px 0;
  /* background: linear-gradient(to bottom, #333, #111);
  color: #FFF; */
  align-items: center;
  /* border-bottom: 2px solid #d8d8d8; */
  align-items: center;
}
.button {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  background: #333;
  /* border: 2px solid currentColor; */
  border: 0;
  border-radius: 5px;
  color: #FFF;
  font-size: 13px;
  font-family: 'FuturaStd-Heavy';
}
.button,
.icon-button
{
  margin-right: 5px; 
  cursor: pointer;
  /* opacity: 0.7; */
}
.button:hover {
  background-color: #5c6bc0;
}
.button:hover,
.icon-button:hover
{
  /* opacity: 1; */
}
.button .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  filter: invert(1);
}
.header .super {
  position: absolute;
  margin-left: 10px;
  margin-top: -52px;
  font-family: 'FuturaStd-Heavy';
  text-transform: uppercase;
  color: #FFFFFF80;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
}
.header .select {
  flex: 1;
  margin: 0 5px;
  margin-left: 10px;
  padding: 5px;
  border: 2px solid currentColor;
  border-radius: 5px;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
}
.header .select:hover {
  opacity: 1;
}
.header .select > option {
  background: #333;
}
.header.footer {
  margin-top: auto;
  padding-left: 5px;
}

.file-input {
  position: relative;
  overflow: hidden;
}
.file-input input[type="file"] {
  position: absolute;
  top: -200px;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.header .tab {
  display: flex;
  height: 100%;
  padding: 10px;
  /* border-bottom: 3px solid transparent; */
  align-items: center;
  color: #ffffff80;
  font-family: 'FuturaStd-Heavy';
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}
.header .tab.selected {
  border-color: currentColor;
  cursor: default;
}
.header .tab:hover,
.header .tab.selected {
  color: #FFF;
}
.header .tab .icon {
  display: none;
}

.header .user {
  margin-left: auto;
}

.sections {
  display: flex;
}
.sections .section {
  display: flex;
  flex-direction: column;
}

.page {
}
.page:not(.open) {
  display: none;
}

.scene {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.scene > .left,
.scene > .right
{
  display: flex;
  flex-direction: column;
}
.scene > .right {
  flex: 1;
}

.library {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.library .search {
  display: flex;
  margin: 0 2px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background: #333;
  border-radius: 5px;
  align-items: center;
}
.library .search .search-image {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  filter: invert(1);
}
.library .search input[type="text"] {
  display: flex;
  margin: 0;
  /* padding-left: 30px; */
  background: transparent;
  border: 0;
  color: #FFF;
  font-family: 'GillSans';
  font-size: 16px;
  outline: none;
}

.cards {
  display: flex;
  background-color: #111;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.cards .card {
  padding: 2px;
  font-family: 'MS-Gothic';
  cursor: pointer;
  user-select: none;
}
.cards .card .inner {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 10px;
  flex: 1;
  background-color: #333;
  color: #FFF;
  /* background-image: radial-gradient(#7986cb, #3949ab); */
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.cards .card:hover .inner {
  background-color: #5c6bc0;
  color: #FFF;
}
.cards .card .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards .card .img {
  --card-size: 50px;
  width: var(--card-size);
  height: calc(var(--card-size) / 2.5 * 3.5);
  margin: auto;
}

.objects {
  display: flex;
  flex-direction: column;
  width: 200px;
  /* background-color: #333;
  color: #FFF; */
  overflow: hidden;
}
.objects .object .object-inner,
.files .file .file-inner
{
  display: flex;
}
.objects .object .object-inner:hover > .rename-icon,
.files .file .file-inner:hover > .rename-icon
{
  visibility: visible;
}
.objects .object .object-inner > .text,
.files .file .file-inner > .text
{
  margin-right: auto;
}
.objects .object .object-inner > .rename-icon,
.files .file .file-inner > .rename-icon
{
  cursor: pointer;
  opacity: 0.5;
  visibility: hidden;
}
.objects .object .object-inner > .rename-icon .img,
.files .file .file-inner > .rename-icon .img
{
  width: 15px;
  height: 15px;
  filter: invert(1);
}
.details {
  display: flex;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  background: linear-gradient(to bottom, #333, #222);
  border-radius: 10px;
  color: #333;
  flex: 1;
  flex-direction: row !important;
}
.details .label {
  margin: 10px 0;
}
.details .label,
.details .sublabel,
.editor > .left > .bottom > .label,
.scene > .left > .label,
.multiplayer > .label,
.multiplayer > .modal > .label
{
  font-family: 'FuturaStd-Heavy';
  text-transform: uppercase;
  color: #AAA;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
}
.editor > .left > .bottom > .label,
.scene > .left > .label,
.multiplayer > .label,
.multiplayer > .modal > .label
{
  margin-left: 10px;
  color: #FFFFFF80;
}
.details .row {
  display: flex;
  width: 150px;
  margin-bottom: 2px;
  align-items: center;
}
.details .sublabel {
  display: inline-flex;
  margin-right: 5px;
  flex: 1;
  justify-content: flex-end;
}
.details .value {
  display: inline-flex;
  width: 100px;
  padding: 5px;  
  background: #666;
  border: 0;
  border-radius: 3px;
  color: #FFF;
}
/* .details .section-icon {
  --size: 150px;
  width: var(--size);
  height: calc(var(--size) / 2.5 * 3.5);
  margin: 20px;
  opacity: 0.5;
}
.details .h1 {
  margin: 0 20px;
  font-size: 20px;
}
.details .p {
  
} */

.settings {
  color: #FFF;
}

.root > .left,
.root > .right,
.root > .left > .top,
.root > .left > .bottom
{
  display: flex;
}
.root > .left {
  flex: 1;
  flex-direction: column;
}
.root > .left > .top {
  height: 100%;
}
.root > .left > .bottom {
  
}

.editor {
  /* position: relative; */
  flex: 1;
  overflow: hidden;
}
.editor > .left .header .button .icon {
  width: 15px;
  height: 15px;
}
.editor > .left .header .button {
  flex: 1;
}
.editor > .left,
.editor > .left > .bottom
{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.editor > .right {
  display: flex;
  flex-direction: column;
}
.editor > .right > .bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.editor .errors {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  pointer-events: none;
}
.editor .errors .error {
  position: relative;
  display: flex;
  padding: 10px 20px;
  color: #FFF;
  background: radial-gradient(#b22222, #7d0b0b);
  pointer-events: all;
}
.editor .errors .error .text {
  white-space: pre-wrap;
}
.editor .x-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}
.editor .x-icon .img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  filter: invert(1);
}

.scene .details > .left,
.scene .details > .right
{
  display: flex;
  flex-direction: column;
}
.scene .details > .left {
  flex: 1;
}

.scene .details .button {
  background-color: transparent;
  border: 2px solid currentColor;
  color: #FFF;
  cursor: pointer;
}
.scene .details .button.warning {
  padding: 5px 10px;
  color: #ef5350;
  border-radius: 5px;
}
.scene .details .button.warning:hover {
  background-color: #ef5350;
  border-color: transparent;
  color: #FFF;
}
.scene .details .button.warning:hover:active {
  background-color: #b71c1c;
}

.multiplayer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.multiplayer .row {
  display: flex;
}
/* .multiplayer .row > .button + .button {
  margin-left: 10px;
} */
.multiplayer .servers-placeholder {
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
  color: #FFF;
}
.multiplayer .servers,
.multiplayer .servers-placeholder,
.multiplayer > .button,
.multiplayer > .modal > input[type="text"],
.multiplayer > .modal > .button
{
  margin: 10px;
}
.multiplayer > .button,
.multiplayer > .modal > .button
{
  margin-top: 0;
  background-color: #5c6bc0;
}
.multiplayer > .button:hover {
  background-color: #303f9f;
}
.servers {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.servers .server {
  display: flex;
  width: 400px;
  margin-bottom: 2px;
  padding: 10px;
  background-color: #222;
  border-radius: 5px;
  color: #FFFFFF60;
  font-family: 'MS-Gothic';
  cursor: pointer;
}
.servers .server:hover,
.servers .server.selected
{
  background-color: #333;
}
.servers .server.selected {
  color: #7986cb;
  cursor: default;
}
.servers .server.selected .icon {
  opacity: 1;
}
.servers .server .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: invert(1);
  opacity: 0.5;
}
.servers .server .name {
  margin-right: auto;
}
.servers .server:not(.selected) .button {
  visibility: hidden;
}
.servers .server .button {
  color: #fff;
  padding: 10px;
  font-size: 13px;
  background-color: transparent;
  border: 2px solid currentColor;
  border-radius: 3px;
  color: #FFFFFF40;
  outline: none;
  cursor: default;
}
.servers .server .button.connect:hover {
  filter: brightness(80%);
}
.servers .server .button.connect {
  padding: 12px;
  background-color: #7986cb;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
}
.servers .server .button.disconnect {
  color: #ef5350;
  cursor: pointer;
}
.servers .server .button.disconnect:hover {
  color: #b71c1c;
}

.enter-xr-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}