.mapGen {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 2;
}
.mapGen .canvas {
  pointer-events: all;
}
.mapGen .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: #000;
  font-family: 'PlazaRegular';
  font-size: 16px;
  color: #FFF;
  transform: translate(0, 0);
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}
.mapGen .sidebar:not(.open) {
  transform: translate(100%, 0);
}
.mapGen .sidebar h1 {
  margin: 0;
  padding: 15px;
}
.mapGen .sidebar hr {
  margin: 0 50px;
  padding: 0;
  border: 0;
  border-top: 2px solid #FFFFFF40;
}