
.chainSelector {
    background-color: black;
    border-radius: 5px 0 0 5px;
    color: rgb(255, 255, 255);
    user-select: none;
    width: 135px;
    position: absolute;
    top:0;
    left: -130px;
    line-height: 1.4;
    pointer-events: all;
    border: 2px solid black;
    border-right-width: 5px;
  }
  
  .selectedChain {
      padding: 5px 6px 6px 8px;
      cursor: pointer;
  }
  
  .selectedChain {
      display: grid;
      grid-template-columns: 18px 1fr;
      gap: 6px;
  }
  
  .selectedChain svg {
      width: 100%;
  }
  
  .chainDropDown {
      overflow: hidden;
  }
  
  .chains {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
  }
  
  .chains li {
      display: flex;
      margin: 0;
      padding: 0;
  }
  
  .chains li button {
      border-radius: 0;
      border: none;
      background: transparent;
      text-align: left;
      cursor: pointer;
      padding: 8px;
      color: white;
  }
  
  .selected {
      background-color: rgba(255, 255, 255, 0.3);
  }
  
  .showChainSelector {
      height: auto;
      pointer-events: all;
      transition: 0.5s;
  }
  
  .hideChainSelector {
      height: 0;
      transition: 0.5s;
  }