.chainSelector {
  background-color: #C900C1;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  user-select: none;
  width: 95px;
  position: absolute;
  top: 0;
  line-height: 1.56;
  pointer-events: all;
  font-size: 14px;
  text-align: center;
}
.selectedChain {
    display: flex;
    border-radius: 5px 0px 0px 5px;
    padding: 5px 6px 6px 8px;
    display: grid;
    gap: 6px;
    text-align: center;
}

.selectedChain .img {
  width: 26px;
  height: 26px;
}

/* .selectedChain svg {
    width: 100%;
} */

.chainDropDown {
    overflow: hidden;
}

.chains {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.chains li {
    display: flex;
    margin: 0;
    padding: 0;
}


.chains li button {
    border-radius: 0;
    border: none;
    background: transparent;
    text-align: center;
    cursor: pointer;
    padding: 8px;
    color: white;
    width: 100%;
}

.chains li button:hover {
    background-color: #00a8fc;
  }

.selected {
    background-color: rgba(255, 255, 255, 0.3);
}


.showChainSelector {
    height: auto;
    pointer-events: all;
    transition: 0.5s;
}

.hideChainSelector {
    height: 0;
    transition: 0.5s;
}