.equipment .menu {
  display: flex;
  position: fixed;
  top: 100vh;
  left: 460px;
  width: 600px;
  height: calc(100vh - 200px);
  background-image: linear-gradient(to bottom, #222, #000);
  color: #FFF;
  flex-direction: column;
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}
.equipment .menu.open {
  transform: translateY(calc(-100vh + 160px));
}
.equipment h1,
.equipment h2
{
  margin: 15px;
  font-family: 'WinchesterCaps';
  letter-spacing: 1px;
}
.equipment ul.reset,
.equipment ul.reset li,
.equipment ul.reset ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

@keyframes character-animation {
  0% {
    background-image: none;
    background-color: #000;
 }
  50% {
    background-image: none;
    background-color: #FFFFFF;
  }
  100% {
    background-image: none;
    background-color: #000;
  }
}

.equipment .list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
/* .equipment .list .item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  background-image: radial-gradient(#444, #222);
  border: 3px solid #282828;
  cursor: pointer;
} */

/* */

.item {
  --size: 80px;
  
  display: flex;
  position: relative;
  padding: 10px;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
}
/* .item:hover,
.item:active
{
  cursor: grabbing;
} */
.item .background,
.item .highlight
{
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 1000px;
  transform-origin: 50% 50%;
}
.item .background {
  background-color: #111;
}
.item .highlight {
  background-color: #FFF;
  /* border: 5px solid transparent; */
  transform: scale(0, 0);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.item:hover .highlight,
.item.selected .highlight
{
  transform: none;
}
.item:active .highlight,
.item:active .background
{
  transform: scale(0.9, 0.9);
}
.item.selected .highlight {
  background-image: radial-gradient(#7e57c2, #512da8);
}
.item .canvas,
.item .name,
.item .level {
  pointer-events: none;
}
.item .canvas {
  position: relative;
  width: var(--size);
  height: var(--size);
}
.item .row {
  display: flex;
  align-items: baseline;
}
.item .name,
.item .level
{
  font-family: 'PlazaRegular';
}
.item .name {
  margin-right: auto;
  font-size: 18px;
}
.item .level {
  font-size: 13px;
  color: #666;
}