
.inventory {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 300px;
    height: 280px;
    z-index: 1;
}

.weapon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: rgba( 0, 0, 0, 0.5 );
    border-radius: 1px solid #000;
}

.weaponStats {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba( 255, 0, 0, 0.5 );
    border: 2px solid #000;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 38px;
}

.inventoryBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 50px;
    background-color: rgba( 0, 0, 0, 0.5 );
    cursor: pointer;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
