.helper {

  position: relative;
  display: flex;
  user-select: none;
  align-self: flex-end;
  pointer-events: all;
}
.helper.left {
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 11%;
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;

}
.helper.right {
  padding: 10px;
  background: rgba(10, 40, 50, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.35);
  /*backdrop-filter: blur(100px);*/
  left: calc(100vw - 345px);
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}

.keys {
  position: relative;
  display: flex;
  margin-right: 10px;
  flex-direction: column;
}
.keys .row {
  display: flex;
  min-height: 34px;
}
.keys .label {
  color: white;
  position: absolute;
  display: flex;
  bottom: -10px;
  left: 0;
  width: 100%;
  font-weight: bold;

}

.keys .labelMove {
  color: white;
  font-weight: bold;
  position: absolute;
  display: flex;
  bottom: 46px;
  left: 73%;
  width: 100%;
}

.keys .label.center {
  justify-content: center;
}
.keys .key {
  min-width: 40px;
  height: 30px;
  background: rgba(1, 1, 1, 0.45);
  border: 2px solid #CF597F;
  color:white
}
.keys .key:empty {
  visibility: hidden;
}

.chat {
  --height: calc(100vh - 50px - 80px);
  position: absolute;
  bottom: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: var(--height);
  color: #FFF;
  font-size: 13px;
}
.chat .input {
  padding: 5px;
  background-color: #263238;
  border: 1px solid #FFFFFF20;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}
.chat .input:not(.open) {
  visibility: hidden;
}
.chat .messages {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
}
.chat .messages .message {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 1.6;
  background-color: #111;
  border-radius: 5px;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}
.chat .messages .message .name {
  font-weight: 600;
}
.chat .messages .message .text {
  color: #CCC;
  word-break: break-all;
}

.moveRow{
  margin-left: auto;
}

.closed{
    cursor: pointer;
}

.hide{
    transform: translate(250px,200px) !important;
}

.item {
    display: flex;
    flex-direction: column;
    background: rgba(4, 18, 22, 0.25);
    /*backdrop-filter: blur(100px);*/
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    box-sizing: border-box;
    width: 93px;
    cursor: pointer;
    transform: skew(30deg);
    pointer-events: all;
    position: absolute;
    left: calc(100vw - 113px);
    top: 63.5%;

    border: 1px solid rgba(255, 255, 255, 0.1);

    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
  }

  .item .label {
    cursor: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    transform: skew(-30deg);
    margin-left: 9px;
  }

  .item img {
    cursor: inherit;
    transform: skew(-30deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 38px;
    height: 38px;
    color: white;
  }