
.helper {

  position: relative;
  display: flex;
  user-select: none;
  align-self: flex-end;
  pointer-events: all;
}
.helper.left {
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 11%;
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;

}
.helper.right {
  padding: 10px;
  background: rgba(10, 40, 50, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.35);
  /*backdrop-filter: blur(100px);*/
  left: calc(100vw - 345px);
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}




.item {
    display: flex;
    flex-direction: column;
    border: 1px solid #FFFFFF1A;
    background: rgba(4, 18, 22, 0.25);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    box-sizing: border-box;
    height: 62px; /* added 2px extra border issues*/
    width: 78.82109069824219px;
    left: 15px;
    margin-left: 5px;
    margin-right: 5px;
    transform-origin: top left;
    transform: skew(30deg);
  }
  
  
.item .label {
    display: flex;
    margin-left: -2px;
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    width: 24.42px;
    height: 21.42px;
    max-width: 38px;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #FFFFFF80;
    transform: skew(-30deg);
    z-index: 2;
}
  
.item img {
    transform: skew(-30deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    width: 31px;
    height: 48px;
    color: white;
}

  .loadOutRight{
    display: flex;
    margin-left: 10%;
  }

  .loadout {
    display: flex;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -22.66%, rgba(10, 40, 50, 0.5) 103.86%);
    /*backdrop-filter: blur(100px);*/
    margin-left: auto;
    margin-right: auto;
    width: calc(0.71 * 100vw);
    /* margin-left: calc(300px + 10px); */
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  
    pointer-events: all;
  }
  
  .hide{
    transform: translate(0, 80px);
  }
  
  
  .loadout:before {
    content: "";
    position: absolute;
    /* border: 3px solid teal; */
    border: 3px solid transparent;  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -22.66%, rgba(10, 40, 50, 0.5) 103.86%);
    /*backdrop-filter: blur(100px);*/
  
    top: -15%; bottom: -20%; left: -3%; right: -3%;
    z-index: 0;
  
    -webkit-transform: perspective(50em) rotateX(40deg);
    transform: perspective(50em) rotateX(40deg);
  }
  
  .loadout .item {
    display: flex;
    flex-direction: column;
    border: 1px solid #FFFFFF1A;
    background: rgba(4, 18, 22, 0.25);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    box-sizing: border-box;
    height: 62px; /* added 2px extra border issues*/
    width: 78.82109069824219px;
    left: 15px;
    margin-left: 5px;
    margin-right: 5px;
    transform-origin: top left;
    transform: skew(-30deg);
  }
  
  
  .loadout .item .label {
    display: flex;
    margin-left: -2px;
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    width: 24.42px;
    height: 21.42px;
    max-width: 38px;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #FFFFFF80;
    transform: skew(30deg);
    z-index: 2;
  }
  
  .loadout .item .labelW {
    width: fit-content;
    padding: 0 4px;
    height: 21.42px;
    margin-left: -10px;
  }
  
  .loadout .item img {
    transform: skew(30deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    width: 31px;
    height: 48px;
    color: white;
  }
  
  .loadOutButton{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 271.18px;
    height: 23.94px;
    cursor: pointer;
    position: absolute;
    top: -26%;
    left: 38%;
  
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
  }
  
  .loadOutButton::before{
    content: "";
    position: absolute;
    /* border: 3px solid teal; */
    border: 3px solid transparent;  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -22.66%, rgba(10, 40, 50, 0.5) 103.86%);
    /*backdrop-filter: blur(100px);*/
  
    top: -15%; bottom: -20%; left: -3%; right: -3%;
    z-index: 0;
  
    -webkit-transform: perspective(50em) rotateX(40deg);
    transform: perspective(50em) rotateX(40deg);
  }
  
  .loadOutButton.closed{
    margin-top: 0%;
    transform: rotate(180deg);
  }
  
  .loadOutButton img{
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
  }
  
  .loadOutButton.closed::before{
    content: "";
    position: absolute;
    /* border: 3px solid teal; */
    border: 3px solid transparent;  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -22.66%, rgba(10, 40, 50, 0.5) 103.86%);
    /*backdrop-filter: blur(100px);*/
  
    top: -15%; bottom: -20%; left: -3%; right: -3%;
    z-index: -1;
  
    -webkit-transform: perspective(50em) rotateX(-40deg);
    transform: perspective(50em) rotateX(-40deg);
  }
  
  .loadout .item.selected .box {
    top: -3px;
    border-color: #FFF;
  }
  .loadout .item.selected .label {
    color: #FFF;
  }
  
