.location {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
  
    transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease;
  }
  
  .location.closed{
    transform: translate(0, -55px);
  }
  
  .location:before {
    content: "";
    position: absolute;
    /* border: 3px solid teal; */
    border: 3px solid transparent;  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -22.66%, rgba(10, 40, 50, 0.5) 103.86%);
    /*backdrop-filter: blur(100px);*/
  
    top: -15%;
    bottom: -27%;
    left: -3%;
    right: -3%;
    z-index: -1;
  
    -webkit-transform: perspective(50em) rotateX(-40deg);
    transform: perspective(50em) rotateX(-40deg);
  }
  
  .locationButton{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 271.18px;
    height: 23.94px;
    cursor: pointer;
    position: absolute;
    top: 109%;
    left: 38%;
  
    transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease;
  }
  
  .locationButton::before{
    content: "";
    position: absolute;
    /* border: 3px solid teal; */
    border: 3px solid transparent;  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -22.66%, rgba(10, 40, 50, 0.5) 103.86%);
    /*backdrop-filter: blur(100px);*/
  
    top: -15%; bottom: -20%; left: -3%; right: -3%;
    z-index: -1;
  
    -webkit-transform: perspective(50em) rotateX(-40deg);
    transform: perspective(50em) rotateX(-40deg);
  }
  
  .locationButton.closed{
    margin-top: 0%;
    transform: rotate(180deg);
  }
  
  .locationButton img{
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
  }
  
  .locationButton.closed::before{
    content: "";
    position: absolute;
    /* border: 3px solid teal; */
    border: 3px solid transparent;  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -22.66%, rgba(10, 40, 50, 0.5) 103.86%);
    /*backdrop-filter: blur(100px);*/
  
    top: -15%; bottom: -20%; left: -3%; right: -3%;
    z-index: -1;
  
    -webkit-transform: perspective(50em) rotateX(40deg);
    transform: perspective(50em) rotateX(40deg);
  }
  
  
  .location .row {
    display: flex;
    width: 72vw;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 52.5px;
  }
  .location .rooms {
    position: absolute;
    top: 50px;
    display: flex;
    width: 22vw;
    max-width: 404px;
    flex-direction: column;
    background: rgba(10, 40, 50, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.15);
    /*backdrop-filter: blur(100px);*/
    max-height: 394px;
    overflow-y: scroll;
  }
  
  .location .login {
    position: absolute;
    top: 50px;
    right:0px;
    display: flex;
    width: 22vw;
    max-width: 404px;
    flex-direction: column;
    background: rgba(10, 40, 50, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.15);
    /*backdrop-filter: blur(100px);*/
    max-height: 394px;
    overflow-y: scroll;
  }
  .location .login .loginHeader{
    height: 60px;
    width: 400px;
    color: #5B5875;
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    padding-left: 22px;
    padding-top: 14px;
    text-align: left;
    background: rgba(255,255,255,0.65);
    /*backdrop-filter: blur(100px);*/
  }
  
  .location .login .loginOption{
    height: 71px;
    width: 400px;
    background: rgba(10, 40, 50, 0.4);
    /*backdrop-filter: blur(100px);*/
    color: white;
    font-size: 12px;
    display: table;
  }
  
  .loginOptionBg{
    background: rgba(10, 40, 50, 0.4);
    /*backdrop-filter: blur(100px);*/
  }
  
  .loginOptionContent{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .location .rooms .room {
    display: flex;
    padding: 10px;
    color: #FFF;
    cursor: pointer;
    /*backdrop-filter: blur(100px);*/
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #595959;
    box-sizing: border-box;
    width: 380px;
    height: 72px;
    margin: 2px;
    margin-left: 6px;
  }
  .locationRight{
    position: absolute;
    right: 0px;
    display: flex;
  }
  
  
  .location .rooms .room:hover {
    background-color: #42a5f5;
  }
  .location .rooms .room .image {
    margin-right: 10px;
    user-drag: none;
    -webkit-user-drag: none;
  }
  .location .rooms .room .name {
    margin-right: auto;
    font-size: 16px;
  }
  .location .rooms .button {
    padding: 10px;
    background: linear-gradient(to right, #673ab7, #512da8);
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
  }
  .location .rooms .button.warning {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
  }
  .location .rooms .button:hover {
    filter: brightness(0.7);
  }
  .location .rooms .create {
    padding: 10px;
    margin-right: auto;
  }
  .location .rooms .delete {
    display: flex;
  }
  .location .input-wrap {
    position: relative;
    height: 100%;
    width: 300px;
    background-color: #000;
    font-family: monospace;
    overflow: hidden;
    transform-origin: top left;
    transform: skew(-30deg);
  }
  .location .input-wrap .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    width: 23vw;  
    transform: translateX(-100%);
    transition: transform 1s cubic-bezier(0, 1, 0, 1);
  }
  .location .input-wrap .input {
    position: relative;
    height: inherit;
    width: inherit;
    font-size: 22px;
    padding: 10px;
    background-color: transparent;
    border: 0;
    color: #FFF;
    font-family: monospace;
    font-size: 15px;
    outline: none;
    z-index: 1;
    transform: skew(30deg);
    transition: color 1s cubic-bezier(0, 1, 0, 1);
  }
  .location .input-wrap .input:focus {
    color: #000;
  }
  .location .input-wrap .input:focus + .background {
    transform: none;
  }
  .location .button-wrap {
    position: relative;
    display: flex;
    height: 100%;
    cursor: pointer;
  }
  .location .button-wrap:active .button {
    transform: scale(0.7);
    transition: none;
  }
  .location .button {
    outline: none;
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
  }
  .location .button,
  .location .button.disabled:hover
  {
    display: flex;
    height: 100%;
    border: 0;
    background-color: #000;
    border-left: solid 1px rgba(196, 196, 196, 0.25);
    align-items: center;
    transform-origin: top left;
    transform: skew(-30deg);
  }
  
  .location .rightButton,
  .location .rightButton.disabled:hover
  {
    display: flex;
    height: 100%;
    border: 0;
    align-items: center;
    background-color: transparent;
    margin-right:10px;
  }
  
  .location .rightButton .hidden {
    display: none;
  }
  
  .location .rightButton img {
    width: 25px; 
    height: 25px;
  }
  
  .location .button:hover {
    background-color: #7cb342;
  }
  .location .button.primary:not(.disabled),
  .location .button.primary:hover
  {
    /* background: linear-gradient(to right, #ff416c, #ff4b2b); */
  } 
  .location .button.disabled {
    background-color: #000;
  }
  .location .button img {
    width: 25px; 
    height: 25px;
    transform: skew(30deg);
  }
  .location .button:not(.disabled) img {
    filter: invert(1);
  }
  
  .location .button .hidden {
    display: none;
  }