
.hotbar {
    position: fixed;
    display: flex;
    margin-left: calc( 300px + 10px );
    bottom: 10px;
}

.hotbar .item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hotbar .item .box {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 2px;
    background: radial-gradient( #222, #000 );
    border: 2px solid #000;
    transition: all cubic-bezier( 0, 1, 0, 1 ) 0.3s;
}

.hotbar .item .label {
    display: flex;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 3px;
    color: #FFFFFF80;
}

/* .hotbar .item .box img {
    width: 100%;
    height: 100%;
}

.hotbar .item.selected .box {
    top: -3px;
    border-color: #FFF;
}

.hotbar .item.selected .label {
    color: #FFF;
} */

.hotbar .item .hotbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
}