.hotbar {
    position: fixed;
    display: flex;
    margin-left: calc(300px + 10px);
    bottom: 10px;
    transform: none;
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.hotbar.open {
    transform: translateX(100px);
}