
.App {
    height: 100%;
    width: 100%;
    text-align: center;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
