
.actionMenu {
    position: absolute;
    top: 144px; /* tmp value is 160px, cause overlaping with old items, correct value should be 20px */
    right: 0px;
    z-index: 1;
}

.btn {
    margin-top: 10px;
    height: 41px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 200ms ease;
    background-size: 100% 100%;
    color: #fff;
    line-height: 41px;
    padding-left: 10px;
    padding-right: 9px;
    text-align: left;
    font-size: 13px;
}

.btn:hover {
    /* todo */
}

.btn.settings {
    background-color: #000;
}

.btn.mode {
    background-color: #000;
}

.btn.vr {
    background-color: #000;
}

.btn.vr.inactive {
    opacity: 0.6;
}
