.inventory .menu {
  display: flex;
  position: fixed;
  top: 100vh;
  left: 460px;
  width: 600px;
  height: calc(100vh - 200px);
  background-image: linear-gradient(to bottom, #222, #000);
  color: #FFF;
  flex-direction: column;
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}
.inventory .menu.open {
  transform: translateY(calc(-100vh + 160px));
}
.inventory h1,
.inventory h2
{
  margin: 15px;
  font-family: 'WinchesterCaps';
  letter-spacing: 1px;
}
.inventory ul.reset,
.inventory ul.reset li,
.inventory ul.reset ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

@keyframes character-animation {
  0% {
    background-image: none;
    background-color: #000;
 }
  50% {
    background-image: none;
    background-color: #FFFFFF;
  }
  100% {
    background-image: none;
    background-color: #000;
  }
}

.inventory .list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
/* .inventory .list .item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  background-image: radial-gradient(#444, #222);
  border: 3px solid #282828;
  cursor: pointer;
} */

/* */

.inventoryObject {
  --size: 80px;
  
  display: flex;
  position: relative;
  padding: 10px;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
}
/* .inventoryObject:hover,
.inventoryObject:active
{
  cursor: grabbing;
} */
.inventoryObject .background,
.inventoryObject .highlight
{
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 1000px;
  transform-origin: 50% 50%;
}
.inventoryObject .background {
  background-color: #111;
}
.inventoryObject .highlight {
  background-color: #FFF;
  /* border: 5px solid transparent; */
  transform: scale(0, 0);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.inventoryObject:hover .highlight,
.inventoryObject.selected .highlight
{
  transform: none;
}
.inventoryObject:active .highlight,
.inventoryObject:active .background
{
  transform: scale(0.9, 0.9);
}
.inventoryObject.selected .highlight {
  background-image: radial-gradient(#7e57c2, #512da8);
}
.inventoryObject .canvas,
.inventoryObject .name,
.inventoryObject .level {
  pointer-events: none;
}
.inventoryObject .canvas {
  position: relative;
  width: var(--size);
  height: var(--size);
}
.inventoryObject .row {
  display: flex;
  align-items: baseline;
}
.inventoryObject .name,
.inventoryObject .level
{
  font-family: 'PlazaRegular';
}
.inventoryObject .name {
  margin-right: auto;
  font-size: 18px;
}
.inventoryObject .level {
  font-size: 13px;
  color: #666;
}