.threeD-trade {
  color: white;
}

.threeD-trade-content {
  overflow-y: auto;
  height: 82vh;
}

.threeD-trade-header {
  width: 100%;
  height: 100px;
  background-color: #00a6ff;
  color: white;
  text-align: center;
  padding-top: 1px;
  font-size: 20px;
}

.threeD-trade-sectionHeader {
  padding-left: 35px;
}

.threeD-trade-inventory {
  height: 305px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  margin: 30px;
  border: 1px #d2c1c1 solid;
}

.threeD-trade-inventory-card {
  height: 140px;
  width: 150px;
  background-color: black;
  color: white;
  margin: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border: 1px #eeeef5 solid;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.threeD-trade-inventory-card.selected {
  border: 2px #4faeff solid
}

.threeD-trade-inventory-card-preview {
  height: 100px;
  width: 100%;
}

.threeD-trade-inventory-card-name {
  margin-bottom: 9px;
  margin-top: 5px;
  font-size: 15px;
}

.threeD-trade-peers {
  height: 305px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  margin: 30px;
  border: 1px #d2c1c1 solid;
}

.threeD-trade-peers-card {
  width: 410px;
  height: 125px;
  background-color: black;
  padding: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  border: 1px #eeeef5 solid;
  margin: 15px;
  display: flex;
  cursor: pointer;
}

.threeD-trade-peers-card.selected {
  border: 2px #4faeff solid
}

.threeD-trade-peers-card-imgWrap {
  width: 145px;
}

.threeD-trade-peers-card-avatar {
  height: 100%;
}

.threeD-trade-peers-card-peerName {
  width: 220px;
}

.threeD-trade-cancel {
  padding: 15px 20px;
  background-color: #ff0058;
  border: 0;
  color: #FFF;
  font-size: 25px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
  margin-right: 30px;
}

.threeD-trade-accept {
  padding: 15px 20px;
  background-color: #12bd4b;
  border: 0;
  color: #FFF;
  font-size: 25px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.threeD-trade-accept.disabled {
  background-color: #b9b7b7;
  cursor: not-allowed;
  color: #FFF;
}

.threeD-trade-actions {
  display: flex;
  background-color: #000000b3;
  padding: 25px;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
.threeD-trade-info {
  width: 50%;
}
.threeD-trade-info-detail {
  font-size: 20px;
  color: #00a6ff;
}
.threeD-trade-info-header {
  padding-left: 35px;
}
#trade-agreement {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.threeD-trade-header-backBtn {
  margin: 34px;
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}
.threeD-trade-header-backBtn:hover {
  color: #ffae94;
}