
.chat {
    position: absolute;
    top: 100px;
    left: 0px;
}

.chatBtn {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba( 0, 0, 0, 0.5 );
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.chatInput {
    position: fixed;
    bottom: 250px;
    left: -200px;
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 1;
    font-size: 15px;
    line-height: 25px;
    padding: 5px 10px;
    transition: left 400ms ease;
}

.chatInput.open {
    left: 0px;
}
