
.chat {
    position: absolute;
    top: 200px;
    transform: translate( -100%, 0px );
    width: 250px;
    height: 350px;
    transition: transform 400ms ease;
    background-color: rgba( 0, 0, 0, 0.5 );
}

.chat.open {
    transform: translate( 0px, 0px );
}

.header {
    position: relative;
    width: 100%;
    cursor: pointer;
    color: #fff;
    padding: 10px 30px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    background-color: rgba( 0, 0, 0, 0.5 );
    transition: transform 400ms ease, width 400ms ease;
}

.chat:not(.open) .header {
    transform: translate( 250px, 0px );
    width: 150px;
}

.header .icon {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(40, 138, 40);
}

.chatInput {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 1;
    font-size: 15px;
    line-height: 25px;
    padding: 5px 10px;
    background-color: rgba( 0, 0, 0, 0.2 );
    outline: none;
    color: #fff;
    border: 0px;
}
