
.locationMenu {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    transition: transform 200ms cubic-bezier( 0, 1, 0, 1 );
}

.locationMenu.hiddenUI {
    transform: translateX( -100% );
}

.map {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 180px;
}
