
.locationMenu {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
}

.map {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 180px;
}
