& {
    position:fixed;
    top:0;
    width:100vh;
    height:100vh;
    margin:0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index:1000;
}

.assetDetails {
    margin:auto;
}

.assetDetailsLeftColumn {

}

.assetDetailsRightColumn {

}

.assetDetailsRightColumnHeader {

}

.assetDetailsRightColumnBody {

}

.assetDetailsButton {

}

.assetDetailsRightColumnBody {

}

.assetDetailsRightColumnFooter {

}

.assetDetailsFooterButton {

}