& {
    display: flex;
    flex-wrap: wrap;
}

&.booth {
    display: flex;
    flex-wrap: wrap;
}


&.booth.small {
   /* width: 15em;
   height: 21em; */
}

.booth.medium {
    /* width: 19em;
    height: 32em; */
}

.booth.large {
    /* width: 26em;
    height: 38em; */
}
