& {
    overflow-x: hidden;
    margin-top: 0.5em;
}

.creatorTitle {
    align-self: flex-start;
    width: 17.2em;
    position: relative;
    font-size: 2em;
    font-weight: 700;
    color: white;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  
  .creatorTitleValue {
    position: absolute;
    top: 0.15em;
    left: 10em;
  }
  
  .creatorTitleImg {
    height: 1.8em;
    width: 17em;
  }