& {
    overflow-x: hidden;
}

.header {
   display: flex;
   flex-direction: column; 
}

.headerTitle {
    width: 17.2em;
    position: relative;
    font-size: 2em;
    font-weight: 700;
    color: white;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.headerTitleValue {
    position: absolute;
    top: 0.15em;
    left: 5.8em;
}

.headerTitleImg {
    height: 1.8em;
    width: 17em;
}

.headerMain {
    width: 100%;
    height: 38em;
    position: relative;
}

.homespaceBannerImage {
    width: 100%;
    height: 38em;
    position: relative;
}

.homespaceBannerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homespaceBannerImage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
  }

.headerMainContent {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avatar {
    position: relative;
    margin-top: 2em;
    margin-left: 1em;
    width: 31em;
    height: 31em;
}

.avatarImageBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 31em;
    height: 31em;
    object-fit: cover;
    border-radius: 10px;
}

.avatarImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 31em;
    height: 31em;
    z-index: 2;
    border-radius: 10px;
}

.avatarIconsCaurousel {
    position: absolute;
    bottom: 4em;
    left: 2em;
    width: 27em;
    height: 1em;
    z-index: 3;
    display: flex;
    justify-content: space-around;
}

.iconsCaurouselItem {
    width: 4em;
    height: 4em;
    border: 2px solid #FF7043;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.avatarIconsCaurousel span {
    padding-top: 2.5em;
    color: white;
    width: 4em;
    height: 4em;
}

.headerCards {

}

.headerCardsTitle {
    position: relative;
}

.featureNameImg {
    width: 68em;
    height: 43px;
    object-fit: cover;
}

.featureNameValue {
    position: absolute;
    font-size: 2em;
    font-weight: 700;
    color: white;
    left: 50px;
}

.headerCardsMain {
    display: flex;
    justify-content: flex-end;
    margin-right: 7em;
}

.headerMainVisite {
    position: absolute;
    right: 0;
    top: 34em;
    width: 29em;
    height: 3em;
}

.visiteNameBackground {
    position: absolute;
    width: 29em;
    height: 2em;
    object-fit: cover;
}

.visiteNameValue {
    position: absolute;
    left: 3em;
    top: 0.1em;
    color: white;
    z-index: 2;
    font-size: 1.2em;
}

.visiteNameArrow {
    position: absolute;
    left: 15.5em;
    top: 0.5em;
    z-index: 2;
}

.browseTitle {
    width: 11em;
    position: relative;
    font-size: 2em;
    font-weight: 700;
    color: white;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.browseTitleValue {
    position: absolute;
    font-size: 24px;
    top: 0.4em;
    left: 1.5em;
}

.browseTitleImg {
    height: 1.7em;
    width: 8em;
}

.browseMain {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

@media (max-width: 1590px) { 

    .headerCardItem:nth-child(1) {
        display: none;
    } 

    .featureNameImg {
        position: relative;
        bottom: 3px;
        width: 48em;
        object-fit: fill;
        
    }

    .featureNameValue {
        bottom: 9px;
    }

}

@media (max-width: 1260px) {

    .headerMainContent {
        
    }

    .headerCardsTitle {
        height: 1.5em;
    }

    .featureNameImg {
        position: relative;
        bottom: 10px;
        width: 30em;
        object-fit: fill;  
    }

    .featureNameValue {
        font-size: 1.5em;
        bottom: -2px;
    }

    .headerCardItem:nth-child(2) {
        display: none;
    } 
}

@media (max-width: 950px) {

    .headerCardsMain {
        margin-right: 0;
    }

}

@media (max-width: 830px) {

    .headerCardItem:nth-child(3) {
        display: none;
    } 

}

@media (max-width: 570px) {

    .headerTitle {
        font-size: 1.5em;
    }

    .headerTitleValue {
            left: 2em;
    }

    .headerTitleImg {
            width: 13em;
    }

    .headerMain {
        height: 29em; 
    }

    .featureNameImg {
        position: relative;
        bottom: 12px;
        width: 25em;
        object-fit: fill;
    }

    .featureNameValue {
        font-size: 1.3em;
        bottom: 2px;
    }

    .headerMainVisite {
        width: 20em;
        top: 26em;
    }

    .headerCards {
        height: 29em;
    }

    .headerMainContent {
        height: 29em;
    }

    .homespaceBannerImage {
        height: 29em;
    }

    .homespaceBannerImage img {

    }

    .homespaceBannerImage::after {

    }

    .headerMainContent {
    }

   .avatar {
        width: 23em;
        height: 23em;
   }

   .avatarImageBackground {
        width: 23em;
        height: 23em;
   }

   .avatarImage {
        width: 23em;
        height: 23em;
   }

   .avatarIconsCaurousel {
        width: 20em;
        bottom: 3em;
   }

   .iconsCaurouselItem {
       width: 2.8em;
       height: 2.8em;
   }

   .avatarIconsCaurousel span {
       padding-top: 1.5em;
   }

}