.loginComponent {
    right: 0;
    position:absolute;
}

.loginComponentDropdown {

}

.loginComponentLink {

}

.loginUsername {

}

.loginAvatarPreview {
    height:2em;
    width: 2em;
}

.loginAvatarPreview img {
    height:2em;
    width: 2em;
}
