& {

}

.mintPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.mintPageHeaderTitle {
  justify-content: center;
  align-items: center;
  font-size: 2.1em;
  font-weight: 700;
}

.mintPageHeaderTitle+div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45em;
}

.mintPageHeaderStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

.mintPageHeaderNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8em;
  height: 2.8em;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 2.1em;
  font-weight: 500;
  opacity: 30%;
}

.mintPageHeaderAction {
  font-size: 1.6em;
  font-weight: 700;
  margin-top: 0.5em;
  opacity: 30%;
}

.selected {
  opacity: 1;
}

.unselected {
  opacity: 30%;
}

/* Page One */
.mintPageBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.mintPageBodyFormOne {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.mintPageBodyTitleOne {
  font-size: 2.1em;
  font-weight: 700;
  padding-right: 0.5em;
}

.mintPageBodyTitleOne+div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3.5em;
}

.mintNftImageUploadSing {
  font-size: 1.6em;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 2em;
}

.mintNftImageUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 2.65em;
}

.mintNftImageUpload input {
  display: none;
}

.mintNftImageUploadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 2.65em;
  background-color: #525252;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}

.mintNftImageUploadBtn:active {
  width: 7.5em;
  height: 2.5em;
}

/* Page Two */
.mintPageBodyFormTwo {
  width: 1200px;
  display: flex;
  margin-bottom: 2em;
}

.mintPageBodyFormTwo>div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.mintNftImagePreview {
  width: 600px;
  height: 600px;
}

.mintPageFormTwoContainer {
  padding-left: 2em;
  padding-right: 4em;
}

.mintNftNameLabel {
  font-size: 1.6em;
  font-weight: 700;
}

.mintNftName {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 4em;
}

.mintNftDescription {
  height: 3em;
  border: none;
  outline: none;
  word-break: break-all;
  font-family: inherit;
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 2.5em;
  resize: none;
  background-image: -webkit-linear-gradient(white 38px, #000 38px, #000 39px, white 39px);
  background-image: -moz-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
  background-image: -ms-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
  background-image: -o-linear-gradient(white 30px, #000 30px, #000 31px, white 31px);
  background-image: linear-gradient(white 38px, #000 38px, #000 39px, white 39px);
  background-size: 100% 39px;
  line-height: 36px;
}

.mintNftDescription+div {
  display: flex;
  justify-content: center;
}

.button {
  background: none;
	border: none;
	cursor: pointer;
  outline: inherit;
  font-size: 1em;
  font-weight: 400;
}

.mintPageBackButton {
  width: 9.5em;
  height: 3em;
  background-color: #525252;
  margin: 2em 1.3em;
  border-radius: 5px;
  color: white;
}

.mintPageContinueButton {
  width: 9.5em;
  height: 3em;
  background-color: #525252;
  margin: 2em 1.3em;
  border-radius: 5px;
  color: white;
}

.scroll::-webkit-scrollbar {
  display: none;
}

/* Page Three */
.flex {
  display: flex;
}

.mintPageBodyFormThree {
  width: 1000px;
  margin-bottom: 2em;
  justify-content: center;
  align-items: flex-start;
}

.card {
  flex-direction: column;
  width: 23em;
  height: 37em;
  background-color: #EAEAEA;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 15px;
  padding-left: 1.75em;
  padding-right: 1.75em;
  padding-top: 0.5em;
  margin-right: 4em;
}

.cardTop>div {
  width: 23em;
  justify-content: space-between;
}

.cardTopItemName {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: capitalize;
}

.cardTopCreatorIcon {
  width: 2.1em;
  height: 2.1em;
}

.cardTopOwnerIcon {
  width: 2.1em;
  height: 2.1em;
}

.cardAvatar {
  justify-content: center;
}

.cardAvatarImg {
  width: 19.85em;
  height: 19.5em;
}

.cardMain {
  flex-direction: column;
  justify-content: flex-start;
}

.cardMainInfo {
  height: 2.1em;
  justify-content: space-between;
  align-items: center;
}

.cardMainNumber {
  font-size: 1em;
  font-weight: 700;
}

.cardMainGrease {
  font-size: 1.12em;
  font-weight: 500;
}

.cardMainDescription {
  width: 18em;
  height: 9.4em;
  background-color: white;
  padding: 0.8em;
}

.cardMainDescription p {
  font-style: italic;
  font-weight: 300;
  font-size: 1.12em;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
}

.cardMainHash {
  height: 1.8em;
  justify-content: center;
  align-items: center;
}

.cardMainHash p {
  margin: 0;
  padding: 0;
  font-size: 0.6em;
  line-height: 12px;
}

.mintPageFormThreeContainer {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25em;
  height: 37em;
  margin-top: 1em;
  margin-left: 4em;
}

.mintPageBodyTitleThree {
  font-size: 2em;
  font-weight: 700;
}

.mintPageBodyTitleThree+div {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mintPageBodyWalletSing {
  font-size: 0.75em;
  font-weight: 500;
}

.mintPageBodyWalletAdress {
  font-size: 0.75em;
  font-weight: 700;
}

.mintPageBodyQuantity {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 4.2em;
}

.mintPageBodyQuantity span {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 1em;
}

.mintPageBodyQuantitySet {
  width: 3.8em;
  height: 2.25em;
  border: 1px solid #222222;
  box-sizing: border-box;
  border-radius: 0.6em;
  margin-right: 0.8em;
  text-align: right;
  padding-right: 0.3em;
  font-size: 1.5em;
  font-weight: 400;
}

.mintPageBodyMintingFee {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 1em;
}

.mintPageBodyMintingFee span {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 1em;
}

.mintPageBodyMintingFeeValue {
  font-size: 1.5em;
  font-weight: 400;
  margin-right: 1em;
}

.mintPageBodyYouHave {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 1em;
}

.mintPageBodyYouHave span {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 1em;
}

.mintPageBodyYouHaveValue {
  font-size: 1.5em;
  font-weight: 400;
  margin-right: 1em;
}

.mintPageButtons {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
}

.mintPageButtons>.mintPageBackButton {
  margin: 0;
}

.mintPageButtons>.mintPageMintButton {
  width: 9.5em;
  height: 3em;
  background-color: #525252;
  margin: 0;
  border-radius: 5px;
  color: white;
}