.profileHeader {
    width: 100%;
    position: relative;
    /* height: 30%; */
}

.homespaceBannerImage {
    width: 100%;
    height: 20em;
}

.homespaceBannerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatarImage {
    position:absolute;
    top: 3em;
    left: 3em;
    width: 12.8em;
    height: 12.8em;
}

.avatarImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
    position:absolute;
    top: 1.4em;
    left: 8.3em;
    width: 12em;
    background-image: url("data:image/svg+xml,%3Csvg width='290' height='31' viewBox='0 0 290 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M236.5 -4.1351e-05L290 31L5.42022e-06 31.0001L0 4.41074e-06L236.5 -4.1351e-05Z' fill='%23FF7043'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position-y: 0.2em;
    padding-left: 0.1em;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
}

.userAddress {
    font-size: 1em;
    font-weight: 400;
    background-color: #ffffff;
    position: absolute;
    top: 7em;
    left: 8em;
    width: 520px;
    height: 21px;
    display: flex;
    
}

.arrow-1 {
    width: 520px;
    /* background-image: url("data:image/svg+xml,%3Csvg width='412' height='21' viewBox='0 0 412 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M380.357 21L412 -1.11511e-06L-5.4202e-06 4.76837e-05L0 21L380.357 21Z' fill='%23FF7043'/%3E%3C/svg%3E"); */
    background-image: url("data:image/svg+xml,%3Csvg width='486' height='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='23' width='488' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath id='svg_1' fill='%23FF7043' d='m380.357,21l31.643,-21l-412.00001,0.00005l0.00001,20.99995l380.357,0z'/%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_4' y2='24.86327' x2='391.49964' y1='-1.13671' x1='428.9996' stroke-width='1.5' fill='%23FF7043'/%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_5' y2='20.36327' x2='398.24963' y1='0.11329' x1='429.24961' stroke-width='1.5' fill='none'/%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_7' y2='21.86327' x2='394.74964' y1='0.36329' x1='426.49961' stroke-width='1.5' fill='%23FF7043'/%3E%3Cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_8' y2='20.49999' x2='402.24963' y1='0.50001' x1='429.74961' stroke-width='1.5' fill='%23FF7043'/%3E%3Crect id='svg_9' height='8.74999' width='27.99997' y='8' x='359.24967' stroke-width='1.5' fill='%23FF7043'/%3E%3Crect stroke='null' transform='rotate(-35.717742919921875 424.88565063476557,10.446462631225572) ' id='svg_10' height='9.99669' width='49.77128' y='5.44812' x='400' stroke-width='1.5' fill='%23FF7043'/%3E%3Crect stroke='null' transform='rotate(-35.717742919921875 459.9094848632812,10.696455955505435) ' id='svg_11' height='9.99669' width='49.77128' y='5.69812' x='435.02385' stroke-width='1.5' fill='%23FF7043'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.arrow-2 {
    width: 40px;
    /* background-image: url("data:image/svg+xml,%3Csvg width='41' height='21' viewBox='0 0 41 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.5 0.976402L0.877017 20.352L11.608 20.352L40.9459 0.976319L29.5 0.976402Z' fill='%23FF7043'/%3E%3C/svg%3E"); */
    
    background-repeat: no-repeat;
}

.arrow-3 {

}

.userAddressValue {
    position: absolute;
}

.userGrease {
    background-color: #ffffff;
    position:absolute;
    top: 9em;
    left: 8em;
    width: 12em;
}


.profileBody {

}

.profileBodyNav {

}

.profileNavLink {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    padding:1em;
}

.profileNavLink.active {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-size: 1.5em;
    padding:1em;
}

.profileNavLink:hover {
    text-decoration: none;
    color: #333333;
    font-size: 1.5em;
    padding:1em;
}

.profileLoadout {

}

.profileForSale {

}

.profileInventory {

}

.profileBodyAssets {

}
