
.uiBlock {
    transition: transform 300ms cubic-bezier( 0, 1, 0, 1 );
}

.uiBlock.hide.leftHideDirection {
    transform: translateX( -120% );
}

.uiBlock.hide.rightHideDirection {
    transform: translateX( 120% );
}

.uiBlock.hide.topHideDirection {
    transform: translateY( -120% );
}

.uiBlock.hide.bottomHideDirection {
    transform: translateY( 120% );
}
