
.characterWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate( -400px, 0px );
    transition: transform 300ms ease;
}

.characterWrapper.opened {
    transform: translate( 0%, 0px );
}

/*  */

.characterBtn {
    position: relative;
    top: 50px;
    left: 400px;
    height: 41px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 200ms ease;
    background-size: 100% 100%;
    color: #fff;
    line-height: 41px;
    padding-left: 10px;
    padding-right: 9px;
    text-align: left;
    font-size: 16px;
    user-select: none;
    overflow: hidden;
    transition: color 1s cubic-bezier(0, 1, 0, 1);
    background-color: #000;
}

.characterBtn .background {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    transition: transform 1s cubic-bezier(0, 1, 0, 1);
    filter: invert(50%) sepia(99%) saturate(514%) hue-rotate(177deg) brightness(99%) contrast(94%);
    z-index: 0;
}

.characterBtn .background {
    left: 0;
    transform: rotateZ(180deg) translateX(-100%);
}

.characterBtn:hover .background, .characterWrapper.opened .background {
    transform: rotateZ(180deg) translateX(50px);
}

.characterBtn .btnShortKey {
    position: relative;
    z-index: 2;
}

.characterBtn .btnShortKey {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 13px;
    padding: 2px;
    margin-left: 4px;
    z-index: 2;
}

.characterBtn:hover .btnShortKey, .characterWrapper.opened .btnShortKey {
    border-color: #000;
    color: #000;
}

.characterBtn:hover .btnText, .characterWrapper.opened .btnText {
    position: relative;
    color: #000;
    z-index: 2;
}

/*  */

.characterPanel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 100vh;
    background-color: #000;
}


.characterPanel .avatar {
    position: relative;
}

/*  */

.characterPanel .section {
    display: flex;
    flex: 1;
}

.characterPanel .header {
    position: relative;
	display: flex;
}

.characterPanel .section.name {
    position: absolute;
    justify-content: center;
    font-family: 'WinchesterCaps';
    top: -30px;
    left: -25px;
    width: 50%;
    height: 85px;
    letter-spacing: 3px;
    font-size: 16px;
    color: #fff;
}

.characterPanel .section.main-stats {
    font-family: 'PlazaRegular';
}

.characterPanel .section.name::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom,#222222, #000000);
    transform: skew(-30deg);
    content: '';
}

.characterPanel .section.name h1 {
    position: relative;
}

.characterPanel .section .row {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    font-family: 'PlazaRegular';
    color: #fff;
}

/*  */

.emotions {
    --emotions-width: 140px;

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 140px;
    transition: transform 1s cubic-bezier(0, 1, 0, 1);
}

.characterWrapper.opened .emotions {
    transform: translate( 0px, 0px );
    right: calc(-1 * var(--emotions-width));
}

.header .tab.top.left:not(.open) .emotions {
    transform: translate3d(calc(-1 * var(--emotions-width)), 0, 0);
}
.emotions .emotion {
    display: flex;
    position: relative;
    background-color: #000;
    cursor: ns-resize;
    transition: all 1s cubic-bezier(0, 1, 0, 1);
}
.emotions .emotion .emotionProgress {
    position: absolute;
    width: 50px;
    height: 140px;
    left: -50px;
    -webkit-appearance: none;
    transform: rotateZ(-90deg);
    transition: color 1s cubic-bezier(0, 1, 0, 1);
    transform-origin: 100% 0;
}
.emotions .emotion .emotionProgress::-webkit-progress-bar {
    background: transparent;
}
.emotions .emotion .emotionProgress::-webkit-progress-value {
    background-color: #444;
    /* background-image: linear-gradient(to bottom, #56ab2f, #a8e063); */
    transition: background-color 1s cubic-bezier(0, 1, 0, 1);
}
.emotions .emotion.full {
    filter: invert(1);
}
.emotions .emotion.full .emotionProgress::-webkit-progress-value {
    background-color: #000;
}
.emotions .emotion .emotionIcon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    filter: brightness(0.3);
    /* transition: filter 1s cubic-bezier(0, 1, 0, 1); */
}

.emotions .emotion .emotionIconPlaceholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    /* background-color: #333; */
}
.emotions .emotion .emotionNamePlaceholder {
    position: absolute;
    top: 0;
    left: 50px;
    width: calc(140px - 50px);
    height: 50px;
    /* background-color: #111; */
}
.emotions .emotion:hover .emotionIconPlaceholder {
    background-color: #222;
}
.emotions .emotion:hover .emotionNamePlaceholder {
    background-color: #111;
}

.emotions .emotion:hover .emotionIcon,
.emotions .emotion.nonzero .emotionIcon {
    filter: brightness(0.7);
}
.emotions .emotion.full .emotionIcon {
    filter: brightness(1);
}

.emotions .emotion .emotionName {
    display: flex;
    position: relative;
    align-items: center;
    width: 90px;
    padding: 0 10px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    /* transition: color 1s cubic-bezier(0, 1, 0, 1); */
}

.emotions .emotion:hover .emotionName,
.emotions .emotion.nonzero .emotionName {
    color: #FFFFFF;
}

/*  */

.equipment {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #222;
    overflow: hidden;
    cursor: pointer;
  }
  .equipment:hover .background {
    transform: translateX(-220px) !important;
  }
  .equipment .background {
    position: absolute;
    height: 70px;
    transform: translateX(-560px) !important;
    transition: transform 0.2s cubic-bezier(0, 1, 0, 1);
    object-fit: cover;
    pointer-events: none;
    z-index: 1;
  }
  .equipment .icon {
    position: relative;
    width: 70px;
    height: 70px;
    padding: 10px;
    object-fit: contain;
    z-index: 1;
  }
  .equipment .name {
    position: relative;
    margin-right: auto;
    font-size: 20px;
    z-index: 1;
  }
  .equipment .button {
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
    cursor: inherit;
    z-index: 1;
  }
  .equipment .button > img {
    width: 30px;
    height: 30px;
    filter: invert(0.3);
    visibility: hidden;
  }
  .equipment .background2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }
  .equipment .button:hover > img {
    filter: none;
  }
  .equipment:hover .button > img {
     visibility: visible;
  }
  .equipment .button:hover + .background2 {
    background-color: #ef5350;
  }
  .equipment .button:active + .background2 {
    background-color: #b71c1c;
    transition: none;
  }
  