.emotions {
  --emotions-width: 140px;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 400px;
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}

.emotions:not(.open) .emotion {
  display: none;
}
.emotions:not(.open) .emotion:first-child {
  display: flex;
}
.emotions:not(.open) .emotion:first-child .emotionName,
.emotions:not(.open) .emotion:first-child .emotionProgress
{
  display: none;
}

.emotions:not(.parentOpened) {
  transform: translate(-50px, 0px );
}

.emotions .emotion {
  display: flex;
  position: relative;
  background-color: #000;
  cursor: ns-resize;
  transition: all 1s cubic-bezier(0, 1, 0, 1);
}
.emotions .emotion .emotionProgress,
.emotions .emotion .emotionName,
.emotions .emotion .emotionIcon,
.emotions .emotion .emotionNamePlaceholder,
.emotions .emotion .emotionIconPlaceholder
{
  pointer-events: none;  
}
.emotions .emotion .emotionProgress {
  position: absolute;
  width: 50px;
  height: 140px;
  left: -50px;
  -webkit-appearance: none;
  transform: rotateZ(-90deg);
  transition: color 1s cubic-bezier(0, 1, 0, 1);
  transform-origin: 100% 0;
}
.emotions .emotion .emotionProgress::-webkit-progress-bar {
  background: transparent;
}
.emotions .emotion .emotionProgress::-webkit-progress-value {
  background-color: #666;
  /* background-image: linear-gradient(to bottom, #56ab2f, #a8e063); */
  transition: background-color 1s cubic-bezier(0, 1, 0, 1);
}
.emotions .emotion.full {
  filter: invert(1);
}
.emotions .emotion.full .emotionProgress::-webkit-progress-value {
  background-color: #000;
}
.emotions .emotion .emotionIcon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  filter: brightness(0.3);
  /* transition: filter 1s cubic-bezier(0, 1, 0, 1); */
}

.emotions .emotion .emotionIconPlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  /* background-color: #333; */
}
.emotions .emotion .emotionNamePlaceholder {
  position: absolute;
  top: 0;
  left: 50px;
  width: calc(140px - 50px);
  height: 50px;
  /* background-color: #111; */
}
.emotions .emotion:hover .emotionIconPlaceholder {
  background-color: #222;
}
.emotions .emotion:hover .emotionNamePlaceholder {
  background-color: #111;
}

.emotions .emotion:hover .emotionIcon,
.emotions .emotion.nonzero .emotionIcon {
  filter: brightness(0.7);
}
.emotions .emotion.full .emotionIcon {
  filter: brightness(1);
}

.emotions .emotion .emotionName {
  display: flex;
  position: relative;
  align-items: center;
  width: 90px;
  padding: 0 10px;
  text-align: center;
  color: #666;
  text-transform: uppercase;
  /* transition: color 1s cubic-bezier(0, 1, 0, 1); */
}

.emotions .emotion:hover .emotionName,
.emotions .emotion.nonzero .emotionName {
  color: #FFFFFF;
}