.Death {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "PlazaRegular";
    font-size: 5vw;
    color: #f00;
    text-shadow: 2px 2px 0px #333;
    transform: none;
    transition: transform 1s cubic-bezier(0, 1, 0, 1);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    justify-content: center;
  }
  
  .Death:not(.open) {
    transform: translateY(-100%);
  }
  
  .Death .respawn {
    border: 1px solid red;
    border-radius: 2vw;
    cursor: pointer;
    text-align: center;
    padding: 0 2vw;
  }
  
  .Death .rainFx {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
  }