
.switch {
    position: relative;
}

.switch .left {
    float: left;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    opacity: 0.7;
    border: 1px solid #aaa;
    border-radius: 5px;
    transition: opacity 200ms ease;
}

.switch .left:hover {
    opacity: 0.9;
}

.switch .right {
    float: right;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    opacity: 0.7;
    border: 1px solid #aaa;
    border-radius: 5px;
    transition: opacity 200ms ease;
}

.switch .right:hover {
    opacity: 0.9;
}

.switch .value {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
