@keyframes border-blink {
  0% {
    border-color: #000;
  }
  25% {
    border-color: #000;
  }
  26% {
    border-color: #fff;
  }
  50% {
    border-color: #fff;
  }
  75% {
    border-color: #fff;
  }
  76% {
    border-color: #000;
  }
  100% {
    border-color: #000;
  }
}

.zoneTitleCard {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "PlazaRegular";
  color: #fff;
  text-shadow: 2px 2px 0px #333;
  transform: none;
  transition: transform 1.5s cubic-bezier(0, 1, 0, 1);
  pointer-events: none;
  z-index: 999;
}

.zoneTitleCard:not(.open) {
  transform: translateY(-100%);
}

.zoneTitleCard .leftWingWrapper {
  /* position: absolute; */
  flex: 1 0 35%;
  display: flex;
  justify-content: flex-end;
  /* left: 10vw; */
}
.zoneTitleCard .leftWing {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.zoneTitleCard .leftWing .block {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 100%;
  background-color: #000;
}
.zoneTitleCard .leftWing .block .title {
  margin: 0;
  margin-top: auto;
}
.zoneTitleCard .leftWing .block .logoImage {
  margin-top: auto;
  width: 100%;
  object-fit: contain;
}
.zoneTitleCard .leftWing .tailImg {
  width: 100%;
}
.zoneTitleCard .mainSectionWrapper {
  display: flex;
  flex: 1 1 65%;
}
.zoneTitleCard .mainSection {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}
.zoneTitleCard .rightSection {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* top: 30vh;
  right: 30vw;*/
  margin-bottom: 10vh;
}
.zoneTitleCard .rightSection .title {
  font-size: 7em;
}
.zoneTitleCard .rightSection .description {
  font-size: 2.5em;
}
.zoneTitleCard .rightSection .comment {
  font-size: 1em;
}
.zoneTitleCard .rightSection .title,
.zoneTitleCard .rightSection .description,
.zoneTitleCard .rightSection .comment {
  position: relative;
  display: flex;
  margin-bottom: 2vh;
}
.zoneTitleCard .rightSection .title .text,
.zoneTitleCard .rightSection .description .text {
  position: relative;
}
.zoneTitleCard .rightSection .title .background,
.zoneTitleCard .rightSection .description .background {
  /* position: absolute; */
  top: 40%;
  bottom: 0;
  /* left: -20px;
  right: -20px; */
  background-color: #000;
  transform: skew(22deg);
}

.zoneTitleCard .rightSection .renderMirror {
  /* position: absolute;
  top: -44px;
  left: -100px; */
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #333;
  animation: border-blink 0.5s linear infinite;
}

.zoneTitleCard .bottomSection {
  /* position: absolute; */
  /* left: 40vw;
  bottom: 150px; */
  /* background-color: #FFF; */
  /* background-image: linear-gradient(to bottom, #333, #111); */
  /* flex-basis: 100%; */
}
.zoneTitleCard .bottomSection .loadingBar {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}
.zoneTitleCard .bottomSection .loadingBar .label {
  padding: 1vh;
  margin-bottom: 1vh;
  font-size: 2.5em;
}
.zoneTitleCard .bottomSection .loadingBar .loadProgressImage {
  position: relative;
  /* width: 40vw; */
  height: 0.2vh;
}
.zoneTitleCard .bottomSection .loadingBar .loadProgress {
  /* position: absolute; */
  /* left: 51px; */
  width: 40vw;
  /* bottom: 12px; */
  height: 0.7vh;
  -webkit-appearance: none;
}
.zoneTitleCard .bottomSection .loadingBar .loadProgress::-webkit-progress-bar {
  background: transparent;
}
.zoneTitleCard
  .bottomSection
  .loadingBar
  .loadProgress::-webkit-progress-value {
  /* background-color: #444; */
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 512px 100%;
  /* background-image: linear-gradient(to bottom, #56ab2f, #a8e063); */
  /* transition: background-color 1s cubic-bezier(0, 1, 0, 1); */
}
.overlay {
  background-color: black;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.rainFx {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 100%;
  height: 100%; */
  z-index: -1;
  pointer-events: none;
}
