@keyframes border-blink {
  0% {
    border-color: #000;
  }
  25% {
    border-color: #000;
  }
  26% {
    border-color: #fff;
  }
  50% {
    border-color: #fff;
  }
  75% {
    border-color: #fff;
  }
  76% {
    border-color: #000;
  }
  100% {
    border-color: #000;
  }
}
.zoneTitleCard {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "PlazaRegular";
  color: #fff;
  text-shadow: 2px 2px 0px #333;
  transform: none;
  /*transition: 5s cubic-bezier(0, 1, 0, 1);*/
  pointer-events: none;
  z-index: 999;
  background-color: black;
}
.zoneTitleCard:not(.showZoneTitleCard) {
  opacity: 0;
}
.zoneTitleCard .leftWingWrapper {
  flex: 1 0 35%;
  display: flex;
  justify-content: flex-end;
}
.zoneTitleCard .leftWing {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.zoneTitleCard .leftWing .block {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 100%;
  background-color: #000;
  justify-content: center;
}
.zoneTitleCard .leftWing .block .title {
  margin: 0;
  margin-top: auto;
}
.zoneTitleCard .leftWing .block .logoImage {
  position: relative;
  width: 100%;
  object-fit: contain;
  left: 0;
  opacity: 1;
  transition: 5s cubic-bezier(0, 1, 0, 1);
}
.zoneTitleCard .leftWing .block .logoImage:not(.showLogo) {
  left: -100%;
  opacity: 0;
}
.zoneTitleCard .leftWing .tailImg {
  width: 100%;
}
.zoneTitleCard .mainSectionWrapper {
  display: flex;
  flex: 1 1 65%;
}
.zoneTitleCard .mainSection {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}
.zoneTitleCard .rightSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}
.zoneTitleCard .rightSection .title {
  position: relative;
  top: 0;
  opacity: 1;
  font-size: 7em;
  transition: 5s cubic-bezier(0, 1, 0, 1);
}
.zoneTitleCard .rightSection .title:not(.showTitle) {
  top: -100%;
  opacity: 0;
}
.zoneTitleCard .rightSection .description {
  position: relative;
  right: 0;
  opacity: 1;
  font-size: 2.5em;
  transition: 5s cubic-bezier(0, 1, 0, 1);
}
.zoneTitleCard .rightSection .description:not(.showDescription) {
  right: -100%;
  opacity: 0;
}
.zoneTitleCard .rightSection .comment {
  position: relative;
  right: 0;
  opacity: 1;
  font-size: 1em;
  transition: 5s cubic-bezier(0, 1, 0, 1);
}
.zoneTitleCard .rightSection .comment {
  right: -100%;
  opacity: 0;
}
.zoneTitleCard .rightSection .title,
.zoneTitleCard .rightSection .description,
.zoneTitleCard .rightSection .comment {
  position: relative;
  display: flex;
  margin-bottom: 2vh;
}
.zoneTitleCard .rightSection .title .text,
.zoneTitleCard .rightSection .description .text {
  position: relative;
}
.zoneTitleCard .rightSection .title .background,
.zoneTitleCard .rightSection .description .background {
  top: 40%;
  bottom: 0;
  background-color: #000;
  transform: skew(22deg);
}
.zoneTitleCard .rightSection .renderMirror {
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #333;
  animation: border-blink 0.5s linear infinite;
}
.zoneTitleCard .bottomSection {
  position: relative;
  bottom: 0;
  opacity: 1;
  transition: 5s cubic-bezier(0, 1, 0, 1);
}
.zoneTitleCard .bottomSection:not(.showBottomSection) {
  bottom: -20%;
  opacity: 0;
}
.zoneTitleCard .bottomSection .loadingBar {
  display: flex;
  flex-direction: column;
}
.zoneTitleCard .bottomSection .loadingBar .label {
  padding: 1vh;
  margin-bottom: 1vh;
  font-size: 2.5em;
}
.zoneTitleCard .bottomSection .loadingBar .loadProgressImage {
  position: relative;
  height: 0.2vh;
}
.zoneTitleCard .bottomSection .loadingBar .loadProgress {
  width: 40vw;
  height: 0.7vh;
  -webkit-appearance: none;
}
.zoneTitleCard .bottomSection .loadingBar .loadProgress::-webkit-progress-bar {
  background: transparent;
}
.zoneTitleCard
  .bottomSection
  .loadingBar
  .loadProgress::-webkit-progress-value {
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 512px 100%;
}
.overlay {
  background-color: black;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: 5s cubic-bezier(0, 1, 0, 1);
  display: block;
}
.overlay:not(.showOverlay) {
  display: none;
}
.rainFx {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}
