
.m-menu_details {
  /* Position */
  margin-right: var(--m-menu-section-padding);
  /* Size */
  width: 400px;
}

.m-menu_details_details {
  /* Text */
  font-size: 1.25rem;
}

.m-menu_details_image {
  /* Display */
  overflow: hidden;

  /* Position */
  margin-bottom: 1rem;

  /* Size */
  height: auto;
  width: 100%;
}

.m-menu_details_name {
  /* Display */
  padding: 1rem;

  /* Position */
  margin-bottom: 1rem;
  position: relative;
  z-index: 10;

  /* Text */
  font-size: 2rem;
  text-align: center;
}

.m-menu_details_name_decal {
  /* Display */
  fill: var(--primaryLight);
  padding: 4px;

  /* Size */
  height: 100%;
  width: 100%;

  /* Position */
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
