& {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.notification {
    display: flex;
    width: 37em;
    height: 7em;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.notificationIcon {
    height: 100%;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
}

.notificationIcon img {
    width: 2em;
    height: 2em;
    border: 3px solid white;
    padding: 1em;
    border-radius: 50%;
}

.notificationDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}

.notificationTitle {
    font-weight: bold;
    line-height: 2em;
}

.notificationValue {
    line-height: 2em;
}

.notificationIconError {
    background-color: #ff0000;
}

.notificationIconSuccess {
    background-color: #00ff29;
}

.notificationIconProgress {
    position: relative;
    background-color: #ffD600;
}

.notificationIconProgress span {
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    padding: 2em;
}

.notificationIconProgress img {
    border: none;
    position: relative;
    top: 0.8em;
}

