@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.avatarIcon {
  --width: 200px;
  --canvas-size: 100px;
  
  position: fixed;
	display: flex;
  top: 0;
  left: 0;
  user-select: none;
  cursor: pointer;
  z-index: 2;
}

/* .avatarIcon .logo {
  width: var(--header-height);
	height: var(--header-height);
  margin-left: 10px;
  user-select: none;
}
.avatarIcon .logo img {
  pointer-events: none;
}
.avatarIcon .logo:hover img {
  transform: scale(1.4);
} */

.characterIcon.loaded .placeholderImg {
  display: none;
}
.characterIcon .placeholderImg {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc( var(--canvas-size) - 10px * 2);
  height: calc( var(--canvas-size) - 10px * 2);

  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  z-index: 1;
}

.avatarIcon .characterIcon {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  transform: translate(0, 0);
  transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
}
.avatarIcon .characterIcon .canvas {
  position: relative;
  width: var(--canvas-size);
  height: var(--canvas-size);
  background-image: radial-gradient(#FFF, #CCC);
  border: 3px solid #000;
  border-radius: 1000px;
  z-index: 1;
}
.avatarIcon .characterIcon .canvas:not(:first-child) {
  display: none;
}
.avatarIcon .characterIcon .meta {
  display: flex;
  flex-direction: column;
  width: var(--width);
}
.avatarIcon .characterIcon .meta .text {
  position: relative;
  display: flex;
  margin-left: -60px;
  padding: 5px 10px;
  padding-left: 60px;
  font-family: WinchesterCaps;
  font-size: 23px;
  color: #FFF;
  letter-spacing: 1px;
  line-height: 1;
  align-items: baseline;
}
.avatarIcon .characterIcon .meta .text .name,
.avatarIcon .characterIcon .meta .text .level
{
  position: relative;
}
.avatarIcon .characterIcon .meta .text .name {
  margin-right: auto;
}
.avatarIcon .characterIcon .meta .text .level {
  font-size: 18px;
}
.avatarIcon .characterIcon .meta .text .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  transform: skewX(-30deg);
  overflow: hidden;
}
.avatarIcon .characterIcon .meta .text .background::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #42a5f5;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
  content: '';
}
.avatarIcon .characterIcon .meta .stat {
  display: flex;
  position: relative;
}
.avatarIcon .characterIcon .meta .stat .label {
  position: relative;
  display: flex;
  justify-content: center;
  width: 56px;
  margin-left: -30px;
  padding: 0 5px;
  padding-left: 30px;
  background-color: #000;
  color: #FFF;
  font-family: 'PlazaRegular';
  font-size: 18px;
  line-height: 20px;
}
.avatarIcon .characterIcon .meta .stat .value {
  position: absolute;
  top: 0;
  /* top: -1px; */
  left: 25px;
  font-family: 'WinchesterCaps';
  font-size: 17px;
  letter-spacing: 1px;
  color: #FFF;
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
}
.avatarIcon .characterIcon .meta .stat .progress {
  width: 100%;
  height: 3px;
  margin-top: auto;
  margin-bottom: 3px;
  appearance: none;
}
.avatarIcon .characterIcon .meta .stat .progress::-webkit-progress-bar {
  background: transparent;
}
.avatarIcon .characterIcon .meta .stat.hp .progress::-webkit-progress-value {
  background-image: linear-gradient(to right, #ad1457, #f48fb1);
}
.avatarIcon .characterIcon .meta .stat.mp .progress::-webkit-progress-value {
  background-image: linear-gradient(to right, #7cb342, #9ccc65);
}
.avatarIcon .characterIcon .meta .stat .progress::-webkit-progress-value {
  background-image: linear-gradient(to right, #1e88e5, #42a5f5);
}

.avatarIcon .characterIcon .meta .stat .barImg {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.avatarIcon .characterIcon .main {
  display: flex;
  z-index: 1;
}
.avatarIcon .characterIcon .sub {
  position: absolute;
  display: flex;
  top: 102px;
  left: 0;
}
.avatarIcon .characterIcon .limitBar {
  position: relative;
  height: 18px;
  width: var(--width);
  margin-top: 7px;
  /* margin-left: 20px; */
  border: 3px solid;
  background: linear-gradient(to bottom,rgb(46, 46, 46) 10%,rgb(116, 116, 116) 40%,rgb(116, 116, 116) 100%);
}
.avatarIcon .characterIcon .limitBar .label {
  position: absolute;
  top: 0;
  font-size: 14px;
  /* line-height: 1; */
  letter-spacing: 1px;
  color: #FFF;
  /* -webkit-text-stroke: 0.5px #000; */
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
  text-transform: uppercase;
}
.avatarIcon .characterIcon .limitBar .inner {
  position: absolute;
  /* margin: 3px 0px 0px 23px; */
  /* height: 13px; */
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  background: linear-gradient(to bottom,rgb(194, 130, 130) 20%,rgb(255, 255, 255) 40%,rgb(255, 170, 170) 60%, rgb(255, 170, 170) 100%);
}
.avatarIcon .characterIcon .limitBar.full .inner {
  animation-name: hueRotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.avatarIcon .buttonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: #FFF;
  font-size: 12px;
  /* background: transparent; */
  /* background: #000; */
  /* border: 0; */
  border-radius: 3px;
}
.avatarIcon .buttonWrap .button {
  padding: 2px;
  background-color: #000;
  /* border: 1px solid #fff; */
  border-radius: 3px;
  font-size: 13px;
  transition: background-color 0.5s cubic-bezier(0, 1, 0, 1);
}
.avatarIcon:hover .characterIcon {
  transform: translateX(10px);
}
/* .avatarIcon:hover .main {
  transform: scale(1.1, 1.1);
} */
.avatarIcon:hover .buttonWrap .button {
  background-color: #42a5f5;
  /* color: #FFF; */
}
.avatarIcon:hover .characterIcon .meta .text .background::before {
  transform: translate(0, 0);
}