.character-hups {
  position: absolute;
  top: 100px;
  left: 0;
  width: 128px;
  height: 128px;
  display: flex;
  z-index: 1;
}
.character-hups > .character-hup {
  transition: transform 3s cubic-bezier(0, 1, 0, 1);
}
.character-hups > .character-hup:not(.open) {
  transform: translateX(-100%);
  /* transition: transform 1s ease-out; */
}
.character-hups > .character-hup.open {
  /* transition: transform 1s cubic-bezier(0, 1, 0, 1); */
}