* {
  box-sizing: border-box;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@font-face {
  font-family: 'Bangers';
  src: url('Bangers-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'GeoSans';
  src: url('GeosansLight.woff2') format('woff2'); /* Super Modern Browsers */
}

body {
  margin: 0;
  /* font-family: 'Open Sans'; */
  font-family: 'Muli';
  font-size: 12px;

  --color: #ec407a;
  --color2: #ffa726;
  --color3: #42a5f5;
}
body:not(.overflow) {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--color3);
}

img:not([src]) {
  visibility: hidden;
}

.hidden {
  display: none;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}
.progress-bar .bar {
  /* color: #ef5350; */
  color: #5c6bc0;
  background-color: currentColor;
  box-shadow: 0 0 10px currentColor;
  height: 2px;
}

.spinner {
  animation: spin 1s linear infinite;
  margin: auto;
}

.header
{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  user-select: none;
  z-index: 3;
}

.header .icon > .img
{
  display: flex;
  width: 40px;
  height: 40px;
  border: 4px solid var(--color);
  background-color: var(--color);
  border-radius: 100px;
}
.header .openable:not(.open)
{
  display: none;
}
.header .navs {
  display: flex;
}

.header .icon > .name {
  margin-left: -5px;
  padding: 2px 5px;
  color: #FFF;
  background-color: var(--color);
  z-index: -1;
}
.header .icon > .img.primary,
.header .icon > .name.primary
{
  --color: #7986cb;
}
.header .icon > .img.secondary,
.header .icon > .name.secondary
{
  --color: #66bb6a;
}
.header .icon > .img.tertiary,
.header .icon > .name.tertiary
{
  --color: #ef5350;
}
.header .icon > .img.highlight,
.header .icon > .name.highlight
{
  --color: #29b6f6;
}
.header .icon > .img.disabled,
.header .icon > .name.disabled
{
  --color: #EEE;
  color: #000;
}

.header .nav {
  position: relative;
  display: flex;
  height: 100%;
  margin-left: 20px;
  /* justify-content: center; */
  align-items: center;
  color: inherit;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
.header .navs .nav + .nav {
  margin-left: 10px;
}

.header .nav.double {
  padding-left: 0;
  cursor: default;
}

.header .nav.bar-left {
  border: 0;
  border-left: 3px solid #000;
}
.marginer {
  margin-right: auto;
}

.header .nav.double > a,
.header .nav.double > i
{
  display: flex;
  height: 100%;
  margin-right: 5px;
  padding: 0 10px;
  padding-top: 3px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.header .nav.double > i:hover,
.header .nav.double > a:hover
{
  background-color: var(--color);
  color: #FFF;
}

.header .nav.full {
  height: 100%;
}

.header .nav.full i {
  padding-top: 3px;
  font-size: 16px;
}

.header .nav.full i + span {
  margin-left: 5px;
}

.header .nav.square {
  width: 50px;
}

.header .nav.full:hover,
.header .nav.full.open
{
  background-color: var(--color);
  border-bottom-color: transparent;
  color: #FFF;
}

.header .nav.hidden {
  overflow: hidden;
}

.header .nav > .label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: -24px;
  height: 24px;
  padding: 5px;
  background-color: #111;
  font-size: 13px;
  white-space: nowrap;
  pointer-events: none;
}
.header .nav:not(:hover) > .label {
  display: none;
}

/* .header .bar {
  margin: 0 3px;
  padding: 10px 0;
  border-left: 1px solid #000;
} */

.header .selector,
.header .spacer
{
  margin-right: auto;
}
.header .selector {
  width: 500px;
  padding-left: 0;
  justify-content: flex-start;
}
.header .selector:hover,
.header .selector.open
{
  background-color: #000;
  color: #FFF;
}
.header .selector i.head {
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
}
.header .selector .header-label {
  flex: 1;
}
.header .selector i.tail {

}

.footer {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 15px;
  /* z-index: 1; */
  pointer-events: none;
}

.footer .nav {
  position: relative;
  display: flex;
  padding: 10px 20px;
  background-color: #808080;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;
  opacity: 0.5;
  overflow: hidden;
  pointer-events: all;
  cursor: pointer;
}
.footer .nav:hover {
  opacity: 1;
}
.footer .nav:nth-child(2) {
  margin-right: auto;
}
.footer .nav.enabled {
  background-color: #5c6bc0;
  opacity: 1;
}
.enabled {
  background-color:#1e88e5 !important;
  color: white;
  opacity: 1;
}
.footer .nav.enabled .enable-icon,
.footer .nav:not(.enabled) .disable-icon
{
  display: none;
}
.footer .nav + .nav {
  margin-left: 10px;
}
.footer .nav i {
  margin-right: 5px;
}
.footer .nav .label {
  display: none;
}
.footer .nav.hidden {
  visibility: hidden;
}

.early-access-label {
  padding: 3px;
  background-color: #000;
  color: #FFF;
}

.selections {
  display: flex;
  position: absolute;
  top: 50px;
  left: -3px;
  right: 0;
  flex-direction: column;
}
.selections:not(.open) {
  display: none;
}
.selections .selection {
  display: flex;
  padding: 5px 10px;
  padding-left: 0;
  background-color: #FFF;
  color: #000;
  text-decoration: none;
}
.selections .selection.dim {
  color: #CCC;
  cursor: default;
}
.selections .selection:not(.dim):hover {
  background-color: #000;
  color: #FFF;
}
.selections .selection i {
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
}
.selections .selection .wrap {
  display: flex;
  flex-direction: column;
}
.selections .selection .wrap h3,
.selections .selection .wrap p
{
  margin: 0;
}
.selections .selection .wrap h3 {
  font-weight: 400;
}
.selections .selection i,
.selections .selection .wrap h3
{
  font-size: 16px;
}
.selections .selection .wrap p {
  font-size: 13px;
}

.pagination {
  display: none;
  margin-bottom: 25px;
  justify-content: center;
}

.pagination-control {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.header-gap {
  margin-top: 50px;
}

.subheader {
  display: flex;
  margin-top: 50px;
  margin-left: 130px;
  /* margin-bottom: 10px; */
  border-bottom: 1px solid #EEE;
}
.subheader .subtab {
  padding: 10px;
  font-size: 20px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.subheader .subtab:hover,
.subheader .subtab.open
{
  border-bottom-color: #000;
}
.subheader .subtab.open {
  cursor: default;
}

.subcontent {
  display: flex;
  padding: 0 30px;
  padding-top: 15px;
  max-height: 100vh;
  flex-direction: column;
}
.subcontent:not(.open) {
  display: none;
}

.loader {
  display: flex;
  margin: 30px auto;
  padding: 50px;
  color: #2a2b56;
  font-size: 36px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 7px;
  text-align: center;
  flex-direction: column;
  /* margin-top: 100px; */
}
.loader h1 {
  font-size: inherit;
}

.body {
  background-color: var(--color2);
}

body:not(.loading) .loader,
body.loading .grid,
body.loading .pagination
{
  display: none;
}

body.no-ui header,
body.no-ui footer,
body.no-ui .menu,
body.no-ui .unmenu
{
  display: none;
}

/* .hero, .detail {
  position: relative;
  display: flex;
  align-items: center;
}

.hero {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
}

.container {
  display: flex;
  width: 600px;
  margin-left: 100px;
}

.hero .container h1 {
  padding: 20px 0;
  border-bottom: 2px solid #000;
  font-size: 40px;
  font-weight: 400;
} */

/* header .wallet {
  display: flex;
  height: 37px;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #F4F4F4;
  border-radius: 7px;
  align-items: center;
}

header .wallet.none, header .wallet.import, header .wallet.locked, header .wallet.unlocked, header.builtin .blocker .button, header.extension .blocker .button {
  display: none;
}

header.builtin.import .wallet.import, header.builtin.locked .wallet.locked, header.builtin.unlocked .wallet.unlocked, header.builtin:not(.import):not(.locked):not(.unlocked) .wallet.none {
  display: flex;
} */

.sidebar {
  width: 150px;
}

.tools > .row > .tool,
.weapons > .row > .weapon,
.functions > .row > .function,
.ops > .op,
.colors > .row > .color,
.enters > .enter
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}
.tools > .row > .tool,
.weapons > .row > .weapon,
.functions > .row > .function,
.ops > .op,
.colors > .row > .color {
  width: 30px;
  height: 30px;
}
.tools,
.weapons,
.functions,
.colors {
  flex-direction: column;
}
.tools,
.weapons,
.functions,
.colors
{
  margin-right: 5px;
}
.row {
  display: flex;
}
.tools > .row > .tool,
.weapons > .row > .weapon,
.functions > .row > .function
{
  background-color: #FFF;
}
.tools > .row > .tool:hover,
.weapons > .row > .weapon:hover,
.functions > .row > .function:hover
{
  background-color: #42a5f5;
  color: #FFF;
}
.tools > .row > .tool:active,
.tools > .row > .tool.selected,
.tools > .row > .tool.open,
.weapons > .row > .weapon:active,
.weapons > .row > .weapon.selected,
.weapons > .row > .weapon.open,
.functions > .row > .function:active,
.functions > .row > .function.selected,
.functions > .row > .function.open
{
  background-color: #1e88e5;
  color: #FFF;
}
.tools > .row > .tool.hidden,
.weapons > .row > .weapon.hidden,
.functions > .row > .function.hidden
{
  display: none;
}
.tools > .row > .tool > .label,
.weapons > .row > .weapon > .label,
.functions > .row > .function > .label,
.ops > .op > .label
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -24px;
  height: 24px;
  padding: 5px;
  background-color: #111;
  font-size: 13px;
  white-space: nowrap;
  pointer-events: none;
}
.tools > .row > .tool:not(:hover) > .label,
.weapons > .row > .weapon:not(:hover) > .label,
.functions > .row > .function:not(:hover) > .label,
.ops > .op:not(:hover) > .label
{
  display: none;
}
.tools > .row > .tool > .label,
.weapons > .row > .weapon > .label,
.functions > .row > .function > .label
{
  left: 0;
}
.tools > .row > .tool > .fill,
.weapons > .row > .weapon > .fill,
.functions > .row > .function > .fill,
.ops > .op > .fill
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.functions > .row > .function > i {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* .dropdown {
  display: flex;
  position: absolute;
  top: 50px;
  right: 0;
  width: 300px;
  height: calc(100% - 50px);
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  flex-direction: column;
  overflow: auto;
}

.dropdown:not(.open) {
  display: none;
}

.dropdown .row {
  padding: 10px;
  flex-direction: column;
}

.dropdown .tabs {
  display: flex;
}

.dropdown .tabs .tab {
  display: flex;
  height: 50px;
  padding-top: 3px;
  border-bottom: 3px solid #EEE;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.dropdown .tabs .tab:hover,
.dropdown .tabs .tab.open
{
  border-color: var(--color);
}

.dropdown .tabs .tab.open {
  cursor: default;
}

.dropdown .tab-content:not(.open) {
  display: none;
}

.dropdown .tabs .tab > span {
  padding: 0 10px;
}
.dropdown .tabs .tab > nav {
  position: relative;
  display: flex;
  width: 30px;
  height: 50px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.dropdown .tabs .tab > nav:hover {
  background-color: var(--color);
  color: #FFF;
} */

.subpage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 200px;
  /* padding: 20px; */
  background-color: #111;
  color: #FFF;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); */
  overflow: auto;
}

.subpage:not(.open) {
  display: none;
}

.subtabs {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.subtabs .subtab {
  display: flex;
  /* height: 30px;
  margin: 10px 0; */
  padding: 5px 10px;
  /* background-color: #EEE; */
  border-bottom: 3px solid transparent;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.subtabs .subtab:hover,
.subtabs .subtab.open
{
  border-bottom-color: #000;
}

/* .subtabs .subtab:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.subtabs .subtab:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */

.subtabs .subtab:hover {
  border-bottom-color: 3px solid #000;
  /* background-color: #000;
  color: #FFF; */
}
.subtabs .subtab.open {
  /* background-color: #1e88e5;
  color: #FFF; */
}

.subtabs .search {
  margin: auto;
}
.subtabs .search .search-input {
  border-radius: 4px;
  border: none;
  padding: 4px;
}
.subtabs .title {
  display: flex;
}
.subtabs .close-button {
  display: flex;
  width: 40px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.subtabs .close-button:hover {
  color: #ef5350;
}

.subtab-content:not(.open) {
  display: none;
}

.worlds-wrap {
  display: flex;
  align-items: flex-start;
}

/* .worlds {
  width: 600px;
}
.world-buttons {
  width: 350px;
  margin-right: 50px;
}
.world-tools {
  padding: 15px;
  border: 3px solid #000;
  border-radius: 10px;
}
.world-tools h3 {
  margin: 0;
  margin-bottom: 10px;
}

.world-tool {
  padding: 10px;
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}
.world-tool:hover {
  background-color: #64b5f6;
}

.worlds h1,
.world-tools h1,
.world-buttons h1
{
  min-width: 1px;
  height: 24px;
  margin: 0;
  margin-bottom: 10px;
}

.worlds .world,
.world-buttons .world
{
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  align-items: flex-start;
  cursor: pointer;
}

.worlds .world:hover,
.world-buttons .world:hover
{
  background-color: #EEE;
}

.worlds .world.open,
.world-buttons .world.open
{
  background-color: #000;
  color: #FFF;
}

.worlds .world img,
.world-buttons .world img,
.worlds .world i,
.world-buttons .world i
{
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #F8F8F8;
  font-size: 20px;
  color: #000;
  justify-content: center;
  align-items: center;
}

.worlds .world .wrap,
.world-buttons .world .wrap
{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.worlds .world .wrap h1,
.world-buttons .world .wrap h1
{
  margin: 0;
  margin-bottom: 10px;
}

.worlds .world .wrap p,
.world-buttons .world .wrap p
{
  margin: 0;
  margin-bottom: 10px;
}

.worlds .world .button,
.world-buttons .world .button
{

} */

.packages,
.inventory,
.worlds-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  max-height: 200px;
  justify-content: space-around;
}
.packages .package,
.worlds .world,
.inventory .item
{
  position: relative;
  display: inline-flex;
  margin: auto;
  margin-bottom: 20px;
  border: 5px solid transparent;
  flex-direction: column;
  cursor: pointer;
}
.worlds-subpage {
  height: 400px;
}
.worlds {
  text-align: center;
}
.worlds .world.open {
  background-color: #64b5f6;
}
.worlds .name-input {
  width: 100px;
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  color: inherit;
  outline: none;
}
.worlds .name-input:not([disabled]) {
  background-color: #FFF;
  color: #000;
}
.packages .package .background,
.worlds .world .background,
.inventory .item .background
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  /* right: 0; */
  display: flex;
  flex-direction: column;
}
.packages .package:not(:hover) .background,
.worlds .world:not(:hover) .background,
.inventory .item:not(:hover) .background
{
  display: none;
  padding: 10px;
}
.packages .package img,
.packages .package i,
.worlds .world img,
.worlds .world i,
.inventory .item img,
.inventory .item i
{
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  background-color: #F8F8F8;
  border-radius: 5px;
  font-size: 30px;
  color: #000;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.packages .package .name,
.worlds .world .name,
.inventory .item .name
{
  font-size: 13px;
}
.packages .package .button,
.worlds .world .button,
.inventory .item .button
{
  margin-bottom: 5px;
}

.objects {
  display: flex;
  flex-direction: column;
}

.objects .object {
  display: flex;
  margin-bottom: 2px;
  padding: 10px;
  background-color: #F8F8F8;
  align-items: center;
  cursor: pointer;
}

.objects .object.hover {
  background-color: #42a5f5;
  color: #FFF;
}

.objects .object .name/*,
.objects .object .close-button */
{
  pointer-events: none;
}

.objects .placeholder {
  display: flex;
  justify-content: center;
}

.objects .object .close-button {
  margin-left: auto;
  cursor: pointer;
}

.objects .object .close-button:hover {
  color: #ef5350;
}

.objects .object .children {
  display: flex;
  flex-direction: column;
}

.objects .object.depth-1 {
  border-left: 10px solid var(--color);
}

/* .avatars {
  display: flex;
  flex-direction: column;
}

.avatars .avatar {
  display: flex;
  align-items: center;
}

.avatars .avatar.me {
  background-color: #000;
  color: #FFF;
}

.avatars .avatar img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #F8F8F8;
}

.avatars .avatar .name {
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  flex: 1;
  align-items: center;
}

.avatars .avatar .tag {
  position: relative;
  left: 10px;
  display: flex;
  width: 50px;
  height: 30px;
  background-color: #42a5f5;
  color: #FFF;
  justify-content: center;
  align-items: center;
  transform: rotatez(90deg);
} */

.tokens {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tokens > .token {
  position: relative;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 7px;
  color: #434a60;
  overflow: hidden;
  transition: box-shadow 0.1s ease-out;
  border: 1px solid grey;
}
.token .button {
  margin: auto;
  margin-bottom: 5px;
}

.tokens > .token .preview {
  margin: auto;
  position: relative;
  display: flex;
  min-width: 250px;
  min-height: 250px;
  overflow: hidden;
}
.tokens > .token:hover {
  box-shadow: inset 0 0 1px #333;
}
.tokens > .token:hover .actions,
.tokens > .token:hover .label
{
  transform: none;
  opacity: 1;
}
.tokens > .token:hover > .preview img {
  transform: scale(1.3);
}

.tokens > .token > .preview img {
  transition: transform 0.3s ease-out;
}

.tokens > .token .text {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.tokens > .token .actions {
  display: flex;
  flex-direction: column;
  transform: translatey(-20px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.tokens > .token .actions .action {
  display: flex;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.tokens > .token .action:hover {
  color: #42a5f5;
}

.tokens > .token .action:active {
  color: #1e88e5;
}

.tokens > .token .action span {
  margin-right: auto;
}

.tokens > .token input {
  padding: 5px;
  background-color: #FFF;
  /* border: 1px solid transparent; */
  border: 0;
  border-radius: 5px;
  font-family: monospace;
  font-size: inherit;
}

.tokens > .token input:focus {
  /* border-color: #000; */
  /* background-color: #FFF; */
  /* outline: none; */
}

.tokens > .token .label {
  margin-top: auto;
  padding: 5px;
  font-weight: 600;
  text-transform: uppercase;
  transform: translatex(-10px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.tokens > .token .world-objects {
  display: flex;
  padding: 0 5px;
}
.tokens > .token .world-objects .world-object {
  position: relative;
}
.tokens > .token .world-objects .world-object img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}
.tokens > .token .world-objects .world-object .description {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 5px;
  background-color: #111;
  color: #FFF;
  font-size: 13px;
}
.tokens > .token .world-objects .world-object:not(:hover) .description {
  display: none;
}

.big-buttons {
  margin-top: 30px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.big-buttons .big-button {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid currentColor;
  border-radius: 7px;
  cursor: pointer;
}

.big-buttons .big-button:hover {
  color: var(--color);
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: none;
}
.canvas.hover {
  pointer-events: none;
}

.popup {
  position: absolute;
  top: 50px;
  right: 0;
  height: 100vh;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.header .buttons {
  display: flex;
  height: 100%;
  align-items: center;
}

.header .buttons .button {
  margin-right: 10px;
}

.header .button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #42a5f5;
  border: 0;
  color: #FFF;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.header .button:hover:enabled {
  background-color: #1e88e5;
}

.header .button:disabled {
  background-color: gray;
}

.header .button:active {
  transform: translateY(1px);
}

.header .button.secondary {
  background-color: #ef5350;
}
.header .button.secondary:hover {
  background-color: #e53935;
}

.header .button > i {
  margin-right: 5px;
}

input[type=file].hidden {
  position: absolute;
  top: 0;
  left: -300px;
  z-index: -1;
  width: calc(100% + 300px);
  height: 100%;
  cursor: pointer;
  outline: none;
}

.header .buttons label {
  display: flex;
  align-items: center;
}

.header .buttons label span {
  margin-right: 10px;
}

.header .buttons input[type=range] {
  margin-right: 10px;
}

.main {
  display: flex;
  padding-left: calc(50px + 3px);
  padding-top: 15px;
  /* height: calc(100vh - 100px); */
  flex-direction: column;
  overflow: auto;
}

textarea {
  width: 800px;
  height: 200px;
}

/* .main .sidebar {
  display: flex;
  width: 200px;
  padding: 0 20px;
  background-color: #F8F8F8;
  flex-direction: column;
}

.main .sidebar .sidebarTextInput {
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0;
  border-color: #42a5f5;
  border-radius: 8px;
}

.main .sidebar .sidebarSetButton {
  padding: 5px 10px;
  background-color: #42a5f5;
  color: #FFF;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 13px;
}

.main .sidebar .sidebarSetButton:hover {
  background-color: #1e88e5;
} */

.main .createForm .sidebarTextInput {
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0;
  border-color: #42a5f5;
  border-radius: 8px;
  width: 100%;
}

.main .createForm .sidebarCreateButton,
.main .createForm .sidebarProgressButton
{
  padding: 0 10px;
  display: flex;
  height: 32px;
  background-color: #42a5f5;
  color: #FFF;
  border-radius: 8px;
  white-space: nowrap;
  font-size: 13px;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

.main .createForm .sidebarCreateButton {
  cursor: pointer;
}

.main .createForm .sidebarCreateButton:hover,
.main .createForm .sidebarProgressButton
{
  background-color: #1e88e5;
}

.main.minting .createForm .sidebarCreateButton,
.main:not(.minting) .createForm .sidebarProgressButton
{
  display: none;
}

.main .createForm .sidebarCreateButton,
.main .createForm .sidebarProgressButton
{
  justify-content: center;
}

.main .createForm .sidebarProgressButton i {
  font-size: 18px;
  line-height: 1;
  animation: spin 1s linear infinite;
}

.main #formContainer {
  width: 100%;
}

.main .createForm {
  width: 300px;
  max-width: 600px;
  margin: 0 auto;
}
.main .createForm input[type=file] {
  width: 100%;
}

.main .grid {
  flex: 1;
}

.main .blocker {
  display: flex;
  width: 300px;
  margin: 0 auto;
  padding-top: 20vh;
  font-size: 50px;
  flex-direction: column;
}

.main .blocker h1 {
  font-size: 15px;
}

.main .blocker > i,
.main .blocker > h1
{
  margin: 0 auto;
  margin-bottom: 15px;
}
.main .blocker > i {
  font-size: 50px;
}

.main.unlocked .blocker,
.main:not(.unlocked) .unblocker,
header.unlocking + .main .blocker .button
{
  display: none;
}

.main .blocker .button {
  display: flex;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 2px solid;
  border-radius: 100px;
  font-size: 13px;
  align-items: center;
  cursor: pointer;
}

.main .blocker .button:hover {
  background-color: #000;
  border-color: transparent;
  color: #FFF;
}

.main .blocker .button i,
.main .blocker .button img
{
  margin-right: 5px;
}

.main .blocker .button i {
  font-size: 24px;
  line-height: 30px;
}

.main .blocker img {
  width: 30px;
  height: 30px;
}

.form {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  flex-direction: column;
}

/* .card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.2);
} */

.token .name {
  display: flex;
  margin-bottom: 5px;
  color: #2a2b56;
  font-size: 28px;
  letter-spacing: -.03em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.token .name:hover {
  color: var(--color3);
}

.token .description {
  margin-bottom: 12px;
  font-size: 16px;
  /* line-height: 24px; */
  text-overflow: ellipsis;
}

.token .type {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  margin-left: auto;
  padding: 5px;
  background-color: #7986cb;
  border-radius: 8px;
  color: #FFF;
  font-size: 16px;
}

/* .cardCode {
  margin-bottom: 5px;
  margin-top: 5px;
} */


.object-detail {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
}
.object-detail h1 {
  margin: 10px 0;
}
.object-detail .screenshot {
  /* margin: 0 auto; */
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.schema {
  display: flex;
}
.schema .name {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.schema input {
  flex: 1;
}

.subpage-wrap {
  max-height: 100vh;
}
.details-wrap {
  display: flex;
}
.side-tabs {
  display: flex;
  width: 100px;
  flex-direction: column;
}
.side-tabs .side-tab {
  padding: 5px 10px;
  border-left: 3px solid transparent;
  font-size: 14px;
  cursor: pointer;
}
.side-tabs .side-tab:hover,
.side-tabs .side-tab.open
{
  border-left-color: #000;
}
.side-tabs .side-tab.open {
  cursor: default;
}
.side-content:not(.open) {
  display: none;
}
.views {
  display: flex;
  width: 256px;
  height: 256px;
  margin-right: 30px;
  flex-direction: column;
}
.views .view {
  background-color: #F8F8F8;
  border-radius: 10px;
}
/* .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details .type {
  padding: 2px 5px;
  background-color: var(--color2);
  border-radius: 5px;
}
.details .name {
  margin-bottom: 5px;
  font-size: 30px;
}
.details .description {
  margin-bottom: 5px;
  font-size: 16px;
} */
.manifest-wrap {
  display: flex;
  align-items: flex-start;
}
.manifest-wrap .manifest {
  width: 600px;
  height: 400px;
  margin-left: 100px;
  margin-right: 10px;
  padding: 5px;
  background-color: #EEE;
  border: 0;
  border-radius: 5px;
  outline: none;
  resize: none;
}
.manifest-wrap .manifest-side {
  display: flex;
  padding: 10px;
  background-color: #F8F8F8;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.manifest-wrap .manifest-side .heading {
  margin-bottom: 10px;
  font-size: 16px;
}
.files-wrap {
  display: flex;
  margin-left: 100px;
  align-items: flex-start;
}
.files-wrap .files {
  display: flex;
  width: 250px;
  height: calc(100vh - 50px - 30px - 30px);
  margin-right: 30px;
  flex-direction: column;
  overflow: auto;
}
.files-wrap .files .file {
  display: flex;
}
.files-wrap .files .file .name {
  flex: 1;
  text-decoration: none;
}
.files-wrap .files .file .remove-button {
  cursor: pointer;
}
.files-wrap .files .file .remove-button:hover {
  color: #ef5350;
}
.files-wrap .buttons {
  height: 30px;
}
.files-side {
  display: flex;
  padding: 10px;
  background-color: #F8F8F8;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.files-side .heading {
  margin-bottom: 10px;
  font-size: 16px;
}
.files-side .button {
  overflow: hidden;
}
.files-side .file-input {
  display: flex;
  margin-bottom: 10px;
}
.files-side .file-input input[type=text] {
  margin-right: 10px;
  flex: 1;
}
.exports {
  display: flex;
  width: 500px;
  margin-left: 100px;
  flex-direction: column;
}
.exports .export-button {
  display: flex;
  margin-bottom: 5px;
  background-color: #F8F8F8;
  border-radius: 8px;
}
.exports .export-button .button {
}
.exports .export-button .label {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.mode {
  display: flex;
  flex-direction: column;
}
.mode:not(.open) {
  display: none;
}

.create-ui {
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  align-items: flex-start;
}
.create-ui a {
  color: unset;
  text-decoration: underline;
}

/* #login-form {
  width: 200px;
} */
.login-form {
  display: flex;
  height: 100%;
  align-items: center;
}
.login-form:not(.phase-1) > .phase-1-content,
.login-form:not(.phase-2) > .phase-2-content,
.login-form:not(.phase-3) > .phase-3-content,
.login-form.phase-1 > .phaseless-content,
.login-form.phase-2 > .phaseless-content,
.login-form.phase-3 > .phaseless-content
{
  display: none;
}
.login-form input,
.login-form .login-notice,
.login-form .login-error {
  margin-right: 5px;
}
.login-form input[type="text"],
.login-form input[type="email"] {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3px;
  width: 100%;
}

.phase-content {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
}
.user-button {
  position: relative;
  display: flex;
  height: 100%;
  min-width: 180px;
  padding: 0 10px;
  align-items: center;
  cursor: pointer;
}
.user-button:hover,
.user-button.open {
  background-color: #ff7043;
  color: #FFF;
}
.user-button img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.user-button img:not([src]),
.avatar-icon-placeholder {
  display: none;
}
.user-button img:not([src]) + .avatar-icon-placeholder {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #CCC;
  border-radius: 100px;
}
.user-button .name {
  display: flex;
  padding: 0 10px;
  flex: 1;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.user-button:not(.open) .user-details {
  display: none;
}
.user-button i {
  font-size: 16px;
}
.user-button .unregistered-warning {
  display: flex;
  position: relative;
  padding: 10px;
  flex-direction: column;
}
.user-button .unregistered-warning .label {
  position: absolute;
  padding: 0 5px;
  bottom: 0;
  left: 0;
  font-size: 10px;
}
.user-button .user-details {
  position: absolute;
  display: flex;
  top: 50px;
  right: 0;
  min-width: 100%;
  padding: 10px;
  background-color: #111;
  color: #FFF;
  flex-direction: column;
  cursor: auto;
}
.user-button .user-details .label {
  font-weight: 600;
  font-size: 10px;
  color: #FFFFFF80;
  text-transform: uppercase;
}
.user-button .user-details .user-name:not(:last-child) {
  margin-bottom: 10px;
}
.user-button .subbutton {
  display: flex;
  height: 30px;
  padding: 0 10px;
  align-items: center;
  cursor: pointer;
}
.user-button .subbutton:hover {
  background-color: #1e88e5;
  color: #FFF;
}
.user-button .subbutton i {
  margin-right: 10px;
}

.error {
  font-family: monospace;
  white-space: nowrap;
  color: #ef5350;
}

.drop-zones {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.drop-zones .drop-zone {
  display: flex;
  width: 50%;
  margin: 0 3px;
  padding: 0 10px;
  background-color: #111;
  color: #FFF;
  /* flex-direction: column; */
  align-items: center;
}
.drop-zones .drop-zone:hover,
.drop-zones .drop-zone.hover
{
  background-color: #ffa726;
}
.drop-zones .drop-zone:not(:hover):not(.hover) .description
{
  display: none;
}
.drop-zones .drop-zone .label,
.drop-zones .drop-zone .description
{
  pointer-events: none;
}
.drop-zones .drop-zone .label {
  display: flex;
  height: 50px;
  margin-right: auto;
  font-size: 16px;
  align-items: center;
}
.drop-zones .drop-zone .label i {
  margin-right: 10px;
}
.drop-zones .drop-zone .description {
  margin: 0 10px;
  padding: 5px;
  /* border: 3px solid; */
  border-radius: 8px;
  background-color: #FFF;
  color: #ffa726;
  font-size: 16px;
}
body:not(.dragging-package) .drop-zones {
  display: none;
}
body.dragging-package .footer {
  display: none;
}

/* .avatar {
  display: flex;
}
.avatar img {
  width: 130px;
  height: 130px;
  margin-right: 10px;
  background-color: #FFF;
  border-radius: 8px;
}
.avatar .wrap {
  display: flex;
  flex-direction: column;
} */
.ftu {
  display: flex;
  flex-direction: column;
  font-family: 'Bangers';
}
.ftu:not(.phase-1) .ftu-phase-1,
.ftu:not(.phase-2) .ftu-phase-2,
.ftu:not(.phase-3) .ftu-phase-3 {
  display: none;
}
.ftu .ftu-phase {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #00000080;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.ftu .ftu-phase .wrap {
  position: relative;
  padding: 30px;
  background-color: #5c6bc0;
}
.ftu .ftu-phase .wrap .label {
  position: absolute;
  top: -50px;
  left: -50px;
  padding: 5px;
  color: #FFF;
  font-size: 50px;
  background: #ef5350;
}
.ftu .ftu-phase .wrap .label .background {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  transform: SkewY(-4deg);
  transform-origin: bottom right;
  background: inherit;
}
.ftu .ftu-phase .wrap .label .content {
  position: relative;
}
.ftu .ftu-phase .wrap input[type=text] {
  padding: 10px 20px;
  border: 0;
  background-color: #FFFFFFA0;
  font-family: inherit;
  font-size: 20px;
  outline: none;
}
.ftu .ftu-phase .wrap input[type=text]:focus {
  background-color: #FFF;
}
.ftu .ftu-phase .buttons {
  position: absolute;
  display: flex;
}
.ftu .ftu-phase .buttons.top {
  top: 100px;
  left: 50px;
}
.ftu .ftu-phase .buttons.bottom {
  bottom: 50px;
  right: 50px;
}
.ftu .ftu-phase .buttons .button {
  padding: 10px;
  background-color: #111;
  color: #FFF;
  font-size: 50px;
  cursor: pointer;
}
.ftu .ftu-phase .buttons .button:hover {
  color: #ff5f2d;
}
.ftu .ftu-phase .avatar-grid {
  display: flex;
  width: 450px;
  flex-wrap: wrap;
}
.ftu .ftu-phase .avatar-grid .avatar {
  position: relative;
  display: flex;
  border: 5px solid transparent;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}
.ftu .ftu-phase .avatar-grid .avatar:hover {
  border: 5px solid #ff5f2d;
}
.ftu .ftu-phase .avatar-grid .avatar.selected {
  border-color: #1e88e5;
}
.ftu .ftu-phase .avatar-grid .avatar img {
  width: 80px;
  height: 80px;
}
.ftu .ftu-phase .avatar-grid .avatar i {
  display: flex;
  width: 80px;
  height: 60px;
  font-size: 50px;
  background-color: #111;
  color: #FFF;
  justify-content: center;
  align-items: center;
}
.ftu .ftu-phase .avatar-grid .avatar .text {
  display: flex;
  background-color: #111;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
}
.ftu .ftu-phase .controls-wrapper {
  display: flex;
}
.ftu .ftu-phase .controls-grid {
  padding: 20px;
}
.ftu .ftu-phase .controls-header {
  text-decoration: underline;
  font-size: 35px;
}
.ftu .ftu-phase .controls-grid .key {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  background-color: black;
  color: white;
  padding-top: 2px;
  margin-bottom: 15px;
  margin-right: 12px;
  display: inline-block;
}
.ftu .ftu-phase .controls-grid .keyInfo {
  font-size: 24px;
}

footer {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  /* z-index: 1; */
  padding-top: 10px;
  pointer-events: none;
  /* flex-wrap: wrap; */
  overflow: hidden;
}
.helper {

  position: relative;
  display: flex;
  user-select: none;
  align-self: flex-end;
  pointer-events: all;
}
.helper.left {
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;

}
.helper.right {
  padding: 10px;
  background: rgba(10, 40, 50, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(100px)
}





#map-canvas {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 200px;
  height: 140px;
}
.loadout {
  display: flex;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -22.66%, rgba(10, 40, 50, 0.5) 103.86%);
  backdrop-filter: blur(100px); */
  margin-left: auto;
  margin-right: auto;
  /* margin-left: calc(300px + 10px); */
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.loadout:before {
  content: "";
  position: absolute;
  /* border: 3px solid teal; */
  border: 3px solid transparent;  
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) -22.66%, rgba(10, 40, 50, 0.5) 103.86%);
  backdrop-filter: blur(100px);

  top: -15%; bottom: -20%; left: -3%; right: -3%;
  z-index: -1;

  -webkit-transform: perspective(50em) rotateX(40deg);
  transform: perspective(50em) rotateX(40deg);
}

.loadout .item {
  display: flex;
  flex-direction: column;
  border: 1px solid #FFFFFF1A;
  background: rgba(4, 18, 22, 0.25);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  box-sizing: border-box;
  height: 62px; /* added 2px extra border issues*/
  width: 78.82109069824219px;
  left: 15px;
  margin-left: 5px;
  margin-right: 5px;
  transform-origin: top left;
  transform: skew(-30deg);
}

.loadout .item .label {
  display: flex;
  margin-left: -2px;
  margin-top: -5px;
  justify-content: center;
  align-items: center;
  width: 24.42px;
  height: 21.42px;
  max-width: 38px;
  background: #000000;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #FFFFFF80;
  transform: skew(30deg);
  z-index: 2;
}

.loadout .item .labelW {
  width: 42px;
  height: 21.42px;
  margin-left: -10px;
}

.loadout .item img {
  transform: skew(30deg);
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  width: 31px;
  height: 48px;
  color: white;
}
.loadout .item.selected .box {
  top: -3px;
  border-color: #FFF;
}
.loadout .item.selected .label {
  color: #FFF;
}

.keys {
  position: relative;
  display: flex;
  margin-right: 10px;
  flex-direction: column;
}
.keys .row {
  display: flex;
  min-height: 34px;
}
.keys .label {
  color: white;
  position: absolute;
  display: flex;
  bottom: -10px;
  left: 0;
  width: 100%;
  font-weight: bold;

}

.keys .labelMove {
  color: white;
  font-weight: bold;
  position: absolute;
  display: flex;
  bottom: 46px;
  left: 73%;
  width: 100%;
}

.keys .label.center {
  justify-content: center;
}
.keys .key {
  min-width: 40px;
  height: 30px;
  background: rgba(1, 1, 1, 0.45);
  border: 2px solid #CF597F;
  color:white
}
.keys .key:empty {
  visibility: hidden;
}
.keys .key,
.enter-xr-button
{
  display: flex;
  margin: 2px;
  margin-bottom: 10px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 13px;
}
.moveRow{
  margin-left: auto;
}

.enter-xr-button.disabled {
  color: #ef5350;
}
.enter-xr-button:not(.disabled) {
  cursor: pointer;
}
.enter-xr-button:not(.disabled):hover {
  background-color: #7e57c2;
  border-color: rgba(0, 0, 0, 0.1);
  color: #FFF;
}
.enter-xr-button:not(.disabled):active {
  background-color: #ef5350;
  border-color: rgba(0, 0, 0, 0.1);
  color: #FFF;
}

.store {
  display: flex;
  font-family: 'GeoSans';
}
.store section {
  perspective: 800px;
}
/* .tabs {
  display: flex;
  width: 100%;
  background-color: #111;
  color: #FFF;
  font-size: 16px;
}
.tabs .tab {
  display: flex;
  height: 50px;
  padding: 0 20px;
  align-items: center;
}
.tabs .tab.selected {
  background-color: #7986cb;
} */

/* .store .content:not(.selected) {
  display: none;
}
.store .content2:not(.selected) {
  display: none;
} */
.store {
  padding-top: 50px;
}
.store .big-button {
  padding: 10px;
  background-color: transparent;
  border: 2px solid currentColor;
  border-radius: 100px;
  color: #ec407a;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}
.store .profile {
  max-width: 420px;
}
.store .users {
  margin: 0;
  padding: 0;
  list-style: none;
}
.store .users li {
  display: inline-block;
  margin: 10px;
  box-shadow: 0 1px 0 0 #CCC;
}
.store .users li .preview {
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #111;
  object-fit: cover;
}
.store .users li .wrap {
  padding: 20px;
  background-color: #EEE;
}
.store .users li .detail-2 {
  display: inline-block;
  padding: 5px 10px;
  background-color: #DDD;
  border-radius: 100px;
}
.store .users li .avatar {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.store .content2 {
}
.store .items {
  margin: 0;
  padding: 0;
  list-style: none;
  transform-origin: 50% 50%;
}
.store .items li {
  --size: 200px;
  display: inline-flex;
  position: relative;
  width: var(--size);
  height: calc(var(--size) / 6.3 * 8.8); /* pokemon card dimensions */
  margin: 10px;
  background-image: linear-gradient(to bottom, #667db6 0%, #0082c8 100%);
  border: 5px solid #0f3472;
  border-radius: 10px;
  flex-direction: column;
  transition: box-shadow cubic-bezier(0, 1, 0, 1) 0.3s;
}
.store .items li:hover {
  box-shadow: 0 20px 10px #333;
}
.store .items li.big {
  --size: 300px;
}
.store .items li.small {
  --size: 150px;
}
.store .items li .title {
  display: inline-block;
  width: calc(var(--size) - 20px*2 - 5px*2);
  margin: calc(var(--size) * 0.04) 20px;
  font-size: calc(var(--size) * 0.07);
  align-self: flex-start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.store .items li .preview {
  width: calc(var(--size) - 5px*2 - 20px*2);
  height: calc((var(--size) - 5px*2 - 20px*2) * 3 / 4);
  margin: 20px;
  margin-top: 0;
  background-color: #FFF;
  border-radius: 5px;
  object-fit: cover;
}
.store .items li .avatar {
  display: flex;
  width: calc(var(--size) * 0.1);
  height: calc(var(--size) * 0.1);
  border-radius: 100px;
}
.store .items li .wrap {
  margin: 0 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #FFF;
  background-image: linear-gradient(to bottom, #eae1d4 0%, #d6c9b9 100%);
  border-radius: 5px;
  box-shadow: inset 0 0 10px #000;
  flex: 1;
  overflow: hidden;
}
.store .items li .wrap > .detail-1,
.store .items li .wrap > .detail-2,
.store .items li .wrap > .detail-3
{
  overflow: hidden;
  text-overflow: ellipsis;
}
.store .items li .bottom {
  position: absolute;
  bottom: -20px;
  right: 0;
}

.store .profile .favorites {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #DDD;
  border-radius: 7px;
  flex-direction: column;
}
.store .profile .favorites h1 {
  margin: 0;
  margin-bottom: 10px;
}
.store .profile .tiles {
  display: flex;
  pointer-events: none;
}
.store .profile .tiles .tile {
  position: relative;
  margin-right: calc(var(--size));
  background-color: #FFF;
  pointer-events: all;
  color: #ccc;
  --color: #ccc;
  --size: 15px;
}
.store .profile .tiles .tile.selected {
  color: #000;
  --color: #7e57c2;
}
.store .profile .tiles .tile::before {
  transform: skew(-30deg, 0);
  position: absolute;
  top: -10px;
  left: 3px;
  right: -3px;
  height: 10px;
  background-color: var(--color);
  content: '';
}
.store .profile .tiles .tile::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px solid var(--color);
  content: '';
}
.store .profile .tiles .tile .wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(var(--size) * 6);
  height: calc(var(--size) * 7.5);
  padding: calc(var(--size) * 0.7);
  overflow: hidden;
}
.store .profile .tiles .tile h3 {
  margin: 0;
  text-transform: uppercase;
}
.store .profile .tiles .tile i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  font-size: calc(var(--size) * 3);
}
.store section {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
.store section iframe {
  display: flex;
  height: 100vh;
}
.store .booth .label {
  font-size: 16px;
}
.store .booth {
  margin: 10px;
  padding: 10px;
  background-image: linear-gradient(to right, #ccc, #eee);
  border-radius: 10px;
}

.sidebar {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}
.sidebar .side {
  padding: 20px;
  border-top: 1px solid #CCC;
}
.sidebar .side .key {
  margin-bottom: 10px;
  color: #999;
  text-transform: uppercase;
}

.switch-network-link {
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 30px;
  z-index: 1;
}

.menu, .unmenu {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 300px;
  height: 100vh;
  padding: 20px;
  padding-right: 0;
  padding-bottom: 0;
  flex-direction: column;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.menu > section,
.unmenu > section
{
  display: flex;
  flex-direction: column;
}
.menu {
  left: -300px;
  background: linear-gradient(to right, #FFFFFFC0, #FFFFFF20);
}
.menu.wide {
  left: -600px;
}
.menu.solid {
  background: #000;
  color: #FFF;
}
.menu.open {
  left: 0;
}
.menu > section > .key-helpers > .key-helper,
.menu > .key-helpers > .key-helper
{
  width: calc(300px - 20px);
}
.menu .profile-picture {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.unmenu {
  left: 0;
}
.unmenu.closed {
  left: -300px;
}
.menu .tabs,
.menu > .key-helpers,
.menu section > .key-helpers,
.unmenu > .key-helpers,
.unmenu section > .key-helpers
{
  position: absolute;
  top: 50px;
  left: 20px;
}

.tabs {
  display: flex;
}

.key-helpers {
  display: flex;
  flex-direction: column;
}
.key-helper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.key-helper .key
{
  display: flex;
  min-width: 24px;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  border-radius: 5px;
  font-size: 13px;
}
.key-helper:only-child .key {
  margin-bottom: 0;
}
.key-helper .key {
  position: relative;
}
.key-helper .label {
  /* width: 50px;
  position: relative;
  margin-left: auto; */
  margin-right: 10px;
}

.items {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-left: -20px;
  overflow: hidden;
  overflow-y: scroll;
}
.items::-webkit-scrollbar {
  display: none;
}
.items {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.items .item {
  display: flex;
  padding: 5px;
  padding-left: calc(20px + 5px);
  width: 300px;
  cursor: pointer;
}
.items .item.selected {
  background-color: #111;
  color: #FFF;
}
.items .item.selected > img.icon {
  filter: invert(1);
}
.items .item .card {
  --width: 50px;
  --height: 70px;

  display: flex;
  width: var(--width);
  height: var(--height);
  margin-right: 10px;
  border-radius: 5px;
  background-color: #9ccc65;
}
.items .item .card img {
  position: relative;
  width: calc(var(--width) - 10px);
  height: calc((var(--width) - 10px) / 4 * 3);
  margin: 5px;
  background-color: #FFF;
  object-fit: contain;
}
.items .item .icon {
  display: flex;
  width: 50px;
  height: 50px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
.items .item .name {
  max-width: 130px;
  margin-right: auto;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items .item:not(.selected) .key-helpers {
  display: none;
}
.details {
  position: absolute;
  display: flex;
  width: 300px;
  padding: 20px;
  top: 45px;
  bottom: 0;
  right: -300px;
  /* background-image: linear-gradient(to right, #000, #00000080); */
  background-color: #000;
  color: #FFF;
  flex-direction: column;
}
.details:empty {
  display: none;
}
.details .video {
  width: calc(300px - 20px * 2);
  height: 140px;
  /* margin: 10px auto; */
  object-fit: contain;
}
.details .wrap {
  
}

.progress {
  position: relative;
}
.progress .bar {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.progress.running .bar {
  display: block;
  background-color: #42a5f5;
}

.notifications {
  display: flex;
  position: absolute;
  top: 50px;
  right: 0;
  flex-direction: column;
}
.notifications .notification {
  position: relative;
  display: flex;
  margin: 10px;
  background-color: #FFF;
  /* border: 3px solid #000; */
  /* color: #ffa726; */
  /* box-shadow: 0 3px 7px #00000060; */
  opacity: 0.9;
}
.notifications .notification .icon {
  display: flex;
  width: 80px;
  /* height: 80px; */
  margin-right: 10px;
  background-color: #000;
  font-size: 30px;
  color: #ef5350;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 2px #000; */
}
.notifications .notification .wrap {
  display: flex;
  padding: 10px;
  padding-right: 30px;
  flex-direction: column;
}
.notifications .notification .label {
  /* font-size: 20px; */
  font-weight: 600;
}
.notifications .notification .label,
.notifications .notification .text,
.notifications .notification progress
{
  margin-bottom: 5px;
}
.notifications .notification .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .notifications .notification .button {
  display: inline-flex;
} */

progress {
  width: 100%;
  height: 3px;
  border-radius: 3px;
}
progress::-webkit-progress-bar {
  background-color: #CCC;
}
progress::-webkit-progress-value {
  background-color: #9ccc65;
}

.chat {
  --height: calc(100vh - 50px - 80px);
  position: absolute;
  bottom: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: var(--height);
  color: #FFF;
  font-size: 13px;
}
.chat .input {
  padding: 5px;
  background-color: #263238;
  border: 1px solid #FFFFFF20;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}
.chat .input:not(.open) {
  visibility: hidden;
}
.chat .messages {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
}
.chat .messages .message {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 1.6;
  background-color: #111;
  border-radius: 5px;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}
.chat .messages .message .name {
  font-weight: 600;
}
.chat .messages .message .text {
  color: #CCC;
  word-break: break-all;
}

#network-name {
  text-transform: capitalize;
}

.inventory-menu {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
.inventory-menu:not(.open) {
  display: none;
}
.inventory-menu > .wrap {
  display: flex;
  position: relative;
  width: 1000px;
  height: 600px;
  background: radial-gradient(#00B3DB, #003743);
  border: 5px solid #003743;
}
.inventory-menu .wrap .equip-slots {
  display: flex;
  padding: 30px 0;
  align-items: center;
  flex-direction: column;
}
.inventory-menu .wrap .slot {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 3px;
  padding: 5px;
  border: 3px solid #00000020;
  cursor: pointer;
}
.inventory-menu .wrap .slot:hover {
  background-color: #00B3DB;
  fill: #FF0000;
}
.inventory-menu .wrap .slot .placeholder,
.inventory-menu .wrap .slot .item
{
  position: absolute;
  width: calc(50px - 5px * 2 - 3px * 2);
  height: calc(50px - 5px * 2 - 3px * 2);
}
.inventory-menu .wrap .slot .placeholder {
  user-drag: none;
  -webkit-user-drag: none;
}
.inventory-menu .wrap .slot .flip-horizontal {
  transform: scalex(-1);
}
.inventory-menu .wrap .inventory-slots {
  padding: 30px;
}
