body {
  --header-height: 50px;
}

.header {
  position: fixed;
	display: flex;
	width: 100%;
	height: var(--header-height);
  top: 0;
  flex-direction: column;
  user-select: none;
  z-index: 2;
}

.header.subheader {
  z-index: 1;
}

.header > .row {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
}

.header .logo {
  height: 100%;
	margin-right: auto;
  padding: 0 10px;
  user-select: none;
}
.header .logo:hover {
  transform: scale(1.5);
}

.header .image {
  width: var(--header-height);
  height: var(--header-height);
}

.header .tab {
  position: fixed;
  top: 50px;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.header .tab .label {
  position: relative;
  padding: 10px;
  background-color: #000;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  transition: color 1s cubic-bezier(0, 1, 0, 1);
}
.header .tab .label .text,
.header .tab .label .key
{
  position: relative;
}
.header .tab .panel {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #000;
}
.header .tab.left .panel {
  top: -50px;
  left: -300px;
}
.header .tab.right .panel {
  top: -100px;
  left: 100%;
}
.header .tab.left.open {
  transform: translateX(300px);
}
.header .tab.right.open {
  transform: translateX(-300px);
}
.header .tab .background {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}
.header .tab.left .background {
  left: 0;
  transform: rotateZ(180deg) translateX(-100%);
}
.header .tab.right .background {
  right: 0;
  transform: translateX(-100%);
}
.header .tab .background.blue {
  filter: invert(50%) sepia(99%) saturate(514%) hue-rotate(177deg) brightness(99%) contrast(94%);
}
.header .tab:hover .label,
.header .tab.open .label
{
  color: #000;
}
.header .tab.left:hover .background,
.header .tab.left.open .background {
  transform: rotateZ(180deg) translateX(50px);
}
.header .tab.right:hover .background,
.header .tab.right.open .background {
  transform: translateX(50px);
}
.header .tab:hover .key,
.header .tab.open .key {
  border-color: #000;
}
.header .tab.left {
  left: 0;
}
.header .tab.right {
  top: 100px;
  right: 0;
}
.header .tab .key {
  margin: 0 10px;
  padding: 3px;
  border: 2px solid #CCC;
  border-radius: 3px;
  font-size: 13px;
  transition: border-color 1s cubic-bezier(0, 1, 0, 1);
}

.header .user {
	position: relative;
	display: flex;
	height: 100%;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.header .user:hover .name {
	transform: translateX(-30px);
  background-color: #ef5350;
}
.header .user:hover .name::before {
	border-right-color: #ef5350;
}
.header .user:hover::before {
	width: 100%;
}
.header .user:active .name {
	background-color: #283593;
}
.header .user:active .name::before {
	border-right-color: #283593;
}

.header .user:active .icon {
  transform: scale(1.2);
}
.header .user .icon {
	position: relative;
  height: 70px;
	margin-left: 20px;
	margin-right: 60px;
	background-color: #FFF;
	border-radius: 100px;
	border: 2px solid #333;
}

.header .user .name {
	position: relative;
	display: flex;
	height: 80px;
	margin-right: -30px;
	padding: 0 10px;
	padding-right: 40px;
	padding-top: 30px;
	margin-bottom: auto;
	background-color: #000;
	color: #FFF;
	align-items: center;
}
.header .user .name,
.header .user .name::before
{
	transition: all 2s cubic-bezier(0, 1, 0, 1);
}
.header .user .name::before {
	position: absolute;
	top: 0;
	left: -80px;
  border-width: 0;
	border-right-width: 80px;
	border-bottom-width: 80px;
	border-color: transparent;
	border-style: solid;
	border-right-color: #000;
	content: '';
}
.header .user::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	background-color: #000;
	transition: width 0.5s cubic-bezier(0, 1, 0, 1);
	content: '';
}

.location {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: visible;
}
.location .row {
  display: flex;
  height: 100%;
}
.location .rooms {
  position: absolute;
  top: 50px;
  display: flex;
  width: 100%;
  background-color: #000;
  flex-direction: column;
}
.location .rooms .room {
  display: flex;
  padding: 10px;
  color: #FFF;
  cursor: pointer;
}
.location .rooms .room:hover {
  background-color: #42a5f5;
}
.location .rooms .room .image {
  margin-right: 10px;
  user-drag: none;
  -webkit-user-drag: none;
}
.location .rooms .room .name {
  margin-right: auto;
  font-size: 16px;
}
.location .rooms .button {
  padding: 10px;
  background: linear-gradient(to right, #673ab7, #512da8);
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}
.location .rooms .button.warning {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}
.location .rooms .button:hover {
  filter: brightness(0.7);
}
.location .rooms .create {
  padding: 10px;
  margin-right: auto;
}
.location .rooms .delete {
  display: flex;
}
.location .input-wrap {
  position: relative;
  height: 100%;
  width: 300px;
  background-color: #000;
  font-family: monospace;
  overflow: hidden;
}
.location .input-wrap .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}
.location .input-wrap .background.green {
  /* filter: invert(66%) sepia(10%) saturate(2152%) hue-rotate(73deg) brightness(101%) contrast(77%); */
  filter: invert(86%) sepia(22%) saturate(938%) hue-rotate(36deg) brightness(89%) contrast(84%);
}
.location .input-wrap .input {
  position: relative;
  height: inherit;
  width: inherit;
  padding: 10px;
  background-color: transparent;
  border: 0;
  color: #FFF;
  font-family: monospace;
  font-size: 15px;
  outline: none;
  z-index: 1;
  transition: color 1s cubic-bezier(0, 1, 0, 1);
}
.location .input-wrap .input:focus {
  color: #000;
}
.location .input-wrap .input:focus + .background {
  transform: none;
}
.location .button-wrap {
  position: relative;
  display: flex;
  height: 100%;
  cursor: pointer;
}
.location .button-wrap:active .button {
  transform: scale(0.7);
  transition: none;
}
.location .button {
  outline: none;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.location .button,
.location .button.disabled:hover
{
  display: flex;
  height: 100%;
  border: 0;
  background-color: #9ccc65;
  align-items: center;
}
.location .button:hover {
  background-color: #7cb342;
}
.location .button.primary:not(.disabled),
.location .button.primary:hover
{
  background: linear-gradient(to right, #ff416c, #ff4b2b);
} 
.location .button.disabled {
  background-color: #888;
}
.location .button img {
  width: 30px; 
  height: 30px;
}
.location .button:not(.disabled) img {
  filter: invert(1);
}

.location .button .hidden {
  display: none;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  padding-top: 50px;
  background-color: #FFF;
  transform: translateX(400px);
  overflow: auto;
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.sidebar.open {
  transform: none;
}

.sidebar .nft {
  display: flex;
  padding: 20px;
  flex-direction: column;
  cursor: pointer;
}
.sidebar .nft:hover {
  background-color: #5c6bc0;
  color: #FFF;
}
.sidebar .nft .preview {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.sidebar .nft .wrap {
  display: flex;
  flex-direction: column;
}

.sidebar .nft .wrap .name,
.sidebar .nft .wrap .description,
.sidebar .nft .wrap .tokenid
{
  text-align: left;
}

.sidebar .nft .name {
  font-size: 20px;
}

.sidebar .nft .description {
  font-size: 16px;
}

.sidebar .nft .tokenid {
  font-size: 13px;
}