body {
  --header-height: 50px;
}

.header {
  position: relative;
	display: flex;
	width: 100%;
	height: var(--header-height);
  top: 0;
	background-color: #FFF;
	align-items: center;
  z-index: 1;
}

.header .logo {
  height: 100%;
	margin-right: auto;
  padding: 0 10px;
}
.header .logo:hover {
  transform: scale(1.5);
}

.header .image {
  width: var(--header-height);
  height: var(--header-height);
}

.header .user {
	position: relative;
	display: flex;
	height: 100%;
	align-items: center;
	background-color: #FFF;
	cursor: pointer;
	user-select: none;
}

.header .user:hover .name {
	transform: translateX(-30px);
  background-color: #3f51b5;
}
.header .user:hover .name::before {
	border-right-color: #3f51b5;
}
.header .user:hover::before {
	width: 100%;
}
.header .user:active .name {
	background-color: #283593;
}
.header .user:active .name::before {
	border-right-color: #283593;
}

.header .user .icon {
	position: relative;
  height: 70px;
	margin-left: 20px;
	margin-right: 60px;
	background-color: #FFF;
	border-radius: 100px;
	border: 2px solid #333;
}

.header .user .name {
	position: relative;
	display: flex;
	height: 80px;
	margin-right: -30px;
	padding: 0 10px;
	padding-right: 40px;
	padding-top: 30px;
	margin-bottom: auto;
	background-color: #000;
	color: #FFF;
	align-items: center;
}
.header .user .name,
.header .user .name::before
{
	transition: all 2s cubic-bezier(0, 1, 0, 1);
}
.header .user .name::before {
	position: absolute;
	top: 0;
	left: -80px;
  border-width: 0;
	border-right-width: 80px;
	border-bottom-width: 80px;
	border-color: transparent;
	border-style: solid;
	border-right-color: #000;
	content: '';
}
.header .user::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	background-color: #000;
	transition: width 0.5s cubic-bezier(0, 1, 0, 1);
	content: '';
}