/* @font-face {
  font-family: 'Electroharmonix';
  src:  url('../public/fonts/electroharmonix.ttf');
}
@font-face {
  font-family: 'Apex';
  src:  url('../public/fonts/ufonts.com_apexnew-medium-opentype.otf');
}
@font-face {
  font-family: 'Serpentine';
  src:  url('../public/fonts/Serpentine-Medium.otf');
}
@font-face {
  font-family: 'Gotham';
  src:  url('../public/fonts/Gotham Black Regular.ttf');
} */
@font-face {
  font-family: 'Rodin';
  src:  url('../public/fonts/FOT-RodinHimawariPro-UB.otf');
}
@font-face {
  font-family: 'Consola';
  src:  url('../public/fonts/CONSOLA.TTF');
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Oswald&family=Roboto&display=swap');

.container {
  position: relative;
	/* background-image: url('../public/filter.jfif'); */
  width: 100vw;
  min-height: 100vh;
	perspective: 1000px;
	overflow: hidden;
  z-index: 1;
}

.container > .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
	/* image-rendering: pixelated; */
	/* filter: blur(10px); */
	object-fit: cover;
	object-position: center;
	image-rendering: pixelated;
}

.container .inner {
	display: flex;
  position: relative;
	flex-direction: column;
}

.heading,
.characters
{
	display: flex;
	width: 100%;
	padding: 0 50px;
	justify-content: space-between;
}

.heading {
	margin-top: 200px;
	margin-bottom: 30px;
	padding: 0 100px;
	background-color: #FFF;
	font-family: 'Consola';
  font-size: 50px;
}

.characters .character {
	width: 20vw;
	cursor: pointer;
  user-select: none;
}

.characters .character .inner {
  position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	flex: 1;
	background-image: radial-gradient(#7986cb, #3949ab);
	border: 3px solid #333;
}
.characters .character {
  padding: 0 2%;
}
@keyframes character-animation {
	0% {
		background-image: none;
		background-color: #3949ab;
  }
	50% {
		background-color: #FFFFFF;
	}
	100% {
		background-image: none;
		background-color: #3949ab;
	}
}
.characters .character.animate .inner {
  animation-name: character-animation;
  animation-duration: 0.03s;
	animation-timing-function: step-end;
	animation-iteration-count: 5;
}
/* .characters .character .img-wrap {
  transition: opacity 0.5s ease-in-out;
} */
.characters .background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.characters .character.selected .img-wrap {
  transform: scale3d(1.1, 1.1, 1.1);
}
.characters .character.open .img-wrap {
  opacity: 0;
	transform: scale3d(1.1, 1.1, 1.1) translate3d(0, -50px, 0);
	transition: all 1s cubic-bezier(0, 1, 0, 1);
}

.characters .img-wrap {
	pointer-events: none;
	transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
}

.characters img {
	width: 15vw;
	height: 30vh;
	margin: auto;
  background-color: transparent;
	object-fit: contain;
	transform: scale3d(1.5, 1.5, 1.5);
}

.characters img,
.characters .name,
.characters .class
{
	position: relative;
}

.characters .character.selected {
  filter: brightness(1.3);
}
.characters .character.selected .inner {
  border-color: #FFF;
}
.characters .character.selected .name {
  background-color: #333;
}
.characters .character.selected .name::before {
	border-right-color: #333;
}
.characters .character.selected .name::after {
	border-left-color: #333;
}

.characters .character .canvas {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.characters .wrap {
	display: flex;
	flex-direction: column;
	margin-left: -10px;
  margin-bottom: 20px;
}

.characters .character.selected .wrap {
	display: flex;
	flex-direction: column;
  transform: scale3d(1.2, 1.2, 1.2) translateX(-10px);
	transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
}

.characters .name {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 50px;
  margin-top: auto;
}

.characters .name::before {
	position: absolute;
	top: 0;
	left: -24px;
	border-width: 0;
	border-right-width: 25px;
	border-bottom-width: 50px;
	border-color: transparent;
	border-style: solid;
	border-right-color: #000;
  content: '';
}

.characters .name::after {
	position: absolute;
	top: 0;
	right: -24px;
	border-width: 0;
	border-top-width: 50px;
	border-left-width: 25px;
	border-color: transparent;
	border-style: solid;
	border-left-color: #000;
  content: '';
}

.characters .name,
.characters .class
{
	display: inline-flex;
  background-color: #000;
	margin-right: auto;
	padding: 5px 20px;
	color: #FFF;
	line-height: 1;
}

.characters .name {
	/* font-family: 'Electroharmonix'; */
	font-family: 'Rodin';
  font-size: 30px;
}

.characters .class {
	position: relative;
	left: 20px;
	font-family: 'Exo 2';
  font-size: 16px;
	color: #000;
	background: #FFF;
}

.characters .character {
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}

.characters .character .inner,
.characters .character .inner .background
{
  border-radius: 10px;
}

.characters .character.selected {
  /* border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 10%; */
  border-color: #FFF;
	z-index: 1;
}

.characters .character.active {
  transform: scale3d(0.9, 0.9, 0.9);
}

@keyframes arrow-animation {
	0% {
		transform: translate3d(0, 0, 0);
  }
	50% {
		transform: translate3d(100px, 100px, 300px) rotateZ(-90deg);
		opacity: 1;
	}
	100% {
		transform: translate3d(100px, 100px, -500px) rotateZ(-90deg) rotateY(90deg);
	}
}

.arrow {
	position: absolute;
	transform: translate3d(0,0,0);
	transition: all 0.1s cubic-bezier(0, 1, 0, 1);
  perspective: 1000px;
	perspective-origin: calc(200px - 32px) calc(200px - 32px);
	pointer-events: none;
	z-index: 2;
}

.arrow .perspective {
  transform: translate3d(0, 0, 0);
}
.arrow.animate .perspective {
  animation-name: arrow-animation;
  animation-duration: 1s;
	animation-timing-function: cubic-bezier(0, 1, 0, 1);
	animation-fill-mode: forwards;
}

.arrow .perspective svg {
  width: 128px;
  height: 128px;
	transform: rotateZ(90deg);
}

.header {
	display: flex;
	width: 100%;
	height: 100px;
	background-color: #FFFFFF40;
	align-items: center;
}

.header .logo {
  height: 100px;
	padding: 10px;
	margin-right: auto;
}

.header .user {
	position: relative;
	display: flex;
	height: 100%;
	align-items: center;
	background-color: #FFF;
	cursor: pointer;
	user-select: none;
}

.header .user:hover .name {
	transform: translateX(-30px);
  background-color: #3f51b5;
}
.header .user:hover .name::before {
	border-right-color: #3f51b5;
}
.header .user:hover::before {
	width: 100%;
}
.header .user:active .name {
	background-color: #283593;
}
.header .user:active .name::before {
	border-right-color: #283593;
}

.header .user .icon {
	position: relative;
  height: 70px;
	margin-left: 20px;
	margin-right: 60px;
	background-color: #FFF;
	border-radius: 100px;
	border: 2px solid #333;
}

.header .user .name {
	position: relative;
	display: flex;
	height: 80px;
	margin-right: -30px;
	padding: 0 10px;
	padding-right: 40px;
	padding-top: 30px;
	margin-bottom: auto;
	background-color: #000;
	color: #FFF;
	align-items: center;
}
.header .user .name,
.header .user .name::before
{
	transition: all 2s cubic-bezier(0, 1, 0, 1);
}
.header .user .name::before {
	position: absolute;
	top: 0;
	left: -80px;
  border-width: 0;
	border-right-width: 80px;
	border-bottom-width: 80px;
	border-color: transparent;
	border-style: solid;
	border-right-color: #000;
	content: '';
}
.header .user::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	background-color: #000;
	transition: width 0.5s cubic-bezier(0, 1, 0, 1);
	content: '';
}

.biglogo {
  width: 400px;
	margin: 20px auto;
}

.countdown {
	margin-bottom: 50px;
	padding: 30px 0;
	background: #000;
	font-family: 'Consola';
	font-size: 30px;
	text-align: center;
  color: #FFF;
}

/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
