body {
  --header-height: 50px;
}

.header {
  position: fixed;
	display: flex;
	width: 100%;
	height: var(--header-height);
  top: 0;
  flex-direction: column;
  user-select: none;
  z-index: 2;
}

.header.subheader {
  z-index: 1;
}

.header > .row {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
}

.header .logo {
  height: 100%;
	margin-right: auto;
  padding: 0 10px;
  user-select: none;
}
.header .logo img {
  pointer-events: none;
}
.header .logo:hover img {
  transform: scale(1.4);
}

.header .image {
  width: var(--header-height);
  height: var(--header-height);
}

.header .tab {
  position: fixed;
  top: 50px;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.header .tab .label {
  position: relative;
  padding: 10px;
  background-color: #000;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  transition: color 1s cubic-bezier(0, 1, 0, 1);
}
.header .tab.disabled .label {
  cursor: default;
}
.header .tab .label .text,
.header .tab .label .key
{
  position: relative;
}
.header .tab .panels {
  position: fixed;
  display: flex;
  width: 400px;
  height: 100vh;
  overflow: hidden;
}
.header .tab .panels .panel {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #000;
  flex-direction: column;
}
.header .panel-header {
  display: flex;
  padding: 0 10px;
}
.header .tab.top.left .panel-header {
  margin-top: 20px;
}
.header .tab.top.right .panel-header {
  margin-top: 40px;
}
.header .panel-header .button {
  cursor: pointer;
}
.header .panel-header .button .img {
  width: 50px;
  height: 50px;
  /* margin-right: 10px; */
  filter: invert(62%) sepia(59%) saturate(344%) hue-rotate(73deg) brightness(94%) contrast(90%);
  transition: filter 0.3s cubic-bezier(0, 1, 0, 1);
}
.header .panel-header .button:hover .img {
  filter: invert(62%) sepia(59%) saturate(344%) hue-rotate(73deg) brightness(94%) contrast(90%);
}
.header .panel-header  h1 {
  display: flex;
  margin: 0;
  padding-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-items: center;
}
.header .panel-subheader {
  display: flex;
  padding-left: 20px;
  font-size: 16px;
  line-height: 2;
}
.header .inputs {
  display: flex;
  padding-left: 20px;
}
.header .inputs .input {
  width: 50px;
}
.header .inputs .input + .input {
  margin-left: 10px;
}
.panels-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.selected-panel-1 .panels-wrap {
  transform: none;
}
.selected-panel-2 .panels-wrap {
  transform: translateX(-100%);
}
.selected-panel-2 .panels {
  max-height: 100vh;
  overflow: hidden !important;
}
.header .tab.top.left .panels {
  top: -50px;
  left: -400px;
}
.header .tab.top.right .panels {
  top: -100px;
  left: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.header .tab .objects .object {
  position: relative;
  display: flex;
  height: 100px;
  padding: 10px 0;
  overflow: hidden;
  cursor: pointer;
}

.header .tab .objects .object .img {
  position: relative;
  min-width: 80px;
  height: 80px;
  margin: 0 10px;
  object-fit: cover;
}
.header .tab .objects .object .wrap {
  display: flex;
  flex-direction: column;
}
.header .tab .objects .object .wrap .name {
  position: relative;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header .tab .objects .object .background-inner.lime {
  /* filter: invert(64%) sepia(47%) saturate(397%) hue-rotate(46deg) brightness(108%) contrast(89%); */
  filter: invert(62%) sepia(59%) saturate(344%) hue-rotate(73deg) brightness(94%) contrast(90%);
}
.header .tab .objects .object .background-inner {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(-100%) scale(1, 2);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.header .tab .objects .object:hover .background-inner,
.header .tab .objects .object.selected .background-inner
{
  height: 100%;
  transform: translateX(50px) scale(1, 2);
}
.header .tab.open {
  z-index: 1;
}
.header .tab.open .panels {
  background-color: #000;
  color: #FFF;
  padding-top: 36px;
}
.header .tab.top.left.open {
  transform: translateX(400px);
}
.header .tab.bottom.left.open {
  transform: translateY(-400px);
}
.header .tab.bottom.left {
  position: absolute;
}
.header .tab.bottom.left .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #000;
  transition: width 1s cubic-bezier(0, 1, 0, 1);
}
.header .tab.bottom.left .label {
  transform: skew(-20deg) translate(-10px, -10px);
}
.header .tab.bottom.left.open .slide {
  width: 300px;
  height: 300px;
}
.header .tab.bottom.left .transparent-panel {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0, 1, 0, 1);
}
.header .tab.bottom.left.open .transparent-panel {
  opacity: 1;
}
.header .tab.bottom.left.open .slide .buttons {
}
.header .tab.bottom.left.open .slide .buttons .button {
}
.header .tab.bottom.middle.right {
  top: calc(100vh - 200px);
  right: 0;
}
.header .tab.top.right.open {
  transform: translateX(-400px);
}
.header .tab .label .background {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}
.header .tab.left .label .background {
  left: 0;
  transform: rotateZ(180deg) translateX(-100%);
}
.header .tab.right .label .background {
  right: 0;
  transform: translateX(-100%);
}
.background.blue {
  filter: invert(50%) sepia(99%) saturate(514%) hue-rotate(177deg) brightness(99%) contrast(94%);
}
.background.green {
  /* filter: invert(66%) sepia(10%) saturate(2152%) hue-rotate(73deg) brightness(101%) contrast(77%); */
  filter: invert(86%) sepia(22%) saturate(938%) hue-rotate(36deg) brightness(89%) contrast(84%);
}
.background.orange {
  /* filter: invert(66%) sepia(10%) saturate(2152%) hue-rotate(73deg) brightness(101%) contrast(77%); */
  /* filter: invert(86%) sepia(22%) saturate(938%) hue-rotate(36deg) brightness(89%) contrast(84%); */
  filter: invert(66%) sepia(57%) saturate(4815%) hue-rotate(333deg) brightness(104%) contrast(101%);
}
.background.violet {
  filter: invert(61%) sepia(14%) saturate(1642%) hue-rotate(219deg) brightness(82%) contrast(95%);
}
.header .tab:not(.disabled):hover .label,
.header .tab.open .label
{
  color: #000;
}
.header .tab.top.left:not(.disabled):hover .background,
.header .tab.top.left.open .background {
  transform: rotateZ(180deg) translateX(50px);
}
.header .tab.top.right:not(.disabled):hover .background,
.header .tab.top.right.open .background {
  transform: translateX(50px);
}
.header .tab.bottom.right:not(.disabled):hover .background,
.header .tab.bottom.right.open .background {
  transform: translateX(50px);
}
.header .tab.bottom.left:not(.disabled):hover .background,
.header .tab.bottom.left.open .background {
  transform: rotateZ(180deg) translateX(50px);
}
.header .tab:not(.disabled):hover .key,
.header .tab.open .key {
  border-color: #000;
}
.header .tab.top.left {
  left: 0;
}
.header .tab.top.right {
  top: 100px;
  right: 0;
}
.header .tab.bottom.right {
  top: calc(100vh - 150px);
  right: 0;
}
.header .tab.bottom.left {
  top: calc(100vh - 84px);
  left: 50px;
}
.header .tab.bottom.left.disabled {
  transform: translateY(100px);
}
.header .tab .key {
  margin: 0 10px;
  padding: 3px;
  border: 2px solid #CCC;
  border-radius: 3px;
  font-size: 13px;
  transition: border-color 1s cubic-bezier(0, 1, 0, 1);
}
.header .tab.disabled .label {
  color: #666;
  opacity: 0.5;
}

.header .user {
	position: relative;
	display: flex;
	height: 100%;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.header .user:hover .name {
	transform: translateX(-30px);
  background-color: #ef5350;
}
.header .user:hover .name::before {
	border-right-color: #ef5350;
}
.header .user:hover::before {
	width: 100%;
}
.header .user:active .name {
	background-color: #283593;
}
.header .user:active .name::before {
	border-right-color: #283593;
}

.header .user:active .icon {
  transform: scale(1.2);
}
.header .user .icon {
	position: relative;
  height: 70px;
	margin-left: 20px;
	margin-right: 60px;
	background-color: #FFF;
	border-radius: 100px;
	border: 2px solid #333;
}

.header .user .name {
	position: relative;
	display: flex;
	height: 80px;
	margin-right: -30px;
	padding: 0 10px;
	padding-right: 40px;
	padding-top: 30px;
	margin-bottom: auto;
	background-color: #000;
	color: #FFF;
	align-items: center;
}
.header .user .name,
.header .user .name::before
{
	transition: all 2s cubic-bezier(0, 1, 0, 1);
}
.header .user .name::before {
	position: absolute;
	top: 0;
	left: -80px;
  border-width: 0;
	border-right-width: 80px;
	border-bottom-width: 80px;
	border-color: transparent;
	border-style: solid;
	border-right-color: #000;
	content: '';
}
.header .user::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	background-color: #000;
	transition: width 0.5s cubic-bezier(0, 1, 0, 1);
	content: '';
}
.header .avatar {
  width: 100%;
  padding: 10px;
  height: 200px;
}

.location {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: visible;
}
.location .row {
  display: flex;
  height: 100%;
}
.location .rooms {
  position: absolute;
  top: 50px;
  display: flex;
  width: 100%;
  background-color: #000;
  flex-direction: column;
}
.location .rooms .room {
  display: flex;
  padding: 10px;
  color: #FFF;
  cursor: pointer;
}
.location .rooms .room:hover {
  background-color: #42a5f5;
}
.location .rooms .room .image {
  margin-right: 10px;
  user-drag: none;
  -webkit-user-drag: none;
}
.location .rooms .room .name {
  margin-right: auto;
  font-size: 16px;
}
.location .rooms .button {
  padding: 10px;
  background: linear-gradient(to right, #673ab7, #512da8);
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}
.location .rooms .button.warning {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}
.location .rooms .button:hover {
  filter: brightness(0.7);
}
.location .rooms .create {
  padding: 10px;
  margin-right: auto;
}
.location .rooms .delete {
  display: flex;
}
.location .input-wrap {
  position: relative;
  height: 100%;
  width: 300px;
  background-color: #000;
  font-family: monospace;
  overflow: hidden;
}
.location .input-wrap .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}
.location .input-wrap .input {
  position: relative;
  height: inherit;
  width: inherit;
  padding: 10px;
  background-color: transparent;
  border: 0;
  color: #FFF;
  font-family: monospace;
  font-size: 15px;
  outline: none;
  z-index: 1;
  transition: color 1s cubic-bezier(0, 1, 0, 1);
}
.location .input-wrap .input:focus {
  color: #000;
}
.location .input-wrap .input:focus + .background {
  transform: none;
}
.location .button-wrap {
  position: relative;
  display: flex;
  height: 100%;
  cursor: pointer;
}
.location .button-wrap:active .button {
  transform: scale(0.7);
  transition: none;
}
.location .button {
  outline: none;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.location .button,
.location .button.disabled:hover
{
  display: flex;
  height: 100%;
  border: 0;
  background-color: #9ccc65;
  align-items: center;
}
.location .button:hover {
  background-color: #7cb342;
}
.location .button.primary:not(.disabled),
.location .button.primary:hover
{
  background: linear-gradient(to right, #ff416c, #ff4b2b);
} 
.location .button.disabled {
  background-color: #888;
}
.location .button img {
  width: 30px; 
  height: 30px;
}
.location .button:not(.disabled) img {
  filter: invert(1);
}

.location .button .hidden {
  display: none;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  padding-top: 50px;
  background-color: #FFF;
  transform: translateX(400px);
  overflow: auto;
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.sidebar.open {
  transform: none;
}

.sidebar .nft {
  display: flex;
  padding: 20px;
  flex-direction: column;
  cursor: pointer;
}
.sidebar .nft:hover {
  background-color: #5c6bc0;
  color: #FFF;
}
.sidebar .nft .preview {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.sidebar .nft .wrap {
  display: flex;
  flex-direction: column;
}

.sidebar .nft .wrap .name,
.sidebar .nft .wrap .description,
.sidebar .nft .wrap .tokenid
{
  text-align: left;
}

.sidebar .nft .name {
  font-size: 20px;
}

.sidebar .nft .description {
  font-size: 16px;
}

.sidebar .nft .tokenid {
  font-size: 13px;
}

.equipment {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #222;
  overflow: hidden;
  cursor: pointer;
}
.equipment:hover .background {
  transform: translateX(-220px) !important;
}
.equipment .background {
  position: absolute;
  height: 70px;
  transform: translateX(-560px) !important;
  transition: transform 0.2s cubic-bezier(0, 1, 0, 1);
  object-fit: cover;
  pointer-events: none;
  z-index: 1;
}
.equipment .icon {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 10px;
  object-fit: contain;
  z-index: 1;
}
.equipment .name {
  position: relative;
  margin-right: auto;
  font-size: 20px;
  z-index: 1;
}
.equipment .button {
  position: relative;
  display: flex;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: 0;
  justify-content: center;
  align-items: center;
  cursor: inherit;
  z-index: 1;
}
.equipment .button > img {
  width: 30px;
  height: 30px;
  filter: invert(0.3);
  visibility: hidden;
}
.equipment .background2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.equipment .button:hover > img {
  filter: none;
}
.equipment:hover .button > img {
   visibility: visible;
}
.equipment .button:hover + .background2 {
  background-color: #ef5350;
}
.equipment .button:active + .background2 {
  background-color: #b71c1c;
  transition: none;
}