.lightArrowContainer {
  position: absolute;
  top: 100px;
  left: 100px;
  /* width: 0; */
  /* height: 0; */
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  user-select: none;
}
.lightArrowContainer:not(.enabled) .lightArrow {
  transform: scale(0, 0);
}
.lightArrowContainer.down .lightArrow {
  transform: scale(0.8, 0.8);
}
.lightArrowContainer.up .lightArrow {
  transform: rotateZ(45deg);
}

@keyframes arrow-animation {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(-77px, 30px, 300px) rotateZ(45deg);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translate3d(-60px, -50px, -500px) rotateX(90deg) rotateZ(45deg);
    opacity: 0;
  }
}

.lightArrow {
  position: relative;
  transform: translate2d(0, 0);
  perspective: 1000px;
  perspective-origin: -65px 30px;
  transform: none;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}

.lightArrow .perspective {
  transform: translate3d(0, 0, 0);
  transform-origin: 50% 50%;
}
.lightArrow.animate .perspective {
  animation-name: arrow-animation;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
  animation-fill-mode: forwards;
}