.loadingBox {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 100px;
  background-image: linear-gradient(to bottom, #000, #222);
  color: #FFF;
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}
.loadingBox:not(.open) {
  transform: translateX(290px);
}
.loadingBox:not(.open) .canvas {
  visibility: hidden;
}
.loadingBox .canvas {
  /* background-color: red; */
}
.loadingBox .wrap {
  display: flex;
  width: 200px;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  font-family: 'Muli';
}
.loadingBox .progress {
  width: 100%;
  height: 4px;
  margin: 5px 0;
  margin-top: auto;
  appearance: none;
}
.loadingBox progress::-webkit-progress-bar {
  /* background-image: linear-gradient(to right, #000, #333); */
  background-color: #333;
}
.loadingBox progress::-webkit-progress-value {
  background-image: linear-gradient(to right, #42a5f5, #1e88e5);
}
