.popupNotificationWrap {
    position: fixed;
    padding: 12px 16px;
    top: 60px;
    font-size: 20px;
    border-radius: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(33,33,33,0.7);
    border: 1px solid rgba(99,99,99,0.7);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
    color: #FFF;
    z-index: 10000;
    font-size: bold;
}