.storyTime {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  --width: 350px;
}
.storyTime .megaChatBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 30vh;
  color: #FFF;
  transform: scale(0.8);
  opacity: 0;
  z-index: 1;
  transition: transform 2s cubic-bezier(0, 1, 0, 1), opacity 2s cubic-bezier(0, 1, 0, 1);
}
.storyTime .megaChatBox.open {
  transform: none;
  opacity: 1;
  pointer-events: all;
}
.storyTime .outer {
  background-image: linear-gradient(to bottom, #222, #000);
}
.storyTime .megaChatBox .inner {
  position: relative;
  margin: 15px;
  padding: 15px;
  border: 3px solid #FFF3;
  flex: 1;
}
.storyTime .megaChatBox .row {
  display: flex;
  margin: 10px 0;
  align-items: baseline;
}
.storyTime .megaChatBox .name {
  margin-right: 20px;
  font-family: 'WinchesterCaps';
  font-size: 30px;
}
.storyTime .megaChatBox .level {
  font-family: 'WinchesterCaps';
  font-size: 22px;
}
.storyTime .megaChatBox .text {
  font-family: 'PlazaRegular';
  font-size: 32px;
  letter-spacing: 2px;
}

/* */

.storyTime .lightArrow {
  bottom: 10px;
  right: 40px;
  top: auto;
  left: auto;
  z-index: 1;
  cursor: pointer;
  pointer-events: all;
}

/* */

@keyframes blink_effect {
  0% {
    visibility: visible;
  }
  49% {
    visibility: visible;
  }
  51% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
.storyTime .nextBlink {
  position: absolute;
  bottom: 0;
  right: 20px;
  padding: 30px;
  z-index: 1;
  cursor: pointer;
}
.storyTime .nextBlink:not(.visible) {
  display: none;
}
.storyTime .nextBlink .arrow {
  width: 25px;
  height: 25px;
  object-fit: contain;
  animation: 1.5s linear infinite blink_effect;
}

/* */

.storyTime .options {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: var(--width);
  font-family: 'PlazaRegular';
  font-size: 22px;
  z-index: 1;
  transform: none;
  opacity: 1;
  transition: transform 2s cubic-bezier(0, 1, 0, 1), opacity 2s cubic-bezier(0, 1, 0, 1);
}
.storyTime .options:not(.open) {
  transform: scale(0.8);
  opacity: 0;
}
.storyTime .options:not(.open),
.storyTime .options.selected
{
  pointer-events: none;
}

/* */

.storyTime .options .option {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.storyTime .options .option .border {
  pointer-events: none;
  visibility: hidden;
}
.storyTime .options:not(.selected) .option:hover .border,
.storyTime .options.selected .option.selected .border
{
  visibility: visible;
}
.storyTime .options .option .border {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border: 2px solid #FFF;
}
.storyTime .options .option .value {
  padding: 10px;
  font-size: 22px;
  flex: 1;
}
.storyTime .options .option .arrow {
  /* padding: 10px; */
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 30px;
  object-fit: contain;
}
.storyTime .options .option:not(.hovered) .arrow,
.storyTime .options.selected .option .arrow
{
  visibility: hidden;
}