.storyTime {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.storyTime .megaChatBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 30vh;
  color: #FFF;
  z-index: 1;
  pointer-events: all;
}
.storyTime .outer {
  background-image: linear-gradient(to bottom, #222, #000);
}
.storyTime .megaChatBox .inner {
  position: relative;
  margin: 15px;
  padding: 15px;
  border: 3px solid #FFF3;
  flex: 1;
}
.storyTime .megaChatBox .row {
  display: flex;
  margin: 10px 0;
  align-items: baseline;
}
.storyTime .megaChatBox .name {
  margin-right: 20px;
  font-family: 'WinchesterCaps';
  font-size: 30px;
}
.storyTime .megaChatBox .level {
  font-family: 'WinchesterCaps';
  font-size: 22px;
}
.storyTime .megaChatBox .text {
  /* font-family: 'Muli'; */
  font-family: 'PlazaRegular';
  font-size: 32px;
  letter-spacing: 2px;
}

/* */

.storyTime .lightArrow {
  bottom: 100px !important;
  right: 115px !important;
  top: auto !important;
  left: auto !important;
  z-index: 1;
}

/* */

@keyframes blink_effect {
  0% {
    visibility: visible;
  }
  49% {
    visibility: visible;
  }
  51% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
.storyTime .nextBlink {
  position: absolute;
  bottom: 0;
  right: 20px;
  padding: 30px;
  z-index: 1;
  cursor: pointer;
}
.storyTime .nextBlink:not(.visible) {
  display: none;
}
.storyTime .nextBlink .arrow {
  width: 25px;
  height: 25px;
  object-fit: contain;
  animation: 1.5s linear infinite blink_effect;
}

/* */

.storyTime .options {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 350px;
  font-family: 'PlazaRegular';
  font-size: 22px;
  z-index: 1;
}
.storyTime .options .option {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.storyTime .options .option .border {
  pointer-events: none;
}
.storyTime .options .option:not(:hover) .border {
  visibility: hidden;
}
.storyTime .options .option .border {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border: 2px solid #FFF;
  /* margin: 5px;
  padding: 5px; */
}
.storyTime .options .option .value {
  padding: 10px;
  font-size: 22px;
}