.user {
	position: fixed;
  display: flex;
  top: 0;
  right: 0;
	align-items: center;
  pointer-events: none;
	user-select: none;
  z-index: 2;
}

.user:hover .name {
	transform: translateX(-30px);
  background-color: #ef5350;
}
.user:hover .name::before {
	border-right-color: #ef5350;
}
.user:hover::before {
	width: 100%;
}
.user:active .name {
	background-color: #283593;
}
.user:active .name::before {
	border-right-color: #283593;
}

.user .name {
	position: relative;
	display: flex;
	height: 80px;
	margin-right: -30px;
	/* margin-bottom: auto; */
  padding: 0 10px;
	padding-right: 40px;
	padding-top: 30px;
	background-color: #000;
	color: #FFF;
	align-items: center;
}
.user .name {
	transition: all 2s cubic-bezier(0, 1, 0, 1);
}

/* */

.user .keyWrap {
  top: 0;
  right: 0;
  width: 180px;
  perspective: 400px;
  perspective-origin: -100px 100px;
  pointer-events: all;
  transition: transform 200ms cubic-bezier( 0, 1, 0, 1 );
}

.user .keyWrap.hiddenUI {
    transform: translateX( 100% );
}

.user:not(.loggedIn) .keyWrap {
  cursor: pointer;
}
.user .key {
  display: flex;
  margin-top: 5px;
  align-items: center;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.user:not(.loggedIn):not(.loggingIn) .keyWrap:hover .key,
.user:not(.loggedIn):not(.loggingIn).open .keyWrap .key
{
  transform: translate3d(15px, 0, 0);
}
.user:not(.loggedIn):not(.loggingIn) .keyWrap:active .key {
  transform: translate3d(15px, 0, 0) rotateX(50deg);
}
.user.loggedIn .key,
.user.loggingIn .key
{
  transform: translate3d(200px, 0, 0);
}
.user .key .bow {
  position: relative;
  margin-right: -15px;
  background-color: #FFF;
  border: 3px solid #000;
  border-radius: 1000px;
  z-index: 1;
}
.user .key .bow .icon {
  --bow-size: 45px;

  width: var(--bow-size);
  height: var(--bow-size);
  padding: 8px;
}
.user .key .blade {
  position: relative;
  /* height: 30px; */
  padding: 5px 20px;
  color: #FFF;
  font-size: 14px;
}
.user .key .blade .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom,#333, #000000);
  transform: skewX(30deg);
}
.user .key .blade .text {
  position: relative;
}

/* */

.user .loggingInPlaceholder {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin-top: 15px;
  margin-right: 10px;
  padding: 10px;
  background-image: linear-gradient(to bottom,#333, #000000);
  border-radius: 5px;
  color: #FFF;
  white-space: nowrap;
  transform: translate(200px, 0);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.user.loggingIn .loggingInPlaceholder {
  transform: translate(0, 0);
}

/* */

.login_options {
  --size: 220px;

  position: absolute;
  top: 65px;
  right: 0;
  width: var(--size);
  padding: 10px;
  background: #000;
  font-size: initial;
  text-align: left;
  pointer-events: all;
}

.metamask {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.discord {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.metamask_text {
  margin-left: 10px;
}

.discord_text {
  margin-left: 10px;
}

/* */

.loginDiv {
  width: 100%;
  text-align: -webkit-center;
}

.loginBtnText {
  display: inline-block;
  transform: skewX(20deg);
}

.loginBtnImg {
  vertical-align: middle;
  margin: 0 10px;
}

.loginBtn {
  transform: skewX(-20deg);
  background-color: rgb(0, 168, 252);
  color: rgb(0, 0, 0);
  padding: 0.5em;
  width: 10em;
  text-align: left;
  cursor: pointer;
}

/* */

.userWrap {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  align-items: center;
  transform: none;
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.user:not(.loggedIn) .userWrap {
  transform: translate(100%, 0);
}

.userBar {
  display: flex;
  font-size: 14px;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
}
.userBar .avatarUrl {
  position: relative;
  z-index: 1;
}
.userBar .avatarUrl .img {
  --size: 50px;

  height: var(--size);
  width: var(--size);
  background-color: #FFF;
  border-radius: 7px;
  border: 3px solid #000;
  object-fit: cover;
  transform: translate(0, 0);
  transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
}
.userBar .address,
.logoutBtn
{
  display: flex;
  height: 33px;
  /* font-size: 16px; */
  align-items: center;
}
.userBar .address {
  position: relative;
  display: flex;
  padding: 0 10px;
  background-color: #000;
  border-radius: 5px 0 0 5px;
  color: #FFF;
  line-height: 1.4;
  align-items: center;
}
.userBar .avatarUrl + .address {
  border-radius: 0;
}
.userBar:hover .address {
  background-color: #00a8fc;
}
.userBar .verifiedIcon {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  object-fit: contain;
  z-index: 1;
}
.userBar .address::after {
  position: absolute;
  right: 14px;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  content: '';
}
.userBar:hover:not(:active) .avatarUrl .img {
  transform: scale(1.2, 1.2);
}

/* */

.userWrap .logoutBtn {
  background: #333;
  color: #FFF;
  padding: 5px;
  cursor: pointer;
  pointer-events: all;
}
.userWrap .logoutBtn:hover {
  background: #ef5350;
  color: white;
}

/* */

.userLoginMethodsModal {
  position: fixed;
  top: calc(50vh - 150px);
  left: calc(50vw - 300px / 2);
  padding: 10px;
  background-color: #000;
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
  width: 300px;
  transform: scale(1.2, 1.2);
  transform-origin: 50% 50%;
  pointer-events: all;
  visibility: hidden;
}

.userLoginMethodsModal.opened {
  transform: none;
  visibility: visible;
}

.userLoginMethodsModal .title {
  /* position: relative; */
  display: table;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 20px;
  padding: 10px 50px;
}

/* .userLoginMethodsModal .title .background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #222;
  transform: skewX(-20deg);
  z-index: -1;
} */

.userLoginMethodsModal .methodBtn {
  /* position: relative; */
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #000;
  border: 2px solid #fff;
  font-family: 'PlazaRegular';
  transition: background-color 1s cubic-bezier(0, 1, 0, 1);
}

.userLoginMethodsModal .methodBtn:hover {
  background: #fff;
  transition: background-color 0.3s cubic-bezier(0, 1, 0, 1);
}

.userLoginMethodsModal a {
  text-decoration: none;
}

.userLoginMethodsModal .methodBtn img {
  /* position: absolute;
  left: 10px; */
  width: 28px;
  height: 28px;
  margin: 10px;
}

.userLoginMethodsModal .methodBtn .methodBtnText {
  display: flex;
  flex: 1;
  /* height: 100%; */
  /* text-align: center; */
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  line-height: 45px;
  justify-content: center;
  align-items: center;
}

.userLoginMethodsModal .methodBtn img + .methodBtnText {
  margin-right: calc(28px + 10px * 2);
}

.userLoginMethodsModal .methodBtn:hover .methodBtnText {
  color: #000;
}