.user {
	position: fixed;
  display: flex;
  top: 0;
  right: 0;
	align-items: center;
  pointer-events: none;
	user-select: none;
  z-index: 2;
}

.user:hover .name {
	transform: translateX(-30px);
  background-color: #ef5350;
}
.user:hover .name::before {
	border-right-color: #ef5350;
}
.user:hover::before {
	width: 100%;
}
.user:active .name {
	background-color: #283593;
}
.user:active .name::before {
	border-right-color: #283593;
}

.user .name {
	position: relative;
	display: flex;
	height: 80px;
	margin-right: -30px;
	/* margin-bottom: auto; */
  padding: 0 10px;
	padding-right: 40px;
	padding-top: 30px;
	background-color: #000;
	color: #FFF;
	align-items: center;
}
.user .name {
	transition: all 2s cubic-bezier(0, 1, 0, 1);
}

/* */

.user .keyWrap {
  perspective: 400px;
  perspective-origin: -100px 100px;
  pointer-events: all;
}
.user:not(.loggedIn) .keyWrap {
  cursor: pointer;
}
.user .key {
  display: flex;
  margin-top: 5px;
  align-items: center;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.user:not(.loggedIn) .keyWrap:hover .key,
.user.open .keyWrap .key
{
  transform: translate3d(15px, 0, 0);
}
.user:not(.loggedIn) .keyWrap:active .key {
  transform: translate3d(15px, 0, 0) rotateX(50deg);
}
.user.loggedIn .key {
  transform: translate3d(200px, 0, 0);
}
.user .key .bow {
  position: relative;
  margin-right: -15px;
  background-color: #FFF;
  border: 3px solid #000;
  border-radius: 1000px;
  z-index: 1;
}
.user .key .bow .icon {
  --bow-size: 45px;

  width: var(--bow-size);
  height: var(--bow-size);
  padding: 8px;
}
.user .key .blade {
  position: relative;
  /* height: 30px; */
  padding: 5px 20px;
  color: #FFF;
  font-size: 14px;
}
.user .key .blade .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom,#333, #000000);
  transform: skewX(30deg);
}
.user .key .blade .text {
  position: relative;
}

/* */

.login_options {
  --size: 220px;

  position: absolute;
  top: 30px;
  right: 0;
  width: var(--size);
  padding: 10px;
  background: #000;
  font-size: initial;
  text-align: left;
  pointer-events: all;
}

.metamask {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.discord {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.metamask_text {
  margin-left: 10px;
}

.discord_text {
  margin-left: 10px;
}

/* */

.loginDiv {
  width: 100%;
  text-align: -webkit-center;
}

.loginBtnText {
  display: inline-block;
  transform: skewX(20deg);
}

.loginBtnImg {
  vertical-align: middle;
  margin: 0 10px;
}

.loginBtn {
  transform: skewX(-20deg);
  background-color: rgb(0, 168, 252);
  color: rgb(0, 0, 0);
  padding: 0.5em;
  width: 10em;
  text-align: left;
  cursor: pointer;
}

/* */

.userWrap {
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 10px;
  align-items: center;
}

.userBar {
  display: flex;
  font-size: 14px;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
}
.userBar .avatarUrl {
  position: relative;
  z-index: 1;
}
.userBar .avatarUrl .img {
  --size: 50px;

  height: var(--size);
  width: var(--size);
  background-color: #FFF;
  border-radius: 7px;
  border: 3px solid #000;
  object-fit: cover;
  transform: translate(0, 0);
  transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
}
.userBar .address,
.logoutBtn
{
  display: flex;
  height: 33px;
  /* font-size: 16px; */
  align-items: center;
}
.userBar .address {
  position: relative;
  display: flex;
  padding: 0 10px;
  background-color: #000;
  border-radius: 5px 0 0 5px;
  color: #FFF;
  line-height: 1.4;
  align-items: center;
}
.userBar .avatarUrl + .address {
  border-radius: 0;
}
.userBar:hover .address {
  background-color: #00a8fc;
}
.userBar .verifiedIcon {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  object-fit: contain;
  z-index: 1;
}
.userBar .address::after {
  position: absolute;
  right: 14px;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  content: '';
}
.userBar:hover .avatarUrl .img {
  transform: scale(1.2, 1.2);
}
.logoutBtn {
  background: #333;
  color: #FFF;
  padding: 5px;
  cursor: pointer;
  pointer-events: all;
}
.logoutBtn:hover {
  background: #ef5350;
  color: white;
}