
@keyframes pulse {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.heathBarWrapper {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 250px;
    height: 80px;
    background-size: 100% 100%;
    background-image: url(./images/health-bar.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*  */

.healthBarTitle {
    position: absolute;
    top: 20px;
    left: 32px;
    width: 25px;
    padding: 3px 0px;
    text-align: center;
    color: rgb(214, 16, 16);
    font-weight: bold;
    font-size: 9px;
    background-color: #000;
}

.healthProgressWrapper {
    position: absolute;
    top: 28px;
    left: 57px;
    width: 145px;
    height: 3px;
}

.healthProgressWrapper .progress {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background: linear-gradient( 90deg, rgb(133, 6, 6) 0%, rgb(255, 70, 70) 100% );
    animation: pulse 3s ease infinite;
    background-size: 150% 100%;
}

/*  */

.manaBarTitle {
    position: absolute;
    top: 33px;
    left: 32px;
    width: 25px;
    padding: 3px 0px;
    text-align: center;
    color: rgb(104, 93, 255);
    font-weight: bold;
    font-size: 9px;
    background-color: #000;
}

.manaProgressWrapper {
    position: absolute;
    top: 41px;
    left: 57px;
    width: 145px;
    height: 3px;
}

.manaProgressWrapper .progress {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background: linear-gradient( 90deg, rgb(49, 41, 165) 0%, rgb(104, 93, 255) 100% );
    animation: pulse 3s ease infinite;
    background-size: 150% 100%;
}

/*  */

.xpBarTitle {
    position: absolute;
    top: 46px;
    left: 32px;
    width: 25px;
    padding: 3px 0px;
    text-align: center;
    color: rgb(77 234 85);
    font-weight: bold;
    font-size: 9px;
    background-color: #000;
}

.xpProgressWrapper {
    position: absolute;
    top: 54px;
    left: 57px;
    width: 145px;
    height: 3px;
}

.xpProgressWrapper .progress {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background: linear-gradient( 90deg, rgb(37, 138, 42) 0%, rgb(77 234 85) 100% );
    animation: pulse 3s ease infinite;
    background-size: 150% 100%;
}
