
.userBar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1), opacity 0.3s ease;
    transform: translate( 0px, 0px );
}

.userBar.hide {
    opacity: 0;
    transform: translate( -100%, 0px );
}

.userBar .userAvatar {
    position: relative;
    float: left;
    width: 75px;
    height: 75px;
    border: 1px solid #000;
    z-index: 2;
    cursor: pointer;
}

.userBar .userAvatar img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.userBar .btn {
    position: relative;
    float: left;
    color: #fff;
    padding: 0.5em;
    text-align: left;
    cursor: pointer;
    text-align: center;
    margin-left: -20px;
    line-height: 20px;
    z-index: 1;
}

.userBar .btn.shaded .btnBackground {
    background-color: #222;
}

.userBar .btn .btnBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: skewX(-20deg);
    background: rgb(0, 0, 0);
    z-index: 0;
}

.userBar .btn .btnText {
    position: relative;
    z-index: 1;
}

.userBar .userName {
    padding-left: 15px;
    margin-right: 18px;
    min-width: 100px;
}

.userBar .userName .btnText {
    padding-left: 10px;
}

.userBar .loginBtn {
    padding: 6px 10px;
}

.userBar .login .btnText {
    padding: 0px 7px;
}

.tabHint {
    position: relative;
    float: left;
    padding: 3px;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
}

/*  */

.userBar .userLoginMethodsModal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate( -50%, -150% );
    padding: 10px;
    background-color: #000;
    margin-top: 45px;
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1), opacity 0.3s ease, visibility 0s;
    width: 300px;
    visibility: hidden;
}

.userBar .userLoginMethodsModal.opened {
    transform: translate( -50%, -100% );
    opacity: 1;
    visibility: visible;
}

.userBar .userLoginMethodsModal .title {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 20px;
    padding: 10px 50px;
}

.userBar .userLoginMethodsModal .title .background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #222;
    transform: skewX(-20deg);
    z-index: -1;
}

.userBar .userLoginMethodsModal .methodBtn {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'PlazaRegular';
    letter-spacing: 1px;
    transition: all 1s cubic-bezier(0, 1, 0, 1);
    border: 2px solid #fff;
}

.userBar .userLoginMethodsModal .methodBtn:hover {
    background: #fff;
}

.userBar .userLoginMethodsModal a {
    text-decoration: none;
}

.userBar .userLoginMethodsModal .methodBtn img {
    position: absolute;
    left: 10px;
    margin: 10px;
}

.userBar .userLoginMethodsModal .methodBtn .methodBtnText {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    line-height: 45px;
}

.userBar .userLoginMethodsModal .methodBtn:hover .methodBtnText {
    color: #000;
}
