.audioAiPanel {
  display: flex;
  flex-direction: column;
}

/* */

.audioAiPanel .textarea {
  width: 100%;
  margin-bottom: 3px;
}

/* */

.audioAiPanel .audio,
.audioAiPanel .audioPlaceholder
{
  width: 100%;
  height: 48px;
  margin-bottom: 5px;
}
.audioAiPanel .audioPlaceholder {
  background-image: url('/images/checkerboard.svg');
  background-size: 16px;
  background-repeat: repeat;
}