.modelAiPanel {
  display: flex;
  flex-direction: column;
}

/* */

.modelAiPanel .textarea {
  width: 100%;
  margin-bottom: 3px;
}

/* */

.modelAiPanel .canvas {
  background-color: #333;
}