.modelAiPanel {
  display: flex;
  flex-direction: column;
}

/* */

.modelAiPanel .textarea {
  width: 100%;
  margin-bottom: 3px;
}

/* */

.modelAiPanel .canvas {
  background-image: url('/images/checkerboard.svg');
  background-size: 16px;
  background-repeat: repeat;
}